<style>

    .modal-footer { margin-top: 0; }

    .share {
        display: inline-block;
        width: 95%;
        margin: 5px;
        background: #fff;
        vertical-align: top;
        margin-top: 5px;
        border-radius: 6px;
        padding: 10px;
        opacity: .5;
        border:2px solid #999;
        cursor: pointer;
    }
    .share.selected {
        opacity: 1;
        border-color:#4d90fe;
    }
    .share:hover {
        border-color:#4d90fe;

    }
    .share i.icon {
      font-size: 37px;
      margin-top: 6px;
      float: left;
      width: 50px;
    }
    .share .title {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 0px;
      text-align: left;
      padding-left: 60px;
    }
    .share .desc {
        text-align: left;
        padding-left: 60px;
        font-size:13px;
        font-weight: 300;
    }

    .share-long {
        width: 95%;
        margin-top: 5px;
        margin-bottom: 6px;
        border-radius: 4px;
        background: #eee;
        display:inline-block;
        padding:12px;
        font-size: 16px;
        text-align: left;
        font-weight: 500;
    }

    ul.selectedOrgs {
      clear:both;
      margin: 0; padding: 0;
      padding-top:9px;
      list-style-type: none;
    }
    ul.selectedOrgs li {
      text-align: left;
      padding-bottom: 1px;
    }
    ul.selectedOrgs li i.x {
      margin-right:5px;
      margin-left:2px;
      opacity: .3;
    }
    ul.selectedOrgs li i.x:hover {
      opacity: 1;
    }

    /* org select dropdown */

    .userSelect .message {
      margin-top:10px;font-weight: 400;color: #555;font-size: 14px;
    }
    .userSelect .no-results {
      margin-top: 10px;
      font-weight: 400;
      color: #777;
      font-size: 15px;
      text-align: center;
    }
    ul.results {
      list-style-type: none;
      margin: 0; padding: 0;
      margin-top: 3px;
    }
    ul.results li {
      cursor: pointer;
      padding: 3px 12px;
      font-weight: 14px;
      font-weight: 500;
      white-space: nowrap;
    }
    ul.results li.isMember {
      pointer-events: none;
      cursor: pointer;
      opacity: .5;
    }
    ul.results li.isMember:hover {
      background: transparent !important;
    }
    ul.results li:hover {
      list-style-type: none;
      background: #f5f5f5;
    }

    ul.results li .arrow { 
      transition: opacity 150ms;
      opacity: 0;
      float: right;
    }
    ul.results li:hover .arrow{
      opacity: 1;
    }

    .subheader {
      padding-left: 11px;
      width: 100%;
      display: block;
      border-bottom: 1px solid #ddd;
      padding-bottom: 5px;
      font-weight:bold;
      position: relative;
    }
    .subheader.mid {
      border-top: 1px solid #ddd;
      padding-top: 4px;
      margin-top: 4px;
      margin-bottom: 5px;
    }

    .selectAll {
      position: absolute;
      display: inline-block;
      vertical-align: top;
      right: 12px;
      font-weight: normal;
      opacity: .5;
    }
    .selectAll i { margin-left: 3px; }
    .selectAll:hover {
      opacity: 1;
    }

    .select-org {
      border-bottom: 1px solid #e5e5e5;
      font-weight:bold;
      padding-left: 10px;
      padding-top: 13px;
      padding-bottom: 12px;
      padding-right:10px;
    }
    .select-org select {
      width: 214px;
      float: right;
      bottom: 7px;
      position: relative;
      font-weight: 100;
    }

</style>
<div class="modal-content">
    <div class="modal-header">
        <h3 style="font-size:22px;font-weight:100;padding-top:3px;">Publish</h3>
    </div>

    <!--<div class="select-org" ng-if="global.user.userType.indexOf('pro') > -1">
        Organization to publish as:

        <select class="form-control" ng-model="sharing.organization" ng-options="org._id as org.name for org in global.orgs">
        </select>
    </div>-->

    <div class="modal-body" style="margin-top:8px;margin-bottom:8px;padding:0;text-align:center;">

      <div ng-if="global.user.userType.indexOf('pro') == -1" style="text-align:left;padding:4px 14px 19px 14px;font-size:18px;">
        Publishing an observation will make it available to all users of Avanet. Before publishing, please make certain that all information you are submitting is accurate to the best of your ability.<br/><br/>
        <b>Are you sure you're ready to publish?</b>
      </div>

      <div ng-if="global.user.userType.indexOf('pro') > -1">

        <div class="share" ng-class="{ 'selected':sharing.sharingLevel == 'public' }" ng-click="sharing.sharingLevel='public'">
            <i class="icon fa fa-globe"></i>
            <div class="title">Public</div>
            <div class="desc">Viewable by all users</div>
        </div>

        <div class="share" ng-class="{ 'selected':sharing.sharingLevel == 'pros' }" ng-click="sharing.sharingLevel='pros'">
            <i class="icon fa fa-briefcase"></i>
            <div class="title">Professionals</div>
            <div class="desc">Viewable by all professional users</div>
        </div>

        <div class="share" ng-class="{ 'selected':sharing.sharingLevel == 'org' }" ng-click="sharing.sharingLevel='org'">
            <i class="icon fa fa-group"></i>
            <div class="title">Organization</div>
            <div class="desc">Viewable by the selected organizations</div>

            <div ng-show="sharing.sharingLevel == 'org' ">

            <div style="padding-top:10px;border-top:1px solid #ccc;margin-top:10px;text-align:left;padding-left:4px;">
            </div>

            <div class="btn-group userSelect" uib-dropdown style="float:left;">
              <button  type="button" uib-dropdown-toggle class="btn btn-default" ng-click="newSearch()">
                <i class="fa fa-plus"></i> Add Organization
              </button>
              <ul class="dropdown-menu" role="menu" style="width:260px;min-height:54px;"><li><a style="white-space:normal !important;background:transparent !important;padding:0 !important;">
              
              <div ng-show="global.orgs && global.orgs.length > 0" class='subheader'>My Organizations

                <div class="selectAll" ng-click="selectAllOrgs()" close-dropdown-on-click>Select All
                <span class="arrow"><i class="fa fa-plus"></i></span>
                </div>
              </div>
              <ul ng-show="global.orgs && global.orgs.length > 0" class="results">
                <li ng-repeat="org in global.orgs" ng-click="addOrg(org)" close-dropdown-on-click ng-class="{ isMember: isSelected(org._id) }">
                  {{ org.name }} 
                  <span ng-show="org.type=='Avalanche education'" style="color: #888;">&nbsp;&nbsp;<i class="fa fa-graduation-cap"></i>&nbsp;<span style='font-size:8px;position: relative;bottom:1px;'>EDUCATION</span></span>

                  <span class="arrow"><i class="fa fa-plus"></i></span>
                </li>
              </ul>

              <div class='subheader mid'>Outside Organizations</div>

              <div style="padding:3px 12px;">

                  <div class="form-group" style="margin-bottom:0;position:relative;">
                    <input type="text" class="form-control" placeholder="Search for an organization by name" ng-model="search.query" ng-change="doSearch()">
                    <i ng-show="search.searching" style="position:absolute;top: 5px;right: 6px;font-size: 24px;" class="ion-loading-c"></i>
                  </div>

                  <div class="no-results" ng-show="search.results.length == 0 && !search.email">
                    No results
                  </div>
                </div>

                <ul ng-show="search.results.length > 0" class="results">
                  <li ng-repeat="result in search.results" ng-click="addOrg(result)" close-dropdown-on-click ng-class="{ isMember: isSelected(result._id) }">
                    {{ result.name }} 
                    <span ng-show="result.type=='Avalanche education'" style="color: #888;">&nbsp;&nbsp;<i class="fa fa-graduation-cap"></i>&nbsp;<span style='font-size:8px;position: relative;bottom:1px;'>EDUCATION</span></span>

                    <span class="arrow"><i class="fa fa-plus"></i></span>
                  </li>
                </ul>
                <!--<button type="submit" class="btn btn-default" ng-click="closeThis($event)">Submit</button>-->

                </a></li></ul>
            </div>

            <ul class="selectedOrgs" ng-show="sharing.sharedOrganizations && sharing.sharedOrganizations.length > 0">
              <li ng-repeat="org in sharing.sharedOrganizations">
                <i class="fa fa-times x" ng-click="removeOrg(org)" title="remove this organization"></i>
                {{ org.name }}
                <span ng-show="org.type=='Avalanche education'" style="color: #888;">&nbsp;&nbsp;<i class="fa fa-graduation-cap"></i>&nbsp;<span style='font-size:8px;position: relative;bottom:1px;'>EDUCATION</span></span>
              </li>
            </ul>
          </div>
        </div>

        <div class="share" ng-class="{ 'selected':sharing.sharingLevel == 'private' }" ng-click="sharing.sharingLevel='private'">
            <i class="icon fa fa-lock"></i>
            <div class="title">Private</div>
            <div class="desc">Viewable only by you</div>
        </div>

        <!--
        <div class="share-long" style="margin-bottom:4px;" ng-show="sharing.sharingLevel == 'pros'">
        <label style="font-weight:500;margin:0;padding:0;">
          <input type="checkbox" ng-model="sharing.shareWithStudents">&nbsp;&nbsp;
          Share with avalanche education students</label>
        </div>
        <div class="share-long" ng-show="sharing.sharingLevel == 'pros'">
        <label style="font-weight:500;margin:0;padding:0;" >
          <input type="checkbox" ng-model="sharing.shareWithAvyCenter">&nbsp;&nbsp;
          Share with local and regional forecast centers</label>
        </div>
        -->

      </div>
    </div>
    <div class="modal-footer">
       <button class="btn btn-default btn-lg" ng-click="close()" style="float:left;">Cancel</button>

       <button class="btn btn-primary btn-lg" ng-click="publish()">Publish</button>
    </div>
</div>