
<style>
.list-group-item {
    border-radius:0 !important;
    border: none;
    border-top:1px solid #ddd;
}
.list-group-item:first-child {
    border:none;
}
</style>    
<div class="modal-dialog" ng-controller="ProfilesController" ng-init="find()" style="width:400px;">
    <div class="modalClose" ng-click="$parent.$parent.close()"><i class="fa fa-times"></i></div>
    <div class="modal-content">
        <div class="modal-header">
            <h3>Choose Snow Profile</h3>
        </div>
        <div class="modal-body" style="height: {{ windowHeight - 160 }}px;padding:0;">
    		
            <ul class="list-group" style="height:100%;overflow:scroll;">
                <li data-ng-repeat="profile in articles" class="list-group-item">
                    <a ng-click="$parent.$parent.select(profile)" style="padding:5px;">
                        <canvas profile="profile" width="200" height="200" style="width:50px;height:50px;float:left;margin-right:14px;background:#eee;"></canvas>

                        <span style="font-size:14px;font-weight:100;">{{profile.created | date:'M/d/yy h:mm a'}}</span>
                        <h2 style="font-size:16px;"><i class="fa fa-map-marker"></i>{{profile.title}}</h2>
                    </a>
                </li>
            </ul>
            <h1 data-ng-hide="!articles || articles.length">No profiles available.</h1>

        </div>
        <div class="modal-footer" style="margin-top:0px;height:20px;">

            <!--<span class="btn btn-default" ng-click="closeModal()">Close</span>-->
        </div>
    </div>
</div>
