
/* spinner loader */

.loader {
  margin: 4.3em auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(0, 0, 0, 0.2);
  border-right: 1.1em solid rgba(0, 0, 0, 0.2);
  border-bottom: 1.1em solid rgba(0, 0, 0, 0.2);
  border-left: 1.1em solid #000;
  -webkit-animation: load8 1.5s infinite linear;
  animation: load8 1.5s infinite linear;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader.white {
  border-top: 1.1em solid rgba(255,255,255, 0.2);
  border-right: 1.1em solid rgba(255,255,255, 0.2);
  border-bottom: 1.1em solid rgba(255,255,255, 0.2);
  border-left: 1.1em solid #fff;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


/* radial progress */

.radial-progress {
  font-size: 10px;
  $circle-size: 10em;
  $circle-background: rgba(0,0,0,.2);
  $circle-color: #000;
  $inset-size: 7.8em;
  $inset-color: #fff;
  $transition-length: 0ms;

  $percentage-color: #fff;
  $percentage-font-size: 1.5em;
  $percentage-text-width: 4em;

  margin: 4.3em auto;
  width:  $circle-size;
  height: $circle-size;

  background-color: $circle-background;
  border-radius: 50%;
  .inner-circle {
    .mask, .fill, .shadow {
      width:    $circle-size;
      height:   $circle-size;
      position: absolute;
      border-radius: 50%;
    }
    .mask, .fill {
      -webkit-backface-visibility: hidden;
      transition: -webkit-transform $transition-length;
      transition: -ms-transform $transition-length;
      transition: transform $transition-length;
      border-radius: 50%;
    }
    .mask {
      clip: rect(0px, $circle-size, $circle-size, $circle-size/2);
      .fill {
        clip: rect(0px, $circle-size/2, $circle-size, 0px);
        background-color: $circle-color;
      }
    }
  }
  .inset {
    width:       $inset-size;
    height:      $inset-size;
    position:    absolute;
    margin-left: ($circle-size - $inset-size)/2;
    margin-top:  ($circle-size - $inset-size)/2;

    background-color: $inset-color;
    border-radius: 50%;
    .percentage {
      height:   $percentage-font-size;
      width:    $percentage-text-width;
      overflow: hidden;

      position: absolute;
      top:      ($inset-size - $percentage-font-size) / 2;
      left:     ($inset-size - $percentage-text-width) / 2;

      line-height: 1;
      .numbers {
        margin-top: -$percentage-font-size;
        transition: width $transition-length;
        span {
          width:          $percentage-text-width;
          display:        inline-block;
          vertical-align: top;
          text-align:     center;
          font-weight:    800;
          font-size:      $percentage-font-size;
          font-family:    'Roboto Condensed', Arial, Helvetica;
          color:          $percentage-color;
        }
      }
    }
  }

  $i: 0;
  $increment: 180deg / 100;

  /*.loop (@i) when (@i <= 100) {*/
  @for $i from 0 through 100 {
    &[data-progress="#{$i}"] {
      .inner-circle {
        .mask.full, .fill {
          -webkit-transform: rotate($increment * $i);
          -ms-transform: rotate($increment * $i);
          transform: rotate($increment * $i);
        } 
        .fill.fix {
          -webkit-transform: rotate($increment * $i * 2);
          -ms-transform: rotate($increment * $i * 2);
          transform: rotate($increment * $i * 2);
        }
      }
      .inset .percentage .numbers {
        width: $i * $percentage-text-width + $percentage-text-width;
      }
    }
    //.loop($i + 1);
  }
  //.loop($i);
}
