<style>
.timepicker {
	display: inline-block;
	vertical-align: top;
}
.timepicker input.form-control {
	width: 37px !important;
	padding-left: 2px;
	padding-right: 2px;
	margin-top: 1px;
}
.timepicker button {
	height: 28px;
	width: 37px;
	padding: 0;
	margin-left: 2px;
	margin-top: 1px;
	font-size: 13px;
}
</style>

<section ng-controller="SnowpitController" ng-init="init()">

<div ng-show="loading" class="loading-screen fadeIn">
	<i class="fa fa-circle-o-notch fa-spin"></i> <span>Loading</span>
</div>
<div ng-style="{ opacity: (!loading ? '1' : '0') }">
	<div class="leftPane">

		<div class="pageHeader">

			<button ng-click="publish()" class="headerButton" style="background:#4285f4;color:#fff;padding-left:12px;padding-right:9px;border-right:0;"><span style="font-weight:700;">Publish</span></button>

			<div class="btn-group" uib-dropdown>
		      <button type="button" uib-dropdown-toggle class="headerButton">
		        <i class="fa fa-download"></i><span>Download</span>
		      </button>
		      <ul class="dropdown-menu" role="menu">

		      	<li ng-class="{ disabled: _isNew }"><a href="#" ng-click="exportPDF()" close-dropdown-on-click><i class="fa fa-file-pdf-o"></i>Download PDF</a></li>
		      	<li ng-class="{ disabled: _isNew }"><a href="#" ng-click="exportJPEG()" close-dropdown-on-click><i class="fa fa-file-image-o"></i>Download JPEG</a></li>
		      	<li ng-class="{ disabled: _isNew }"><a href="#" ng-click="exportCSV()" close-dropdown-on-click><i class="fa fa-file-excel-o"></i>Download CSV</a></li>
		    </div>

			<div class="btn-group" uib-dropdown>
		      <button type="button" uib-dropdown-toggle class="headerButton"><i class="ion-eye"></i><span>Views</span><!--<i class="fa fa-caret-down"></i>--></button>
		      <ul class="dropdown-menu" role="menu">
		      	<li ng-repeat="view in views"><a ng-click="setView(view.id)" href="#" close-dropdown-on-click><i ng-style="{ opacity: settings.view == view.id ? 1 : 0 }" class="fa fa-check"></i>{{ view.name }}</a></li>
		    </div>

    		<!--<button ng-show="_public" style="width:84px;" ng-click="_public = false;" class="headerButton"><i class="fa fa-globe"></i><span>Public</span></button>
    		<button ng-show="!_public" style="width:84px;" ng-click="_public = true;" class="headerButton"><i class="fa fa-lock"></i><span>Private</span></button>-->

			<button ng-click="toggleDepthDirection()" class="headerButton"><i class="fa fa-long-arrow-{{ settings.depthDescending ? 'down' : 'up' }} "></i><span>Depth</span></button>

			<button class="headerButton" ng-class="{ 'open': settings.tempMode }" ng-click="toggleTempMode()"><i class="ion-thermometer"></i><span>Temperature</span></button>

			<div class="pull-right" ng-show="settings.tempMode">
	    		<button class="headerButton" ng-show="settings.tempMode" ng-click="addTemp()"><i class="fa fa-plus"></i><span>Temp</span></button>
    		</div>
			<div class="pull-right" ng-show="settings.tempMode" style="line-height:40px;padding-right:8px;">
				<span style="text-transform:uppercase;font-size:12px;margin-right:6px;">Temp. Interval:</span>
				<input class="form-control input-sm" style="width:43px;display:inline-block;padding-right:6px;" ng-model="settings.tempInterval" min="0" type="number"/>
				<span style="color:#444;font-size:12px;margin-right:6px;">cm</span>
			</div>

			<div class="pull-right" ng-show="!settings.tempMode">

	    		<button class="headerButton" ng-show="!settings.tempMode" ng-click="addLayer()"
	    		id="addLayerButton" data-trigger="manual" data-toggle="tooltip" data-placement="bottom" title="Start by adding a layer" data-container=".pageHeader"
	    		><i class="fa fa-plus"></i><span>Layer</span></button>


			    <div class="btn-group pull-right" uib-dropdown>
			      <button type="button" uib-dropdown-toggle class="headerButton"><i class="fa fa-plus"></i><span>Density</span></button>
			      <ul class="dropdown-menu no-list" style="padding:5px;" role="menu"><li><a>

				       	<form class="form-inline">
					        <div class="form-group">
					          <input ng-model="newDensity.depth" type="number" class="form-control" placeholder="Depth" style="width:60px;padding-right:0px;padding-left:10px;">
					        </div>
					        <div class="form-group">
					          <input ng-model="newDensity.density" type="number" class="form-control" placeholder="Density" style="width:66px;padding-left:8px;padding-right:0px;">
					        </div>

				        	<button style="margin-left:4px;" type="submit" class="btn btn-primary" close-dropdown-on-click ng-click="addDensity();">Add</button>
				        </form>

			        </a></li></ul>
			    </div>

			    <div class="btn-group pull-right" uib-dropdown>
			      <button type="button" uib-dropdown-toggle class="headerButton"><i class="fa fa-plus"></i><span>Comment</span></button>
			      <ul class="dropdown-menu no-list stability" ng-click="$event.stopPropagation()"><li><a>

				    	<div stability-test prof="profile" depth-descending="settings.depthDescending" test-type="'comment'"></div>

			        </a></li></ul>
			    </div>

				<div class="btn-group pull-right" uib-dropdown>
			      <button type="button" uib-dropdown-toggle class="headerButton"><i class="fa fa-plus"></i><span>Test Result</span></button>
			      <ul class="dropdown-menu no-list stability" ng-click="$event.stopPropagation()"><li><a>

				    	<div stability-test prof="profile" depth-descending="settings.depthDescending"></div>

			        </a></li></ul>
			    </div>
	    		<!--<button style="width:80px;" ng-show="settings.tempMode" ng-click="settings.tempMode = false" class="btn btn-default"><i class="fa fa-align-right"></i>&nbsp;&nbsp;Layers</button>-->

    		</div>
		</div>

		<div style="margin:auto;width:750px;">

			<div class="snowpit-container" style="position:relative;" ng-style="{ height: snowpitHeight }">

				<!-- layers canvas -->
				<canvas profile-editor="profile"
					settings="settings"
					options="canvasOptions"
					columns="columns"
					client-layers="clientLayers"
					client-comments="clientComments"
					id="profileCanvas" style="z-index:900;position:absolute;left:0;" ng-style="{ width: snowpitWidth, height: snowpitHeight }" width="{{ snowpitWidth }}" height="{{ snowpitHeight }}"></canvas>

				<!-- stability tests + comments -->
				<div style="margin-top:0px;float:left;position:relative;z-index:1003;float:left"  ng-style="{ height: snowpitHeight - 55, width: columns[0].width }" ng-class="{ 'no-click':settings.tempMode }">
					<div ng-style="{ height: clientComments[$index].clientHeight + 2, top: (clientComments[$index].clientDepth - 12) }" ng-repeat="note in profile.tests" class="btn-group" style="text-align:center;left:0;right:15px;position:absolute;"
					ng-mouseover="hoverComment(note)"
					ng-mouseout="hoverComment(null)"
					uib-dropdown>

						<span style="height:100%;display:inline-block;width:100%;opacity:0;cursor:pointer;" uib-dropdown-toggle></span>
				      	<ul class="dropdown-menu no-list stability" role="menu" style="margin-left:4px;"><li><a>

		    				<div stability-test test="note" prof="profile" depth-descending="settings.depthDescending"></div>

				      	</a></li></ul>
					</div>
				</div>

				<!-- density -->
				<div style="margin-top:75px;float:left;position:relative;z-index:1002;"  ng-style="{ height: snowpitHeight - 95, width: columns[1].width }" ng-class="{ 'no-click':settings.tempMode }">

					<div ng-repeat="density in profile.density" class="btn-group" style="text-align:center;width:100%;position:absolute;" ng-style="{ top: (snowpitHeight - 95) - (((profile.depth - density.depth) / profile.depth) * (snowpitHeight - 95)) - 12 }" uib-dropdown>

						<span uib-dropdown-toggle class="densityButton" ng-click="newDensity = { density: density.density, depth: (settings.depthDescending ? profile.depth - density.depth : density.depth) }">{{ density.density }}</span>
				      	<ul class="dropdown-menu no-list" role="menu" style="margin-left:4px;min-width:50px;padding:5px;"><li><a>
			      			<form class="form-inline" style="text-align:left;">

								<input class="form-control input-sm" style="width:53px;padding-right:0;" type="number" ng-model="newDensity.depth"/>
								<input class="form-control input-sm" style="width:53px;padding-right:0;" type="number" ng-model="newDensity.density"/>

								<div style="width: 100%;text-align: right;margin-top:4px;">
									<button ng-click="saveDensity(density,newDensity)" class="btn btn-primary btn-sm" close-dropdown-on-click type="submit">Save</button>
								</div>
							</form>

			      			<button ng-click="deleteDensity($index)" class="btn btn-default btn-sm" style="position:absolute; bottom: 5px; left: 4px;" close-dropdown-on-click><i class="fa fa-trash-o"></i></button>
					      	</a></li>
				      	</ul>
					</div>
				</div>

				<!-- layer interactions -->
				<div style="float:left;position:relative;z-index:1000;pointer-events:none;" ng-style="{ width: graphWidth, height: snowpitHeight - 55 };" class="interactions">

					<!-- layer interactivity -->
					<div ng-class="{ 'newHide':settings.tempMode }" style="position:absolute;width:100%;height:100%;">
						<!-- layer height drag/resize area -->
						<div
							ng-class="{ 'newHide': settings.tempMode }"
							draggable-layer="layer"
							ng-repeat="layer in profile.layers"
							ng-style="{ bottom: clientLayers[$index].clientBottom, width: clientLayers[$index].clientWidthBottom }"
							class="grabber"
							ng-mouseover="$parent.hoverDragArea(layer)"
							ng-mouseout="$parent.hoverDragArea()"
							ng-mousedown="$parent.selectLayer(layer)"
							style="position:absolute;right:0;pointer-events:all;z-index:998;cursor:row-resize;margin-bottom:-3px;height:7px;width:100%;background:transparent;">

								<div ng-if="$index == profile.layers.length - 1" style="width:100%;height:100%;"
								class="layerDrag" data-trigger="manual" data-toggle="tooltip" data-placement="bottom" title="Drag to adjust layer height" data-container=".snowpit-container"
								></div>
						</div>


						<!-- hardness both -->
						<div ng-class="{ 'newHide': settings.tempMode }"

                 			data-trigger="manual"
			                data-toggle="tooltip"
			                data-placement="left"
			                title="Drag to adjust layer hardness"
			                data-container=".snowpit-container"

							ng-if="settings.selectedLayer == layer && hardDif(settings.selectedLayer) == 0"
							class="hardnessBar"
							draggable-hardness="layer" draggable-type="both"
							ng-repeat="layer in profile.layers"
							ng-style="{ bottom: clientLayers[$index].clientBottom, right: clientLayers[$index].clientWidthBottom, height: clientLayers[$index].clientHeight }"
							ng-mousedown="$parent.selectLayer(layer)"
							style="position:absolute;pointer-events:all;z-index:998;cursor:col-resize;width:14px;background:transparent;margin-right:-7px;">

							<div class="innerBar"></div>

						</div>

						<!-- hardness top -->
						<div
							data-trigger="manual"
			                data-toggle="tooltip"
			                data-placement="left"
			                title="Drag to adjust the top only"
			                data-container=".snowpit-container"

							ng-if="settings.selectedLayer == layer && clientLayers[$index].clientHeight > 15"
							class="hardnessCircle hardnessDragTop"
							ng-class="{ 'newHide': settings.tempMode }"
							draggable-hardness="layer" draggable-type="top"
							ng-repeat="layer in profile.layers"
							ng-style="{ bottom: clientLayers[$index].clientBottom  + clientLayers[$index].clientHeight, right: clientLayers[$index].clientWidthTop }"
							ng-mousedown="$parent.selectLayer(layer)"
							style="position:absolute;pointer-events:all;z-index:998;cursor:ew-resize;width:10px;height:10px;background:#fff;border-radius:10px;border:2px solid #000;margin-bottom:-5px;margin-right:-5px;">
						</div>

						<!-- hardness bottom -->
						<div
							data-trigger="manual"
			                data-toggle="tooltip"
			                data-placement="left"
			                title="Drag to adjust the bottom only"
			                data-container=".snowpit-container"

							ng-if="settings.selectedLayer == layer && clientLayers[$index].clientHeight > 15"
							class="hardnessDragBottom hardnessCircle"
							ng-class="{ 'newHide': settings.tempMode }"
							draggable-hardness="layer" draggable-type="bottom"
							ng-repeat="layer in profile.layers"
							ng-style="{ bottom: clientLayers[$index].clientBottom, right: clientLayers[$index].clientWidthBottom }"
							ng-mousedown="$parent.selectLayer(layer)"
							style="position:absolute;pointer-events:all;z-index:998;cursor:ew-resize;width:10px;height:10px;background:#fff;border-radius:10px;border:2px solid #000;margin-bottom:-5px;margin-right:-5px;">
						</div>

					</div>

					<!-- temperature profile -->
					<div ng-class="{ 'newHide':!settings.tempMode }" ng-style="{ 'pointer-events': settings.tempMode ? 'all' : 'none' }" style="position:absolute;width:100%;height:100%;">

						<!-- temp sliders -->
						<div ng-repeat="temp in profile.temps" style="position:absolute;pointer-events:all;" ng-style="{ width: graphWidth, top: (temp.depth * ((snowpitHeight - 95) / profile.depth)) + 40 }">
							<input type="range" ng-mouseover="selectTemp(temp)" class="temp"
								min="-30" max="0" step=".5" ng-model="temp.temp"
								ng-if="settings.tempMode"></input>

							<form style="opacity:0;transition:opacity 100ms;white-space:nowrap;border-radius:2px;padding:2px;background:rgba(255,255,255,.85);box-shadow:0px 0px 4px rgba(0,0,0,.5);position:relative;display:inline-block;margin-left: 12px;bottom:10px;font-size:10px;z-index:9999;text-shadow:0 0 1px white;cursor:default;font-weight:400;" ng-style="{ left: graphWidth - (-temp.temp * (graphWidth / 30)), opacity: selectedTemp == temp ? 1 : 0, 'pointer-events': selectedTemp == temp ? 'all' : 'none' }">

								<span style="width:40px;margin:0px 4px;">{{ translateTemp(temp.temp) }}</span>

								| {{ settings.depthDescending ? profile.depth - temp.depth : temp.depth }}cm

								<span style="cursor:pointer;margin:0 4px;" ng-click="deleteTemp(temp)"><i class="fa fa-times"></i></span>

								<input ng-click="saveTemp(temp,$event,$index)"  type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
							</form>
						</div>

					</div>

				</div>
				<div class="interfaceButtons" ng-style="{ height: snowpitHeight }" ng-class="{ 'no-click':settings.tempMode }">

					<div style="top:0px" class="btn-group" uib-dropdown>
				      <button type="button" uib-dropdown-toggle class="interfaceButton">{{ settings.depthDescending ? profile.depth : 0 }} <span style='font-weight:100;'>SURFACE</span></button>
				      <ul class="dropdown-menu" role="menu" style="margin-left:3px;">
				      	<li ><a ng-click="addLayer(-1)" href="#" close-dropdown-on-click><i class="fa fa-plus"></i>Insert layer</a></li>
				    </div>

					<div ng-repeat="layer in profile.layers" ng-style="{ 'top': (clientLayers[$index].sideLayerDepthClient) }" class="btn-group" uib-dropdown>
				      <button type="button" uib-dropdown-toggle class="interfaceButton">{{ settings.depthDescending ? layer.depth : profile.depth-layer.depth }}</button>
				      <ul class="dropdown-menu" role="menu" style="margin-left:3px;">
				      	<li ><a ng-click="addLayer($index)" href="#" close-dropdown-on-click><i class="fa fa-plus"></i>Insert layer</a></li>
				    </div>
				</div>

			</div>
		</div>
	</div>

	<div class="rightPane">

		<div class="pageHeader">
			<button type="button" class="headerButton" ng-click="rightPaneMode = 'snowpit'" ng-class="{ selected: rightPaneMode == 'snowpit' }"><span>Snowpit</span></button>
			<button type="button" class="headerButton" ng-click="rightPaneMode = 'photos'" ng-class="{ selected: rightPaneMode == 'photos' }"><span>Photos</span></button>
			<button type="button" class="headerButton" ng-click="rightPaneMode = 'notes'" ng-class="{ selected: rightPaneMode == 'notes' }"><span>Notes</span></button>
			<button type="button" class="headerButton" ng-show="settings.selectedLayer != null" ng-click="rightPaneMode = 'layer'" ng-class="{ selected: rightPaneMode == 'layer' }"><span>Layer&nbsp;{{ ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z','AA','BB','CC','DD','EE','FF','GG','HH','II','JJ','KK','LL','MM','NN','OO','PP','QQ','RR','SS','TT','UU','VV','WW','XX','YY','XX'][settings.selectedLayer.index] }}</span></button>


			<button ng-hide="_isNew" ng-click="delete()" class="tooltip-trigger headerButton right" style="padding-left:5px;padding-right:5px;"
 			data-trigger="hover"
            data-placement="left"
            data-toggle="tooltip"
            title="Delete Snowpit"
            data-container=".layer-details"
            ><i class="fa fa-trash-o"></i></button>
		</div>

		<div ng-show="rightPaneMode == 'snowpit'">

				<div style="width:100%;display:inline-block;margin-left:-0px;margin-top:8px;">

					<div class="param">
					   <span class="lbl">Snowpit Depth</span>
					   <div class="paramHolder" style="width:65px;">
						   <input min="10" max="400" class="form-control" on-change="profile._depth" />
						   <span class="info">cm</span>
					   </div>
				    <!--</div>
					<div class="param" style="padding-top:1px;">-->
				   		<span class="lbl"  style="width:65px;">Snowpack</span>
					    <div class="paramHolder" style="width:65px;">
							<input class="form-control" ng-model="profile.snowpackHeight" number-only allow-decimal="false" allow-negative="false" />
							<span class="info">cm</span>
						</div>
				   </div>

					<div class="param" ng-show="global.orgs && global.orgs.length > 0">
					   <span class="lbl">Organization</span>
						<select class="form-control" ng-model="profile.organization" style="width:200px;" ng-options="org._id as org.name for org in global.orgs">
						</select>
					</div>

					<div class="param">
					   <span class="lbl">Date</span>
					   <input style="width:80px;padding-right:1px;" class="form-control" ng-model="obDate" type="text" pikaday="pickerObject" max-date="{{ today }}" date-input maxlength="10" />
					   <uib-timepicker class="timepicker" ng-model="obTime" hour-step="1" minute-step="1" show-spinners="false"></uib-timepicker>
					</div>

					<div class="param">
					   <span class="lbl">Location</span>
					  <input class="form-control" ng-model="profile.locationName" style="width:200px;" />
					  <br/>
					   <span class="lbl">Lat/Lng</span>
					   <div class="paramHolder" style="width:98px;">
					   		<input class="form-control" ng-model="profile._lat" />
					   		<span class="info">°</span>
				  		</div>
					   <div class="paramHolder" style="width:99px;">
					  		<input class="form-control" ng-model="profile._lng" />
					  		<span class="info" >°</span>
				  		</div>
					  <br/>

					  <span class="lbl"></span>
					  <button class="btn btn-primary btn-sm" ng-click="selectLocation()" type="button" style="width:200px;margin-top:1px;margin-bottom:2px;padding-left:0px;padding-right:0px;font-size:13px;"><i class="fa fa-map-marker"></i>&nbsp;&nbsp;Click to place on map</button>
					</div>

					<div class="param">
					   <span class="lbl">Elevation</span>
					    <div class="paramHolder" style="width:65px;">
					  		<input class="form-control"
					  		       ng-model="profile.elevation"
					  		       test-number-only
					  		       allow-decimal="true"
					  		       allow-negative="false"
					  		       max-num="9000"
					  		       meters-or-feet="{{ global.user.settings.elevation }}" />
					  		<span class="info" ng-show="global.user.settings.elevation == 0">m</span>
					  		<span class="info" ng-show="global.user.settings.elevation == 1">ft</span>
				  		</div>

					   <span class="lbl" style="width:64px;">Air Temp.</span>
					   <div class="paramHolder" style="width:65px;">
					  		<input class="form-control"
					  		       ng-model="profile.airTemp"
					  		       temp-units="{{ global.user.settings.tempUnits == 0 ? 'C' : 'F' }}"
					  		       number-only
					  		       allow-decimal="true"
					  		       allow-negative="true" />
					  		<span class="info" ng-show="global.user.settings.tempUnits == 0">°C</span>
					  		<span class="info" ng-show="global.user.settings.tempUnits == 1">°F</span>
				  		</div>

					</div>
					<div class="param">
					   <span class="lbl">Slope</span>
					   <div class="paramHolder" style="width:65px;">
					  		<input class="form-control" ng-model="profile.slope" number-only allow-decimal="true" allow-negative="false" max-num="70" />
					  		<span class="info">°</span>
				  		</div>

					   <span class="lbl"  style="width:64px;">Aspect</span>
				  		<input-direction input-class="form-control" ng-model="profile.aspect"></input-direction>
					</div>

					<div class="param"  style="border-bottom:none;">

					    <span class="lbl" style="vertical-align:top;">Surface Grains</span>
					    <div style="width:200px;display:inline-block;padding-top: 1px;">
							<grain-select ng-model="profile.surfaceGrainType" placeholder="select primary type" class="small"></grain-select>

							<grain-select ng-model="profile.surfaceGrainType2" placeholder="select secondary type" ng-show="profile.surfaceGrainType" class="small" style="margin-top: 2px;margin-bottom: 3px;"></grain-select>
						</div>
					</div>
					<div class="param" style="padding-top:0px;">

					    <span class="lbl">Grain Size</span>

						<select class="form-control" style="width:56px;" ng-model="profile.surfaceGrainSize" ng-options="grainSize for grainSize in grainSizes"></select>
						-
						<select class="form-control" style="width:56px;" ng-model="profile.surfaceGrainSize2" ng-options="grainSize for grainSize in grainSizes"></select>
					</div>

					<div class="param">
					   <span class="lbl">Sky Condition</span>

						<select class="form-control" ng-model="profile.sky" style="width:101px;">
							<option value=""></option>
							<option value="CLR">Clear</option>
							<option value="FEW">Few</option>
							<option value="SCT">Scattered</option>
							<option value="BKN">Broken</option>
							<option value="OVC">Overcast</option>
							<option value="X">Obscured</option>
						</select>

					</div>
					<div class="param">
					   <span class="lbl">Wind Speed</span>
						<!-- http://www.avalanche.org/research/guidelines/pdf/Chapter1.pdf (page 18) -->
						<select class="form-control" ng-model="profile.windSpeed" style="width:101px;">
							<option value=""></option>
							<option value="C">Calm</option>
							<option value="L">Light</option>
							<option value="M">Moderate</option>
							<option value="S">Strong</option>
							<option value="X">Extreme</option>
						</select>

					   <span class="lbl right">Dir.</span>
						<input-direction input-class="form-control" ng-model="profile.windDirection"></input-direction>
					</div>
					<div class="param">
					  <span class="lbl">Blowing Snow</span>
					  <!-- http://www.avalanche.org/research/guidelines/pdf/Chapter1.pdf (page 19) -->
						<select class="form-control" ng-model="profile.blowingSnow" style="width:101px;">
							<option value=""></option>
							<option value="None">None</option>
							<option value="Prev">Previous</option>
							<option value="L">Light</option>
							<option value="M">Moderate</option>
							<option value="I">Intense</option>
							<option value="U">Unkown</option>
						</select>
						<span class="lbl right">Dir.</span>
						<input-direction input-class="form-control" ng-model="profile.blowingSnowDirection"></input-direction>
					</div>
					<div class="param">
					  <span class="lbl">Precipitation</span>
						<!-- http://www.avalanche.org/research/guidelines/pdf/Chapter1.pdf (page 7) -->
						<select class="form-control" ng-model="profile.precipType" style="width:200px;">
							<option value=""></option>
							<option value="NO">No Precipitation</option>

							<optgroup label="Rain">
								<option value="RA1">Rain - Very Light</option>
								<option value="RA2">Rain - Light</option>
								<option value="RA3">Rain - Moderate</option>
								<option value="RA4">Rain - Heavy</option>
							</optgroup>

							<optgroup label="Snow">
								<option value="SN1">Snow - Very Light</option>
								<option value="SN2">Snow - Light</option>
								<option value="SN3">Snow - Moderate</option>
								<option value="SN4">Snow - Heavy</option>
								<option value="SN5">Snow - Very Heavy</option>
							</optgroup>

							<option value="RS">Rain &amp; Snow</option>
							<option value="GR">Graupel &amp; Hail</option>
							<option value="ZR">Freezing Rain</option>
						</select>

					</div>
					<div class="param">
					   <span class="lbl">Foot Pen.</span>
					   <div class="paramHolder" style="width:65px;">
						  <input class="form-control" ng-model="profile.PF" number-only allow-decimal="true" allow-negative="false" />
						  <span class="info">cm</span>
						</div>
					    <span class="lbl" style="width:64px;">Ski Pen.</span>
					    <div class="paramHolder" style="width:65px;">
						  <input class="form-control" ng-model="profile.PS" number-only allow-decimal="true" allow-negative="false" />
						  <span class="info">cm</span>
					    </div>
					</div>
				</div>
		</div>

		<div ng-show="rightPaneMode == 'notes'">
			<textarea placeholder="Notes..." class="form-control" style="margin-top:8px;margin-left:2%;height:204px;width: 96%;resize: none;font-size:12px;" ng-model="profile.notes" />
		</div>

		<div ng-show="rightPaneMode == 'layer'">
			<div ng-show="settings.selectedLayer != null" style="padding:8px;">

				<ul class="list-group layer-details">
					<li class="list-group-item">
						<span class="key">Height (cm)</span>
						<span class="value">
							<input type="number" min="1" class="form-control layerHeight" style="width:52px;padding-right:1px;" ng-model="settings.selectedLayer.height"

			     			data-trigger="manual"
			                data-toggle="tooltip"
			                data-placement="right"
			                title="Or enter manually"
			                data-container=".layer-details"
			                />
						</span>
					</li>
					<li class="list-group-item">
						<span class="key">Hardness</span>
						<span class="value form-inline">
							<!--{{ settings.selectedLayer.hardness }} {{ (settings.selectedLayer.hardness == settings.selectedLayer.hardness2 ? "" : "/ " + settings.selectedLayer.hardness2 ) }}-->

							<select class="form-control" ng-model="settings.selectedLayer.hardness" disabled="disabled">
								<option style="display:none" value=""></option>
								<option ng-repeat="(hardnessType, keyhardnessLevel) in hardness" ng-value="hardnessLevel.index">{{ hardnessType }}</option>
							</select>
							<span ng-show="settings.selectedLayer.hardness != settings.selectedLayer.hardness2">
							/
							<select class="form-control" ng-model="settings.selectedLayer.hardness2" disabled="disabled">
								<option style="display:none" value=""></option>
								<option ng-repeat="(hardnessType, keyhardnessLevel) in hardness" ng-value="hardnessLevel.index">{{ hardnessType }}</option>
							</select>
							</span>

						</span>
					</li>
					<li class="list-group-item" ng-style="{ height: settings.selectedLayer.grainType ? '82px' : '' }">
						<span class="key">Grain type</span>
						<span class="value">

							<grain-select ng-model="settings.selectedLayer.grainType" placeholder="select primary type" style="margin-top:4px;"></grain-select>

							<grain-select ng-model="settings.selectedLayer.grainType2" placeholder="select secondary type" ng-show="settings.selectedLayer.grainType" style="position:relative;bottom:5px;"></grain-select>

						</span>
					</li>
					<li class="list-group-item">
						<span class="key">Grain size</span>
						<span class="value form-inline">
							<select class="form-control" ng-model="settings.selectedLayer.grainSize" ng-options="grainSize for grainSize in grainSizes"><option style="display:none" value=""></option></select>
							-
							<select class="form-control" ng-model="settings.selectedLayer.grainSize2" ng-options="grainSize for grainSize in grainSizes"><option style="display:none" value=""></option></select>
						</span>
					</li>
					<li class="list-group-item">
						<span class="key">Water content</span>
						<span class="value form-inline">
							<select class="form-control" ng-model="settings.selectedLayer.waterContent">
								<option style="display:none" value=""></option>
								<option value="D">Dry</option>
								<option value="M">Moist</option>
								<option value="W">Wet</option>
								<option value="V">Very Wet</option>
								<option value="S">Soaked</option> <!-- http://www.avalanche.org/research/guidelines/pdf/Chapter2.pdf age 32 - "Soaked" is called "Slush" -->
							</select>

						</span>
					</li>
					<li class="list-group-item">
						<span class="key">Concern</span>
						<span class="value form-inline">
							<!--<select class="form-control" ng-model="settings.selectedLayer.concern">
								<option style="display:none" value=""></option>
								<option value="T">Top</option>
								<option value="B">Bottom</option>
								<option value="L">Layer</option>
							</select>-->


						    <div class="btn-group">
						        <label class="btn btn-default" ng-model="settings.selectedLayer.concern" uib-btn-radio="'T'" uncheckable>Top</label>
						        <label class="btn btn-default" ng-model="settings.selectedLayer.concern" uib-btn-radio="'B'" uncheckable>Bottom</label>
						        <label class="btn btn-default" ng-model="settings.selectedLayer.concern" uib-btn-radio="'L'" uncheckable>Layer</label>
						    </div>
						</span>
					</li>
					<li class="list-group-item" style="height:92px;">
						<span class="key">Notes<br/><span style="font-weight:100;" ng-show="settings.selectedLayer.notes.length > 120">({{ 150 - settings.selectedLayer.notes.length }})</span></span>
						<span class="value">
							<textarea class="form-control" style="height: 82px;resize: none;font-size:12px;" ng-model="settings.selectedLayer.notes" maxlength="150" />
						</span>
					</li>
				</ul>
			</div>

			<button ng-click="deleteLayer()" class="btn" style="float:right;margin-right:8px;"><i class="fa fa-trash-o"></i>&nbsp;&nbsp;Delete Layer</button>
		</div>

		<div ng-show="rightPaneMode == 'photos'">

			<uploader onadd="onFileAdd(file)" onprogress="onFileProgress(file)" onupload="onFileUpload(file)"></uploader>

			<div style="position: absolute;bottom: 0;top: 169px;width: 100%;" scrollable>
				<div ng-repeat="upload in uploading" ng-show="upload.uploading" style="vertical-align:top;height:20px;display:inline-block;width:306px;padding:3px;border-radius:3px;background:#eee;margin-left:6px;margin-bottom:6px;text-align:left;font-size:11px;line-height:15px;color:#666;">

					<div class="progress" style="height:12px;width:50px;display:inline-block;background:#fff;margin-right:3px;margin-top:1px;border:1px solid #bbb;border-radius:99px;overflow:hidden;">
						<div class="progress-bar progress-bar-striped active" style="transition:width 1500ms;height:100%;display:inline-block;background-size:10px 10px;vertical-align: top;" ng-style="{ width: upload.progress + '%' }"></div>
					</div>
					{{ upload.name }}
				</div>

				<div ng-repeat="photo in profile.media" class="photo-thumb" style="position:relative; vertical-align:top;height:111px;display:inline-block;width:150px;padding:5px;border-radius:3px;background:#eee;margin-left:6px;margin-bottom:6px;text-align:center;">

					<div ng-style="{ 'background-image': 'url(' + getThumbnailURL(photo) + ')' }"
					style="cursor:pointer;margin-bottom:5px;height: 100px;background-size:contain;background-position: center;background-repeat: no-repeat;" ng-click="showPhoto($index)">

						<!--<div ng-show="photo.uploading" style="padding-top:22px;font-size:40px;"><i class="fa fa-circle-o-notch fa-spin"></i></div>-->

					</div>

					<!--<input ng-model="photo.caption" class="photo=caption form-control input-sm" />-->

					<button ng-click="deletePhoto($index)" class="photo-delete"><i class="fa fa-trash-o"></i></button>
				</div>
			</div>

		</div>

	</div>
	<!-- lemons / flags legend -->
	<div ng-show="settings.view=='lemons'" style="position:absolute;left:8px;top:94px;background:rgba(255,255,255,1);font-size: 12px;line-height: 20px;font-weight: 100;padding: 12px 12px 10px 12px;border-radius:5px;box-shadow:0px 0px 6px rgba(0,0,0,.4);z-index:1003;text-shadow:0px 0px 3px #fff;">
		<div ng-show="settings.view=='lemons'" >
		    <h4 style="margin-bottom:7px;margin-top:0px;"><i class="fa fa-lemon-o"></i>&nbsp;&nbsp;Lemons</h4>
		    <b>A:</b> &nbsp;Layer depth &le; 1m<br/>
		    <b>B:</b> &nbsp;Layer height &le; 10 cm<br/>
		    <b>C:</b> &nbsp;Persistent grains: facets, surface hoar, depth hoar<br/>
		    <b>D:</b> &nbsp;Interface hardness difference &ge; 1 step<br/>
		    <b>E:</b> &nbsp;Interface grain size difference &ge; 1 mm<br/>
		</div>
		<div ng-show="settings.view=='flags'">

		    <h4 style="margin-bottom:7px;margin-top:0px;"><i class="fa fa-flag-o"></i>&nbsp;&nbsp;Flags</h4>
		    <b>A:</b> &nbsp;Grain size &gt; 1mm<br/>
		    <b>B:</b> &nbsp;Layer hardness &lt; 1F<br/>
		    <b>C:</b> &nbsp;Persistent grains: facets, depth hoar, surface hoar<br/>
		    <b>D:</b> &nbsp;Interface grain size difference &gt; 0.15mm<br/>
		    <b>E:</b> &nbsp;Interface hardness difference &gt; 1 step<br/>
		    <b>F:</b> &nbsp;Interface is 20-85cm deep<br/>
		</div>
	</div>
</div>


</section>
