<div ng-controller="HeaderController">

<header ng-if="global.user" class="navbar navbar-fixed-top navbar-inverse">

<!--
	<a class="logo" href="/"><img src="/img/logo.png"/></a>

<!--
	<ul class="nav pull-right" ng-show="global.user">
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				{{global.user.name}} <b class="caret"></b>
			</a>
			<ul class="dropdown-menu">
				<li ><a href="/logout">Logout</a></li>
			</ul>
		</li>
	</ul>
-->

<div class="container">

    <div class="navbar-header">
      <!-- menu button -->
      <button snap-toggle class="navbar-toggle" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
      </button>
       <a href="/" class="navbar-brand">
	      <img src="/img/logo_icon.png" />
      </a>
    </div>

    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <a href="/" style="text-decoration:none !important;"><div style="display: inline-block;float: left;color: #fff;font-size: 30px;font-weight: 500;padding-top: 6px;line-height:36px;">Avanet
      <span ng-show="global.user.student === true" style='color:#ddd;font-weight:100;'>Education</span>
      </div>&nbsp;<span style='font-size:13px;text-transform:uppercase;color:#bbb;position:relative;top:14px;left:1px;font-weight:100;'>BETA</span></a>
   

      <ul class="nav navbar-nav navbar-right" ng-if="global.user">
 

        <li class="dropdown">
          <a style="font-weight:500;color:#fff;" href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-plus"></i>&nbsp;&nbsp;{{ 'new_observation' | translate }}</a>
          <ul class="dropdown-menu">
            <li><a href="/profiles/new" style="font-size:17px;">{{ 'snowpit' | translate }}</a></li>
            <li><a href="/avalanches/new" style="font-size:17px;">{{ 'avalanche' | translate }}</a></li>
            <li><a href="#" ng-click="deviceUpload()" style="font-size:17px;">{{ 'usb_upload' | translate }}</a></li>
          </ul>
        </li>

       <!-- <li class="dropdown">
          <a style="font-weight:500;color:#fff;" href="/observations">My Observations</a>
        </li>-->

        <li class="dropdown" ng-hide="global.user.student === true">
          <a style="font-weight:500;color:#fff;" href="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'organizations' | translate }}<b style="margin-left:8px;" class="caret"></b></a>
          <ul class="dropdown-menu">
            <li ng-repeat="org in global.orgs" ><a href="/orgs/{{ org._id }}">{{ org.name }}
            <span ng-show="org.type=='Avalanche education'" style="color: #888;">&nbsp;&nbsp;<i class="fa fa-graduation-cap"></i>&nbsp;<span style='font-size:8px;position: relative;bottom:1px;'>{{ 'education' | translate }}</span></span>
            </a></li>
            <li ng-if="global.orgs.length > 0" class="divider"></li>
            <li ><a href="/orgs/new"><i class="fa fa-plus"></i>{{ 'new_organization' | translate }}</a></li>
          </ul>
        </li>

        <!--<li>
          <a href="https://s3.amazonaws.com/avatech-static/AvaNet-GettingStarted.pdf" target="_blank" style="font-weight:500;background:#ffcc00;color:#000;text-shadow:none;margin-top: 5px;height: 35px;line-height: 37px;border-radius: 3px;box-shadow: 0px 0px 3px rgba(0,0,0,.6);margin-right:5px;"><i class="fa fa-question-circle" style="margin-right:6px;"></i> Getting Started Guide</a>
        </li>-->

        <li class="dropdown">
	        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{global.user.fullName}}<b style="margin-left:8px;" class="caret"></b></a>
	        <ul class="dropdown-menu">
	          <!--<li><a href="#">Account</a></li>
	          <li ng-if="global.user.admin" class="divider"></li>
            <li role="presentation" class="dropdown-header">ORGANIZATIONS</li>
            <li ng-repeat="org in global.orgs" ><a href="/orgs/{{ org._id }}">{{ org.name }}</a></li>
            <li ><a href="/orgs/new"><i class="fa fa-plus"></i>New Organization</a></li>
            <li ng-if="global.orgs.length > 0" class="divider"></li>-->


            <li><a href="/settings">{{ 'user_settings' | translate }}</a></li>
            <li class="divider"></li>
            
            <li><a href="/support" target="_blank">{{ 'support' | translate }}</a></li>
            <li><a href="#" ng-click="registerSP1()">{{ 'register_device' | translate }}</a></li>
            <li><a href="/app" target="_blank">{{ 'download_app' | translate }}</a></li>
            <!--<li><a href="/SP1manual" target="_blank">SP1 User Manual</a></li>-->
            <li><a href="/SP1update" target="_blank">{{ 'firmware_update' | translate }}</a></li>
            <li class="divider"></li>

	          <li ng-if="global.user.admin" ><a href="/admin">Admin</a></li>
	          <li ng-if="global.user.admin" class="divider"></li>
	          <li><a href="/logout">{{ 'logout' | translate }}</a></li>
	        </ul>
	      </li>
      </ul>
    </nav>
  </div>

</header>

</div>