
<style>

.commentsSection {
	right: 0px;
	background: #fff;
	width: 280px;
	position: absolute;
	height: 500px;
	top: 0px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.popupHeader {
	height: 48px;
	border-bottom: 1px solid #ddd;
	font-size: 23px;
	line-height: 49px;
	padding-left: 14px;
}

table.metaData {
	margin-top:5px;
	margin-bottom:2px;
	float: left;
	margin-right:15px;
	font-size: 13px;
	margin-left:4px;
	table-layout: fixed;
}
table.metaData td {
	padding: 0px 10px 4px 10px;
	font-weight: normal;
}
table.metaData tr td:first-child {
	color: #888;
	padding-right:3px;
	font-weight:normal;
}

table.notes {
	width: 250px;
	line-height: 11px;
	margin-right: 12px;
	margin-top: 0;
	margin-right: 0;
	float: right;
	border-left: 1px solid #eee;
	height: 127px;
}
table.notes td {
	font-size: 10px;
	padding: 10px;
    white-space: pre-wrap;
    vertical-align: top;
}
</style>
<div class="modal-body" style="height:auto;padding:0;">
	<div style="font-size:14px;line-height:20px;position: relative;width: 680px;" ng-show="profile">
	<div class="popupHeader">Snow Profile</div>
	<table class="metaData" style="clear:both;position:relative;top:7px;margin-top:1px;">
		<tr>
			<td style="width:78px">Organization:</td>
			<td>{{ formatters.formatOrg(profile.organization) }}</td>
		</tr>
	</table>
	<table class="metaData" style="clear:both;">
		<tr>
			<td>Observer:</td>
			<td>{{ profile.user.fullName }}

				<span style="padding-left:4px;" ng-show="profile.sharingLevel=='org'">
				<!--<a style="font-weight:bold" href="/orgs/{{ global.orgs[0]._id }}">({{ profile.organization.name }})</a>-->
				</span>

				<span style="padding-left:10px;" ng-show="profile.sharingLevel=='private'">
				<i class="fa fa-lock"></i></span>

			</td>
		</tr>
		<tr>
			<td>Date:</td>
			<td>{{profile.date | date:'M/d/yy'}} {{profile.time | date:'h:mm a'}}</td>
		</tr>
	</table>
	<table class="metaData">
		<tr>
			<td style="width:58px">Location:</td>
			<td>{{ formatters.format(profile.metaData.location) }}</td>
		</tr>
		<tr>
			<td></td>
			<td>{{ formatters.formatLatLng(profile.location) }}</td>
		</tr>
	</table>

	<table class="metaData">
		<tr>
			<td style="width:100px">Snowpit depth:</td>
			<td>{{ formatters.formatCm(profile.depth) }}</td>
		</tr>
		<tr>
			<td>Snowpack depth:</td>
			<td>{{ formatters.formatCm(profile.metaData.snowpackHeight) }}</td>
		</tr>
	</table>

	<div style="clear:both;border-bottom:1px solid #eee;"></div>

	<table class="metaData" style="width:150px;">
		<tr>
			<td style="width:64px">Elevation:</td>
			<td>{{ formatters.formatElevation(profile.metaData.elevation) }}</td>
		</tr>
		<tr>
			<td>Slope:</td>
			<td>{{ formatters.formatSlope(profile.metaData.slope) }}</td>
		</tr>
		<tr>
			<td>Aspect:</td>
			<td>{{ formatters.formatDirection(profile.metaData.aspect) }}</td>
		</tr>
		<tr>
			<td>Air temp.:</td>
			<td>{{ formatters.formatTemp(profile.metaData.airTemp) }}</td>
		</tr>
		<tr>
			<td>Sky:</td>
			<td>{{ formatters.formatSky(profile.metaData.sky) }}
 			<img ng-show="profile.metaData.sky" src="{{ formatters.getSkyIcon(profile.metaData.sky) }}" style="height:12px;width:12px;position:relative;bottom: 2px;left: 4px;"/>
			</td>
		</tr>
	</table>
	<table class="metaData" style="width:240px;">
		<tr>
			<td style="width:92px">Wind:</td>
			<td>{{ formatters.formatWind(profile.metaData.windSpeed,profile.metaData.windDirection) }}</td>
		</tr>
		<tr>
			<td>Blowing snow:</td>
			<td>{{ formatters.formatBlowingSnow(profile.metaData.blowingSnow,profile.metaData.blowingSnowDirection) }}</td>
		</tr>
		<tr>
			<td>Precipitation:</td>
			<td>{{ formatters.formatPrecip(profile.metaData.precipType) }}</td>
		</tr>
		<tr>
			<td>Foot Pen. (PF):</td>
			<td>{{ formatters.formatCm(profile.metaData.PF) }}</td>
		</tr>
		<tr>
			<td>Ski Pen. (PS):</td>
			<td>{{ formatters.formatCm(profile.metaData.PS) }}</td>
		</tr>
	</table>

	<table class="notes">
		<tr>
			<td>{{ profile.metaData.notes }}</td>
		</tr>
	</table>

	<div style="clear:both;border-bottom:1px solid #eee;"></div>

	<div style="position: absolute; top: 8px;right:10px;">

	    <div class="btn-group" style="margin-left:2px;" ng-if="global.user._id == profile.user._id">
	      <a href="/profiles/{{ profile._id }}" class="btn btn-default btn-settings btn-sm" style="font-size: 13px;height: 32px;line-height:21px;"><i class="fa fa-pencil"></i>&nbsp;&nbsp;Edit</span></a>
	    </div>
	    
		<div class="btn-group" dropdown style="margin-left:2px;">
	      <button type="button" class="btn btn-default btn-settings btn-sm dropdown-toggle" style="font-size: 13px;height: 32px;line-height:21px;"><i class="ion-eye"></i>&nbsp;&nbsp;<span ng-show="settings.view == null">Views
	      <i class="fa fa-caret-down" style="margin-right:2px;"></i></span>

	      <span ng-show="settings.view != null && getView()">View: {{ getView().name }}
	      <i class="fa fa-caret-down" style="margin-right:2px;"></i></span>

	      </button>
	      <ul class="dropdown-menu" role="menu">
	      	<li ng-repeat="view in views"><a ng-click="setView(view.id)" href="#" close-dropdown-on-click><i ng-style="{ opacity: settings.view == view.id ? 1 : 0 }" class="fa fa-check"></i>{{ view.name }}</a></li>
	    </div>

		<div class="btn-group" dropdown style="margin-left:2px;">
		  <button type="button" class="btn btn-default btn-settings btn-sm dropdown-toggle" style="font-size: 13px;height: 32px;line-height:21px;">
		    <i class="fa fa-download"></i>&nbsp;&nbsp;Download
		    <i class="fa fa-caret-down" style="margin-right:2px;"></i>
		  </button>
		    <ul class="dropdown-menu" role="menu">
		      	<li><a href="#" ng-click="exportPDF()" close-dropdown-on-click><i class="fa fa-file-pdf-o"></i>Download PDF</a></li>
		      	<li><a href="#" ng-click="exportJPEG()" close-dropdown-on-click><i class="fa fa-file-image-o"></i>Download JPEG</a></li>
		      	<li><a href="#" ng-click="exportCSV()" close-dropdown-on-click><i class="fa fa-file-excel-o"></i>Download CSV</a></li>
	      	</ul>
		</div>

    </div>


	</div>

	<div class="snowpit-container" style="background:#f5f5f5;padding-left:15px;padding-bottom:5px;float:left;">
		<canvas profile-editor="profile" 
			settings="settings" 
			options="canvasOptions" 
			columns="columns" 

			client-layers="clientLayers"
			client-comments="clientComments"

			style="" ng-style="{ width: snowpitWidth, height: snowpitHeight }" width="{{ snowpitWidth }}" height="{{ snowpitHeight }}">
		</canvas>
	</div>

	<div class="commentsSection">
		<comments ng-show="profile" owner-type="'profile'" owner-id="profileId"></comments>
	</div>

	<div style="width:280px;position:absolute;top:500px;right:0;height:330px;background:#fff;" scrollable>
			<<div style='font-size:16px;font-weight:bold;padding:6px;'>Photos</div>
			<div ng-repeat="photo in profile.photos" style="vertical-align:top;height:145px;display:inline-block;width:156px;padding:5px;border-radius:3px;background:#eee;margin-left:6px;margin-bottom:6px;text-align:center;">
				<div style="cursor:pointer;margin-bottom:5px;background-image:url({{ photo.url }});height: 100px;background-size:contain;background-position: center;background-repeat: no-repeat;" ng-click="showPhoto($index)">
				</div>

				<span style='font-size:11px;'>{{ photo.caption }}</span>
			</div>

	</div>

</div>
<!--<div class="modal-footer" style="margin-top:0px;">

    <span class="btn btn-default" ng-click="no()">No</span>
    <span class="btn btn-warning" ng-click="yes()">Yes</span>
</div>-->