<section ng-controller="ObservationPreviewController">
<style>


.sectionHeader {
	padding-left: 14px;
	font-size:18px;
	font-weight:bold;
	margin-bottom:5px;
	margin-top:10px;
}
.popupHeader {
	height: 44px;
	position: relative;
	padding-left: 14px;
	background: #eee;
	z-index:1000;
}
.popupHeader .title {
	font-size: 20px;
	font-weight:100;
	line-height: 45px;
	float:left;
}
.buttons > div {
	display: inline-block;
	float:left;
}
.buttons {
	display: inline-block;
	float:right;
}


.photos {
	margin-top: 14px;
	margin-bottom: 8px;
}
.photos .image-container {
	position: relative;
	cursor: pointer;
	margin:0px 7px;
	height: 130px;
}
.photos .image-container img {
	//height: 130px;
}
.photos .image-container:before {
    display:block;
    content:'';
    position:absolute;
    width:100%;
    height:100%;
    -moz-box-shadow:inset 0px 0px 0px 1px rgba(0,0,0,0.15);
    -webkit-box-shadow:inset 0px 0px 0px 1px rgba(0,0,0,0.15);
    box-shadow:inset 0px 0px 0px 1px rgba(0,0,0,0.15);
}
.photos .image-container:hover:before {
    -moz-box-shadow:inset 0px 0px 0px 1px rgba(0,0,0,0.5);
    -webkit-box-shadow:inset 0px 0px 0px 1px rgba(0,0,0,0.5);
    box-shadow:inset 0px 0px 0px 1px rgba(0,0,0,0.5);
}

/*  ------------ */

.photos .media-container {
	position: relative;
	cursor: pointer;
	margin:0px 7px;
	height: 130px;
}
.photos .media-container img {
	height: 130px;
}
.photos .media-container:before {
    display:block;
    content:'';
    position:absolute;
    width:100%;
    height:100%;
    -moz-box-shadow:inset 0px 0px 0px 1px rgba(0,0,0,0.15);
    -webkit-box-shadow:inset 0px 0px 0px 1px rgba(0,0,0,0.15);
    box-shadow:inset 0px 0px 0px 1px rgba(0,0,0,0.15);
}
.photos .media-container:hover:before {
    -moz-box-shadow:inset 0px 0px 0px 1px rgba(0,0,0,0.5);
    -webkit-box-shadow:inset 0px 0px 0px 1px rgba(0,0,0,0.5);
    box-shadow:inset 0px 0px 0px 1px rgba(0,0,0,0.5);
}
.photos .media-container .inner {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    text-align: center;
}
.photos .media-container.video i {
    z-index: 1000;
    font-size: 34px;
    padding-left: 3px;
    background: rgba(255,255,255,.5);
    border-radius: 1000px;
    height: 60px;
    width: 60px;
    line-height: 60px;
    text-align: center;
    margin-top:33px;
    color: #333;
}

.photos .media-container.audio {
    width: 120px;
    height: 130px;
}
.photos .media-container.audio i {
    z-index: 1000;
    font-size: 40px;
    background: #ddd;
    border-radius: 1000px;
    height: 60px;
    width: 60px;
    line-height: 60px;
    text-align: center;
    opacity: .8;
    margin-top:33px;
}
.photos .media-container.audio input {
    margin: 8%;
    width: 84%;
}


.headshot {
	background-color: #aaa;
	height:40px;
	width:40px;
	border-radius: 100px;
    background-size: cover;
    background-position: center center;
}



/*--------------------------------------------------*/

.subheader { 
	font-weight:bold;
	margin-bottom:8px;
	color:#777;
}

/*--------------------------------------------------*/
/* only used for manual snowpits */

table.metaData {
	margin-top:5px;
	margin-bottom:8px;
	float: left;
	margin-right:15px;
	font-size: 13px;
	margin-left:4px;
	table-layout: fixed;
}
table.metaData td {
	padding: 0px 10px 4px 10px;
	font-weight: normal;
}
table.metaData tr td:first-child {
	color: #888;
	padding-right:3px;
	font-weight:normal;
	text-align: right;
}
table.metaData td span {
	color: #888;
}

/* observation data table */

table.vals {
	margin: 10px;
    margin-top: 6px;
}
table.vals td {
	padding: 6px;
	font-size: 15px;
}
table.vals td.key {
	color: #999;
	font-weight: 100;
}

/* hide modal "open tab" button */
a[title="Open in new tab"] { display: none; }

</style>

<div class="popupHeader">

	<div class="title"><span ng-show="observation">{{ "observation_types." + observation.type | translate }}</span><span ng-show="discussMode" style="color:#999;">&nbsp;&nbsp;/&nbsp;&nbsp;Discuss</span></div>
	<div class="buttons">
		<div ng-show="observation">

			<!-- all buttons -->
	      	<div style="display:inline-block;float:right;">

				<div class="btn-group filter right" ng-if="global.user._id == observation.user._id" ng-hide="discussMode">
			      <button type="button" ng-click="delete()"><i class="ion-trash-a"></i>&nbsp;&nbsp;Delete</button>
		      	</div><!-- tooltip-placement="bottom" uib-tooltip="Delete" -->

				<div class="btn-group filter right" ng-hide="discussMode || !observation.published">
			      <button type="button" ng-click="discussMode = !discussMode"><i class="ion-chatboxes"></i>&nbsp;&nbsp;Discuss
			      </button>
		      	</div>
				<div class="btn-group filter right" ng-show="discussMode">
			      <button type="button" ng-click="discussMode = !discussMode"><i class="ion-ios-arrow-back"></i>&nbsp;&nbsp;Back to profile
			      </button>
		      	</div>
	      	</div>

	      	<!-- sp profile buttons -->
	      	<div ng-if="observation.type == 'sp-profile'" style="display:inline-block;float:right">
  				<!--<div class="btn-group filter right" ng-if="global.user._id == observation.user._id" ng-hide="discussMode">
			      <button type="button" ng-click="publish()">
				       <i ng-if="observation.sharingLevel == 'pros'" class="fa fa-globe"></i> 
				       <i ng-if="observation.sharingLevel == 'org'" class="fa fa-group"></i>
				       <i ng-if="observation.sharingLevel == 'private'" class="fa fa-lock" style="margin-top:1px;"></i>
				       <i ng-if="!observation.sharingLevel" class="ion-upload"></i>
				       
				       <span style="padding-left:5px;" ng-if="observation.sharingLevel">Published</span>
				       <span style="padding-left:5px;" ng-if="!observation.sharingLevel">Publish</span>
			      </button>
		      	</div>-->

				<div class="btn-group filter right" ng-hide="discussMode">
			      <button type="button" ng-click="toggleDetail()"><i class="ion-eye"></i>&nbsp;&nbsp;Detail:&nbsp;&nbsp;{{ detailLevel }}
			      </button>
		      	</div>
	      	</div>

	      	<!-- snowpit buttons -->
	      	<div ng-if="observation.type == 'snowpit'" style="display:inline-block;float:right;">
			    
				<!--<div class="btn-group filter right" uib-dropdown ng-hide="discussMode">
			      <button type="button" uib-dropdown-toggle><i class="ion-eye"></i>&nbsp;<span ng-show="settings.view == null">Views</span>
			      <span ng-show="settings.view != null && getView()">View: {{ getView().name }}</span>
			      </button>
			      <ul class="dropdown-menu" role="menu">
			      	<li ng-repeat="view in views"><a ng-click="setView(view.id)" href="#" close-dropdown-on-click><i ng-style="{ opacity: settings.view == view.id ? 1 : 0 }" class="fa fa-check"></i>{{ view.name }}</a></li>
			    </div>-->

				<div class="btn-group filter right" uib-dropdown ng-hide="discussMode">
				  <button type="button" uib-dropdown-toggle>
				    <i class="fa fa-download"></i>&nbsp;&nbsp;Download
				  </button>
				    <ul class="dropdown-menu" role="menu">
				      	<li><a href="#" ng-click="exportPDF()" close-dropdown-on-click><i class="fa fa-file-pdf-o"></i>Download PDF</a></li>
				      	<li><a href="#" ng-click="exportJPEG()" close-dropdown-on-click><i class="fa fa-file-image-o"></i>Download JPEG</a></li>
				      	<li><a href="#" ng-click="exportCSV()" close-dropdown-on-click><i class="fa fa-file-excel-o"></i>Download CSV</a></li>
			      	</ul>
				</div>

				<div class="btn-group filter right" ng-if="global.user._id == observation.user._id" ng-hide="discussMode">
			      <button type="button" ng-click="go('/profiles/' + observation._id)"><i class="fa fa-pencil"></i>&nbsp;&nbsp;Edit</button>
			    </div>
			</div>

	    </div>

		<div class="btn-group filter right">
		  <button type="button" ng-click="close()">
			<i class="ion-close-round"></i>
		  </button>
		</div>

	</div>

</div>

<div ng-hide="observation" style="padding:15px;">
Loading...
</div>

<div style="font-size:14px;line-height:20px; background:#fff; position:absolute; top:44px; bottom:0; right:0; left:0; box-shadow: 0px 0px 8px rgba(0,0,0,.25); z-index:999;" ng-show="observation"
scrollable always-visible="true">

<div ng-hide="discussMode">

	<div style="background:#fff;padding:6px;height:52px;border-bottom:1px solid #eee;">
		<div class="headshot" style="float:left;margin-right:9px;" ng-style="{ 'background-image':'url(' + (observation.user.profilePhotoURL ? observation.user.profilePhotoURL : '/img/nophoto.jpg' ) + ')' }"></div>


		<div style="font-size:17px;margin-top:2px;">{{ observation.user.fullName }}</div>
		<div style="font-size:14px;color:#888;">{{ formatters.formatOrg(observation.organization) }}</div>
	</div>

	<div style="font-size:13px;padding-left:12px;display:inline-block;padding-right:14px;border-right:1px solid #eee;padding-top:4px;padding-bottom:4px;">
		<!--<i class="fa fa-clock-o" style="vertical-align:top;color:#aaa;margin-top:4px;margin-right:12px;float:left;font-size:30px;"></i>-->
		<div style='display:inline-block;line-height:18px;vertical-align:top;'>
		<b>Date & Time</b><br/>
		{{observation.date | date:'M/d/yy h:mm a'}}
		</div>
	</div>

	<div style="font-size:13px;display:inline-block;padding-left:8px;padding-top:4px;padding-bottom:4px;padding-right:14px;border-right:1px solid #eee;">
		<!--<i class="fa fa-compass" style="vertical-align:top;color:#aaa;margin-top:4px;margin-right:12px;float:left;font-size:30px;"></i>-->
		<div style='display:inline-block;line-height:18px;vertical-align:top;'>
		<b>Elevation</b><br/>
		{{ formatters.formatElevation(observation.elevation) }}
		</div>
	</div>
	<div style="font-size:13px;display:inline-block;padding-left:8px;padding-top:4px;padding-bottom:4px;padding-right:14px;border-right:1px solid #eee;">
		<!--<i class="fa fa-compass" style="vertical-align:top;color:#aaa;margin-top:4px;margin-right:12px;float:left;font-size:30px;"></i>-->
		<div style='display:inline-block;line-height:18px;vertical-align:top;'>
		<b>Slope</b><br/>
		{{ formatters.formatSlope(observation.slope) }}
		</div>
	</div>
	<div style="font-size:13px;display:inline-block;padding-left:8px;padding-top:4px;padding-bottom:4px;border-right:1px solid #eee;padding-right:14px;">
		<!--<i class="fa fa-compass" style="vertical-align:top;color:#aaa;margin-top:4px;margin-right:12px;float:left;font-size:30px;"></i>-->
		<div style='display:inline-block;line-height:18px;vertical-align:top;'>
		<b>Aspect</b><br/>
		{{ formatters.formatDirection(observation.aspect) }}
		</div>
	</div>

	<div style="font-size:13px;display:inline-block;padding-left:8px;padding-top:4px;padding-bottom:4px;padding-right:14px;border-right:0px solid #eee;">
		<!--<i class="fa fa-location-arrow" style="vertical-align:top;color:#aaa;margin-top:4px;margin-right:12px;float:left;font-size:30px;"></i>-->
		<div style='display:inline-block;line-height:18px;vertical-align:top;'>
		<b>Location</b><br/>
		<span ng-show="observation.locationName">{{ formatters.format(observation.locationName) }}</span>
		<span ng-hide="observation.locationName">{{ formatters.formatLatLng(observation.location) }}</span>
		</div>
	</div>

	<div style="clear:both;border-bottom:1px solid #eee;"></div>

		<!-- AVALANCHE -->
		<div ng-if="observation.type == 'avalanche'">

			<div style="padding:14px;">
				Avalanche Type: <b>{{ avalancheTypes[observation.avalancheType] }}</b><br/>
				Trigger: <b>{{ observation.trigger ? avalancheTriggers[observation.trigger] : '--' }}</b><br/>
				<div ng-show="observation.secondaryTriggers"><b>{{ getTriggerNames(observation.secondaryTriggers) }}</b></div>
				<br/>

				<div style="float:left;">
					<div class="subheader">Avalanche Size</div>

					Relative: <b>{{ observation.sizeRelative ? observation.sizeRelative : '--' }}</b><br/>
					Destructive: <b>{{ observation.sizeDestructive ? observation.sizeDestructive : '--' }}</b><br/><br/>

					<div class="subheader">Avalanche Dimensions</div>

					Slab Thickness: <b>{{ formatters.formatCmOrIn(observation.slabThickness) }}</b><br/>
					Slab Width: <b>{{ formatters.formatMetersOrFeet(observation.slabWidth) }}</b><br/>
					Vertical Fall: <b>{{ formatters.formatMetersOrFeet(observation.slabVertical) }}</b><br/><br/>
				</div>
				<div style="float:left;margin-left:40px;">
					<div class="subheader">People Involved</div>

					Caught: <b>{{ observation.peopleCaught }}</b><br/>
					Carried: <b>{{ observation.peopleCarried }}</b><br/>
					Buried - Partially: <b>{{ observation.peopleBuriedPartially }}</b><br/>
					Buried - Fully: <b>{{ observation.peopleBurriedFully }}</b><br/>
					Injured: <b>{{ observation.peopleInjured }}</b><br/>
					Killed: <b>{{ observation.peopleKilled }}</b><br/>

				</div>
			</div>
		</div>

		<!-- ------------------------------------------------------------------------------------- -->

		<!-- MANUAL SNOWPIT -->

		<div ng-if="observation.type == 'snowpit'">

			<!-- ... snowpit -->
			<div class="snowpit-container" style="background:#f4f4f4;padding-left:8px;padding-bottom:1px;padding-right:4px;text-align:right;">
				<canvas profile-editor="observation" 
					settings="settings" 
					options="canvasOptions" 
					columns="columns" 

					client-layers="clientLayers"
					client-comments="clientComments"

					style="margin-top: -4px;" ng-style="{ width: snowpitWidth, height: snowpitHeight }" width="{{ snowpitWidth }}" height="{{ snowpitHeight }}">
				</canvas>
			</div>

			<!-- ... weather -->
			<div style="clear:both;border-bottom:1px solid #eee;"></div>
			<div class="sectionHeader">Weather</div>
			<table class="metaData">
				<tr>
					<td>Air temp.</td>
					<td>{{ formatters.formatTemp(observation.airTemp) }}</td>
				</tr>
				<tr>
					<td>Sky</td>
					<td>{{ formatters.formatSky(observation.sky) }}
						<img ng-show="observation.sky" src="{{ formatters.getSkyIcon(observation.sky) }}" style="height:12px;width:12px;position:relative;bottom: 2px;left: 4px;"/>
					</td>
				</tr>
				<tr>
					<td>Wind</td>
					<td style="width:130px">{{ formatters.formatWind(observation.windSpeed,observation.windDirection) }}</td>
				</tr>
				<tr>
					<td>Precip.</td>
					<td>{{ formatters.formatPrecip(observation.precipType) }}</td>
				</tr>
			</table>
			<table class="metaData">
				<tr>
					<td>Snowpit depth</td>
					<td>{{ formatters.formatCm(observation.depth) }}</td>
				</tr>
				<tr>
					<td>Snowpack height</td>
					<td>{{ formatters.formatCm(observation.snowpackHeight) }}</td>
				</tr>
				<tr>
					<td>Blowing snow</td>
					<td>{{ formatters.formatBlowingSnow(observation.blowingSnow,observation.blowingSnowDirection) }}</td>
				</tr>
				<tr style="width:200px;">
					<td>Surface Pen.</td>
					<td>
					<div ng-show="observation.PS >= 0" style="display:inline-block;padding-right:10px;"><span>Ski:</span>
					{{ formatters.formatCm(observation.PS) }}</div>
					<div ng-show="observation.PF >= 0" style="display:inline-block;padding-right:10px;"><span>Foot:</span>
					{{ formatters.formatCm(observation.PF) }}</div></td>
				</tr>
			</table>

		</div>

		<!-- ------------------------------------------------------------------------------------- -->

		<!-- SP PROFILE -->

		<div ng-if="observation.type == 'sp-profile'">

			<div class="snowpit-container" style="background:#f4f4f4;padding-left:8px;padding-bottom:20px;padding-top:4px;">
				
				<div style="position:relative;padding-top:20px;padding-left:10px;">
					<div style="color:#777;display:inline-block;position:absolute;text-align:center;font-size:11px;top:3px;left:0;right:0;"> 
					PRESSURE (kPa)
					</div>

					<div style="color: #777; display: inline-block; position: absolute; text-align: center; font-size: 11px; top: 255px; left: -200px; right: 0; transform: rotate(270deg); width: 400px; margin-left: 10px;"> 
					DEPTH (cm)
					</div>

					<canvas graph-big="observation.rows_compressed" detail="detailLevel" width="840" height="910" style="width:420px;height:455px;margin-top: 8px; margin-left: 14px;"></canvas>
				</div>

			</div>

		</div>

		<!-- ------------------------------------------------------------------------------------- -->

		<!-- EVERYTHING ELSE -->

		<div ng-if="observation.type != 'sp-profile' && observation.type != 'avalanche' && observation.type != 'snowpit'">
			<table class="vals">
				<tr ng-repeat="row in table">
					<td class="key">{{ row.description }}:</td>
					<td>{{ row.value }}</td>
				</tr>
			</table>
		</div>

		<!-- ------------------------------------------------------------------------------------- -->


	<!-- notes -->
	<div ng-show="observation.notes && observation.notes != ''">
		<div style="clear:both;border-bottom:1px solid #eee;"></div>
		<div class="sectionHeader">Notes</div>
		<div style="font-size:13px;padding:5px 20px 14px 14px;font-weight:100;line-height:16px;">{{ observation.notes }}</div>
	</div>

	<!-- media -->
	<div ng-show="observation.media && observation.media.length > 0">
		<div style="clear:both;border-bottom:1px solid #eee;"></div>
		<div class="sectionHeader">Media</div>
		<div class="photos" style="height: 145px; overflow-y: scroll; white-space: nowrap;padding-left:7px;">
			<div ng-repeat="media in observation.media" style="vertical-align:top;display:inline-block;" ng-click="showMedia(media, $event)">
				<div class="media-container" ng-class="media.type">
					<img src="{{ getThumbnailURL(media) }}" ng-show="media.type == 'photo' || media.type == 'video'" />
					<div class="inner" ng-if="media.type == 'audio'">
						<i class="fa fa-volume-up"></i>
						<input type="range" min="0" max="1" step="0.01" ng-model="audio.progress"
						ng-show="audio.id == media.URL && audio.canPlay">
						<!--<div ng-show="audio.id == media.URL && audio.canPlay">{{ audio.currentTime }}</div>-->
					</div>
					<div class="inner" ng-if="media.type == 'video'">
						<i class="fa fa-play"></i>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>

<div ng-show="discussMode">

	<div ng-if="observation" style="position:relative;margin-left:14px;margin-right:20px;margin-bottom:12px;padding-top:6px;">
		<comments-new ng-show="observation" owner-type="'observation'" owner-id="observation._id"></comments-new>
	</div>
</div>

</div>

</div>

</section>
