 /* map search */

    .mapSearch {
		position: absolute;
		top: 12px;
		right: 10px;
		z-index: 1001;
		height: 29px;
		width:28px;
	}
    .mapSearch .btn-group >button {
		border: 1px solid #999;
		background: #fff;
		border-radius: 3px;
		box-shadow: none !important;
		position: absolute;
		right: 0px;
		z-index: 1;
		height: 29px;
		width: 28px;
	}
	.mapSearch .btn-group >button:hover {
		background: #f8f8f8;
	}
    .mapSearch .btn-group.open >button {
		border: 1px solid #aaa;
		background: #f8f8f8;
		border-radius: 0px 3px 3px 0px;
		border-left: 0;
		transition: border 150ms;
	}
	.mapSearch .btn-group ul.dropdown-menu {
		position: absolute;
		padding: 0;
		top: 0;
		right: 0;
		margin-top: 0;
		width: 0px;
		min-width: 0px;
		overflow: hidden;
		transition: width 150ms;
		display: block !important;
		z-index: 0;
		background: transparent;
		border-radius: 0;
		border: none;
	}
	.mapSearch .btn-group ul.dropdown-menu >li >a {
		border-radius:3px;
		border:1px solid #aaa;
		background: #fff !important;
		overflow: hidden;
	}
	.mapSearch .btn-group.open >button {
		display: none;
	}
	.mapSearch .btn-group.open ul.dropdown-menu {
		width: 220px;
	}
	.mapSearch input.search {
		box-shadow: none;
		padding-top: 1px;
		padding-bottom: 0px;
		padding-left: 7px;
		font-size:13px;
		height: 27px;
		border: 0;
	}

	.mapSearch .results >div {
		font-size:11px;border-top:1px solid #aaa;padding:3px;cursor:pointer;
	}
	.mapSearch .results >div:hover {
		background:#f8f8f8;
	}