body.login {

  background-color: #222;
  /*background-image: url(/img/bg_dark.png);
  background-size:400px 400px; //336px 261px*/
  text-align:center;
  padding-top: 20px;
  padding-bottom: 20px;

  // hide navbar
  .navbar { display: none; }

  .alert {
    font-size: 17px;
    font-weight: 300;
    border: none;
    padding: 14px 20px;
  }

  button.btn-black {
    border-color:#ccc;
    background:transparent;
    color:#eee;

    &:hover {
      border-color:#fff;
      background:#111;
      color:#fff;
    }
  }

  img.logo { 
      width:260px;
      height: 39px;
      margin-bottom: 40px;
      //display:none;
   }

   // form label {
   //  float: left;
   //  text-align: left;
   //  color: #fff;
   //  font-size: 18px;
   //  font-weight: 300;
   // }

  .login-form {
    width: 330px; 
    margin: auto; 
    margin-top: 20px;

    .controls {
      position:relative;

      input.form-control {
        border-color: #000;
        font-size: 20px;
        //padding: 22px 14px;
        height: 46px;
        box-shadow: none !important;
      }

      a.forgot-password {
        position: absolute;
        top: 15%;
        right: 7px;
        display: block;
        background: #dfdfdf;
        border-radius: 3px;
        height: 70%;
        font-size: 11px;
        color: #888;
        padding: 0 6px;
        line-height: 32px;
        font-weight:300;
        &:hover {
          text-decoration: none;
          background: #ccc;
          color:#777;
        }
      }
    }
  }

}