<section ng-controller="ForgotPasswordController">
	<div class="login-form">
		<a href="/"><img class="logo" src="/img/logo_horizontal.png"/></a>

		<div class="fade in alert alert-block alert-danger" ng-show="validationError">
			{{validationError}}
		</div>
		<div class="fade in alert alert-block alert-success" ng-show="resetSuccess">
			Thanks! We just sent you an email with instructions on how to reset your password.
		</div>
		<form class="signin ng-pristine ng-valid" ng-hide="resetSuccess">
				<div class="form-group">
				<label for="email" style="text-align: left; float: left; color: #fff; font-weight: 100; font-size: 16px;">Enter your email to reset your password</label>
				<div class="controls">
					<input id="email" ng-model="email" class="form-control" type="text" name="email" placeholder="Email" autofocus>
				</div>
			</div>
				<div style="padding-top:10px;text-align:right;">
				<button ng-click="send()" class="btn btn-black btn-lg">Reset Password</button>
			</div>
		</form>
	</div>
</section>