<style>
/*.form-group {
margin-bottom: 5px !important;
}*/

._form label {
	font-size: 18px;
	font-weight: 500;
}

.half-left {
	display:inline-block;width:47%;
}
.half-right {
	display:inline-block;width:47%;float:right;
}

.half-left-60 {
	display:inline-block;width:68%;
}
.half-right-40 {
	display:inline-block;width:26%;float:right;
}
</style>
<section ng-controller="RegisterController" ng-cloak class="login-page">
	<img class="logo" src="/img/avanet_logo.png"/>

	<div class="login-form" style="width:95%;" ng-style="{ opacity: busy ? 0 : 1, 'max-width': isPending ? '490px' : '760px' }">

		<div ng-if="org" style="margin-bottom:24px;">
			<div style="text-align:center;color:#fff;font-size:40px;">{{ org.name }}</div>
			<div style="color:#fff;font-size:18px;font-weight:100;">You've been invited to join Avanet Education</div>
		</div>

		<form name="registerForm" ng-submit="register()" validate ng-hide="isPending === null">

        <div id="errorArea">
            <div class="alert alert-danger" role="alert" ng-show="showError">
                {{ showError }}
            </div>
        </div>

	    <!-- professional info -->
		<div class="panel panel-default" style="border:none;">
	 		<div ng-hide="isPending" class="panel-heading" style="text-align:left;font-size:26px;font-weight:599;background-color:#fff;padding:15px 0px 12px 28px;border-bottom:none;">Sign up for Avanet
		 		<div ng-if="showPro" style="display:inline-block;color:#999;margin-left:6px;font-weight:100;">/&nbsp;&nbsp;Professional Information</div>

		 		<div ng-if="!showPro" style="float:right;">
		 			<a href="/login" style="font-size: 16px; font-weight: 100; margin-right: 30px; position: relative; bottom: 3px;">LOGIN</a>
		 		</div>

	 		</div>

			<div ng-show="isPending" style="background:#f5f5f5;text-align:center;border-radius:3px 3px 0px 0px;">

				<h3 style="font-size:20px;margin:0px;font-weight:100;line-height:24px;padding: 20px;">You've been invited to join your colleagues at<br/>
				<b style="line-height:40px;font-size: 25px;">{{ orgName }}</b>
				<br/>and snow safety professionals<br/>around the world on Avanet.</h3>

			</div>
			<ul class="list-group">
			    <li class="list-group-item container-fluid" style="padding-top:0px;padding-bottom:0px;">

	 		<div class="row">
	 			<div ng-class="isPending ? 'col-xs-12' : 'col-xs-6'" style="padding-top:20px;padding-right:28px;padding-left:28px;text-align:left;padding-bottom:10px;" ng-if="!showPro">
			    	<div role="form" class="_form">
					  <div class="form-group" name="name">
					    <label>Full name</label>
					    <input type="text" class="form-control input-lg" ng-model="reg.fullName" required placeholder="">
					  </div>
					  <div class="form-group" name="email">
					    <label>Email</label>
					    <input type="email" class="form-control input-lg" ng-model="reg.email" required="!isPending" placeholder="" ng-disabled="isPending">
					  </div>
					  <div class="form-group" name="password">
					    <label>Password</label>
					    <input type="password" class="form-control input-lg" ng-model="reg.password" required placeholder="">
					  </div>
					  <div class="form-group" name="passwordConfirm">
					    <label>Confirm password</label>
					    <input type="password" class="form-control input-lg" ng-model="reg.passwordConfirm" required placeholder="">
					  </div>

					  	<div ng-hide="isPending">
						  <label>Are you a snow safety professional?</label>
						  <div class="btn-group">
					        <label class="btn btn-default btn-lg" ng-model="reg.isPro" btn-radio="true">Yes</label>
					        <label class="btn btn-default btn-lg" ng-model="reg.isPro" btn-radio="false">No</label>
			    			</div>
		    			</div>

					</div>


				</div>

				<div class="col-xs-7" style="padding-top:20px;padding-right:28px;padding-left:28px;text-align:left;" ng-if="showPro">
			    	<div role="form" class="_form">
		    			<div>
						  <div class="form-group half-left-60" name="org">
						    <label>Organization</label>
						    <input type="text" class="form-control input-lg" ng-model="reg.org" required="showPro" placeholder="">
						  </div>
						  <div class="form-group half-right-40" name="orgSize">
						    <label>Size</label>
						    <input type="text" class="form-control input-lg" ng-model="reg.orgSize"  placeholder="">
						  </div>
					  </div>

					  <div class="form-group" name="jobTitle">
					    <label>Job title</label>
					    <input type="text" class="form-control input-lg" ng-model="reg.jobTitle" required="showPro" placeholder="">
					  </div>
				  	   <div>
						  <div class="form-group half-left" name="profession">
						    <label>Profession</label>
						    <input type="text" class="form-control input-lg" ng-model="reg.profession" required="showPro" placeholder="">
						  </div>
						  <div class="form-group half-right" name="certifications">
						    <label>Certifications</label>
						    <input type="text" class="form-control input-lg" ng-model="reg.certifications" placeholder="">
						  </div>
					  </div>

					  <div class="form-group" name="city">
					    <label>City</label>
					    <input type="text" class="form-control input-lg" ng-model="reg.city" required="showPro" placeholder="">
					  </div>

					  <div>
						  <div class="form-group half-left" name="state">
						    <label>State / Province</label>
						    <input type="text" class="form-control input-lg" ng-model="reg.state" placeholder="">
						  </div>
						  <div class="form-group half-right" name="postal">
						    <label>Zip / Postal</label>
						    <input type="text" class="form-control input-lg" ng-model="reg.postal" placeholder="">
						  </div>
					  </div>

					  <div class="form-group" name="passwordConfirm">
					    <label>Country</label>
					    <select class="form-control input-lg" ng-model="reg.country" required="showPro" pvp-country-picker> </select>
					  </div>

					</div>


				</div>


				<div ng-class="showPro ? 'col-xs-5' : 'col-xs-6'" style="background:#f5f5f5;color:#555;font-weight:100;font-size:13px;padding:24px 30px;text-align:left;" ng-hide="isPending">

					<h3 style="margin:0px;font-weight:100;">Community Values</h3>
					<br/>

					<b>We are a team -</b> When we work together and share information, we all win.  We believe in positively contributing to our community and sharing for the greater good.
					<br/><br/>
					<b>We put safety first -</b> We are a community of leaders.  We set the example and deeply respect the mountains, their beauty, and their inherent dangers.
					<br/><br/>
					<b>We get educated -</b> We are always learning in the mountains and will never know everything.  Education is a lifelong process and we seek out avalanche education courses, wilderness first aid courses, and more, so we can be educated stewards in the mountains, and we encourage others to do the same.
					<br/><br/>
					<b>We plan -</b> Great days in the mountains begin with thoughtful planning.  We take the time to think about the specific conditions of the day, consider our group dynamics, bring all necessary safety gear, and create a backup plan.  Then we reflect and try to be better every time.
					<br/><br/>
					<b>We take ownership -</b> We own our information.  We are proud of what we share with others and we only share information we believe will be helpful to the community.

				</div>
				</div>

			    </li>
			    <li class="list-group-item panel-footer" style="text-align:right;background:#fff;">


					  <div ng-hide="showPro" class="form-group" style="display:inline-block;position:relative;top:2px;padding:0;margin:0;font-size: 16px;margin-right:30px;">
					      <div class="checkbox" style="border: none;background: transparent;width: auto !important;padding-left:0 !important;">
					        <label>
					          <input type="checkbox" ng-model="acceptTerms" style="position:relative;bottom: 1px; margin-right: 4px;"> I have read and accept the <a target="_blank" href="https://s3.amazonaws.com/avatech-static/AvaTech-TOS.pdf">Terms of Service</a>
					        </label>
					      </div>
					  </div>
					  

			      <button type="submit" class="btn btn-primary btn-lg">Continue&nbsp;&nbsp;></button>
			    </li>
	  		</ul>

  		</div>

  		</form>

	</div>

	<div ng-style="{ opacity: busy ? 1 : 0 }" style="position: absolute; top: 150px; color: rgba(255,255,255,.9); font-size: 60px; text-align: center; left: 0; right: 0; pointer-events:none; transition: opacity 200ms;">
		<i class="fa fa-circle-o-notch fa-spin"></i>
	</div>

	<div class="login-footer" style="max-width:660px;width:95%;margin:auto;padding-top:20px;margin-bottom:20px;text-align:center;font-size:14px;color:#999;font-weight:100;" ng-style="{ opacity: busy ? 0 : 1 }">
	&copy; 2015 Avatech, Inc.
	</div>

</section>