<style>
.form-group {
margin-bottom: 5px !important;
}
</style>
<section ng-controller="RegisterController" ng-cloak>
	<img class="logo" src="/img/logo_horizontal.png"/>

	<div class="login-form" style="width:380px;" ng-style="{ opacity: busy ? 0 : 1 }">

		<div ng-if="org" style="margin-bottom:24px;">
			<div style="text-align:center;color:#fff;font-size:40px;">{{ org.name }}</div>
			<div style="color:#fff;font-size:18px;font-weight:100;">You've been invited to join AvaNet Education</div>
		</div>

		<form name="registerForm" ng-submit="register()" validate ng-hide="isPending === null">

        <div id="errorArea">
            <div class="alert alert-danger" role="alert" ng-show="showError">
                {{ showError }}
            </div>
        </div>

	    <!-- professional info -->
		<div class="panel panel-default" style="border:none;">
	 		<div class="panel-heading" style="text-align:left;font-size:18px;font-weight:100;">Sign up for AvaNet <span ng-show="org">Education</span></div>
			<ul class="list-group">
			    <li class="list-group-item" style="padding-top:15px;">

			    	<div class="form-horizontal" role="form">
					  <div class="form-group" name="name">
					    <label class="col-sm-4 control-label">Full Name</label>
					    <div class="col-sm-8">
					      <input type="text" class="form-control" ng-model="reg.name" required placeholder="">
					    </div>
					  </div>
					  <div class="form-group" name="email" ng-if="!isPending || org">
					    <label class="col-sm-4 control-label">Email</label>
					    <div class="col-sm-8">
					      <input type="email" class="form-control" ng-model="reg.email" required="!isPending" placeholder="">
					    </div>
					  </div>
					  <div class="form-group" name="org" ng-if="!isPending">
					    <label class="col-sm-4 control-label">Organization</label>
					    <div class="col-sm-8">
					      <input type="text" class="form-control" ng-model="reg.org" required="!isPending" placeholder="">
					    </div>
					  </div>
					  <div class="form-group" name="jobTitle" ng-if="!isPending">
					    <label class="col-sm-4 control-label">Job title</label>
					    <div class="col-sm-8">
					      <input type="text" class="form-control" ng-model="reg.jobTitle" required="!isPending" placeholder="">
					    </div>
					  </div>
					  <div class="form-group" name="profession" ng-if="!isPending">
					    <label class="col-sm-4 control-label">Profession</label>
					    <div class="col-sm-8">
					      <select class="form-control" ng-model="reg.profession" required="!isPending">
					      	<option></option>
					      	<option>Ski patrol / snow safety</option>
							<option>Avalanche forecaster</option>
							<option>Mechanized ski guide</option>
							<option>Ski mountaineering guide</option>
							<option>Avalanche educator</option>
							<option>Snow scientist</option>
							<option>Other</option>
					      </select>
					    </div>
					  </div>

					  <div class="form-group" name="city">
					    <label class="col-sm-4 control-label">City</label>
					    <div class="col-sm-8">
					      <input type="text" class="form-control" ng-model="reg.city" required placeholder="">
					    </div>
					  </div>
					  <div class="form-group" name="state">
					    <label class="col-sm-4 control-label">State / Province</label>
					    <div class="col-sm-8">
					      <input type="text" class="form-control" ng-model="reg.state" placeholder="">
					    </div>
					  </div>
					  <div class="form-group" name="postal">
					    <label class="col-sm-4 control-label">Zip / Postal</label>
					    <div class="col-sm-8">
					      <input type="text" class="form-control" ng-model="reg.postal" required  placeholder="">
					    </div>
					  </div>

					  <div class="form-group" name="country">
					    <label class="col-sm-4 control-label">Country</label>
					    <div class="col-sm-8">
					      <select class="form-control" ng-model="reg.country" required pvp-country-picker> </select>
					    </div>
					  </div>

				  <!--</li>
				 	<li class="list-group-item" style="padding-top:15px;">-->

					  <div class="form-group" name="password">
					    <label class="col-sm-4 control-label">Password</label>
					    <div class="col-sm-8">
					      <input type="password" class="form-control" ng-model="reg.password" required placeholder="">
					    </div>
					  </div>
					  <div class="form-group" name="passwordConfirm">
					    <label class="col-sm-4 control-label" style="padding-left:0;white-space:nowrap;">Confirm Password</label>
					    <div class="col-sm-8">
					      <input type="password" class="form-control" ng-model="reg.passwordConfirm" required placeholder="">
					    </div>
					  </div>


					  <div class="form-group">
					    <div class="col-sm-offset-0 col-sm-12">
					      <div class="checkbox" style="width:auto !important;padding-left:0px !important;border:none;background:transparent;text-align:left;position:relative;top:6px;line-height:1.3em;">
					        <label >
					          <input type="checkbox" ng-model="isPro"> <span ng-if="!org">I certify that I am a snow professional and understand that AvaNet is exclusively a professional platform.</span><span ng-if="org">I certify that I am a student of <b>{{ org.name }}</b> and understand that AvaNet Education may only be used for educational purposes.</span>
					        </label>
					      </div>
					    </div>
					  </div>

					</div>

			    </li>
			    <li class="list-group-item panel-footer" style="text-align:right;background:#fff;">


					  <div class="form-group" style="float:left;position:relative;top:1px;">
					      <div class="checkbox" style="border: none;background: transparent;width: auto !important;padding-left:0 !important;">
					        <label>
					          <input type="checkbox" ng-model="acceptTerms"> I accept the <a target="_blank" href="https://s3.amazonaws.com/avatech-static/AvaTech-TOS.pdf">Terms of Service</a>
					        </label>
					      </div>
					  </div>
					  

			      <button type="submit" class="btn btn-primary btn-lg">Continue&nbsp;&nbsp;></button>
			    </li>
	  		</ul>

  		</div>

  		</form>

	</div>

	<div ng-style="{ opacity: busy ? 1 : 0 }" style="position: absolute; top: 180px; color: rgba(255,255,255,.9); font-size: 60px; text-align: center; left: 0; right: 0; pointer-events:none; transition: opacity 200ms;">
		<i class="fa fa-circle-o-notch fa-spin"></i>
	</div>

</section>