<style>
ul.members {
	list-style-type: none;
	border-top: 1px solid #ddd;
	margin: 0;
	padding: 0;
	margin-top:10px;
	margin-bottom: 25px;
}
ul.members >li {
	border-bottom: 1px solid #ddd;
	margin: 0;
	height: 51px;
}
ul.members >li .name {
	font-size: 19px;
	font-weight: 500;
	float: left;
	line-height: 50px;
}
ul.members >li.pending .name {
	opacity: .6;
}
ul.members >li .right {
	float:right;
	vertical-align: top;
}
ul.members >li .right >.btn-group,
ul.members >li .right >button {
	vertical-align: top;
	margin-top: 8px;
}

/* member menu */

.memberMenu ul {
	width: 224px; 
}

.memberMenu li a {
	white-space:normal !important;
}

.memberMenu ul li a .check {
	opacity: 0;
	margin-left: 2px;
}
.memberMenu ul li a.selected,
.memberMenu ul li a.disable {
	opacity: .5;
	pointer-events: none;
}
.memberMenu ul li a.selected .check {
	opacity: 1;
}

.memberMenu li .desc {
	font-size: 13px; 
	margin-top: 2px; margin-bottom: 2px;
	font-weight: 400;
}

/* add member */

.userSelect .message {
	margin-top:10px;font-weight: 400;color: #555;font-size: 14px;
}
.userSelect .no-results {
	margin-top: 18px;
	font-weight: 400;
	color: #777;
	font-size: 15px;
	text-align: center;
}
ul.results {
	list-style-type: none;
	margin: 0; padding: 0;
	margin-top: 3px;
}
ul.results li {
	cursor: pointer;
	padding: 3px 12px;
	font-weight: 14px;
	font-weight: 500;
}
ul.results li.isMember {
	pointer-events: none;
	cursor: pointer;
	opacity: .5;
}
ul.results li.isMember:hover {
	background: transparent !important;
}
ul.results li:hover {
	list-style-type: none;
	background: #f5f5f5;
}

ul.results li .arrow { 
	transition: opacity 150ms;
	opacity: 0;
	float: right;
}
ul.results li:hover .arrow{
	opacity: 1;
}




.form-group {
margin-bottom: 6px !important;
}
.panel-body {
	padding: 10px 12px !important;
	padding-bottom: 4px !important;
}
.panel-footer {
	padding: 10px 12px !important;
}


.panel-body.settings {
	padding: 8px 12px !important;
	padding-bottom: 2px !important;
}
</style>

<section ng-controller="SettingsController">
	
	<div style="width:460px;margin:auto;padding-top:30px;">


		<form name="registerForm" ng-submit="saveUserDetails()" validate>

        <div id="errorArea">
            <div class="alert alert-danger" role="alert" ng-show="showError">
                {{ showError }}
            </div>
            <div class="alert alert-success" role="alert" ng-show="showSuccess">
                {{ showSuccess }}
            </div>
        </div>

  		<div class="panel panel-default" ng-show="user">
	 		<div class="panel-heading" style="text-align:left;font-size:16px;font-weight:bold;">{{ 'settings.user_information' | translate }}</div>
			<div class="panel-body">

		    	<div class="form-horizontal" role="form">
				  <div class="form-group" name="name">
				    <label class="col-sm-4 control-label">{{ 'settings.full_name' | translate }}</label>
				    <div class="col-sm-8">
				      <input type="text" class="form-control" ng-model="tempUser.fullName" required placeholder="">
				    </div>
				  </div>
				  <div class="form-group" name="email">
				    <label class="col-sm-4 control-label">{{ 'settings.email' | translate }}</label>
				    <div class="col-sm-8">
				      <input type="email" class="form-control" ng-model="tempUser.email" required="!isPending" placeholder="">
				    </div>
				  </div>
				  <div class="form-group" name="city">
				    <label class="col-sm-4 control-label">{{ 'settings.city' | translate }}</label>
				    <div class="col-sm-8">
				      <input type="text" class="form-control" ng-model="tempUser.city" required placeholder="">
				    </div>
				  </div>
				  <div class="form-group" name="state">
				    <label class="col-sm-4 control-label">{{ 'settings.state_province' | translate }}</label>
				    <div class="col-sm-8">
				      <input type="text" class="form-control" ng-model="tempUser.state" placeholder="">
				    </div>
				  </div>
				  <div class="form-group" name="postal">
				    <label class="col-sm-4 control-label">{{ 'settings.postal' | translate }}</label>
				    <div class="col-sm-8">
				      <input type="text" class="form-control" ng-model="tempUser.postal" required  placeholder="">
				    </div>
				  </div>

				  <div class="form-group" name="country">
				    <label class="col-sm-4 control-label">{{ 'settings.country' | translate }}</label>
				    <div class="col-sm-8">
				      <select class="form-control" ng-model="tempUser.country" required pvp-country-picker></select>
				    </div>
				  </div>

				</div>

			</div>
		    <div class="panel-footer" style="text-align:right;background:#fff;">


				  <div class="form-group" style="float:left;position:relative;top:1px;">
				      
				  </div>
				  

		      <button type="submit" class="btn btn-primary" translate="save"></button>
		    </div>
  		</div>


  		</form>


        <div id="errorAreaPassword">
            <div class="alert alert-danger" role="alert" ng-show="showErrorPassword">
                {{ showErrorPassword }}
            </div>
            <div class="alert alert-success" role="alert" ng-show="showSuccessPassword">
                {{ showSuccessPassword }}
            </div>
        </div>


  		<!--<div class="panel panel-default" ng-show="user">
	 		<div class="panel-heading" style="text-align:left;font-size:16px;font-weight:bold;">{{ 'settings.profile_photo' | translate }}</div>
			<div class="panel-body">

				<div style="background:red;border-radius:999px;width:90px;height:90px;float:left;margin-right:20px;margin-bottom:5px;">

				</div>

				<div style="float:left;">
					<button type="button" ng-click="" class="btn btn-primary" translate="settings.upload_profile_photo"></button>
				</div>

			</div>
  		</div>-->

  		<div class="panel panel-default" ng-show="user">
	 		<div class="panel-heading" style="text-align:left;font-size:16px;font-weight:bold;">{{ 'settings.change_password' | translate }}</div>
			<div class="panel-body">

		    	<div class="form-horizontal" role="form">
				  <div class="form-group">
				    <label class="col-sm-4 control-label">{{ 'settings.current_password' | translate }}</label>
				    <div class="col-sm-8">
				      <input type="password" class="form-control" ng-model="changePassword.currentPassword" required placeholder="">
				    </div>
				  </div>
				  <div class="form-group">
				    <label class="col-sm-4 control-label">{{ 'settings.new_password' | translate }}</label>
				    <div class="col-sm-8">
				      <input type="password" class="form-control" ng-model="changePassword.newPassword" required="!isPending" placeholder="">
				    </div>
				  </div>
				  <div class="form-group">
				    <label class="col-sm-4 control-label">{{ 'settings.confirm_new_password' | translate }}</label>
				    <div class="col-sm-8">
				      <input type="password" class="form-control" ng-model="changePassword.confirmPassword" required placeholder="">
				    </div>
				  </div>

				</div>

			</div>
		    <div class="panel-footer" style="text-align:right;background:#fff;">
		      <button type="button" ng-click="savePassword()" class="btn btn-primary" translate="save"></button>
		    </div>
  		</div>


  		<div class="panel panel-default" ng-show="user">
	 		<div class="panel-heading" style="text-align:left;font-size:16px;font-weight:bold;">{{ 'settings.home_location' | translate }}</div>

	 		<div style="padding:10px;">
				<!--<span style="width:100px;text-align:right;padding-right:10px;display:inline-block;">Location</span>
				 <input style="width:220px;padding-right:1px;display:inline-block;" class="form-control" ng-model="obs.locationName"/>

			    <div style="margin-bottom:4px;"></div>-->

				<span style="width:100px;text-align:right;padding-right:10px;display:inline-block;">Lat/Lng</span>
				 	
			 	<b>{{ user.location[1] }}, {{ user.location[0] }}</b>
				 <!--<input style="width:107px;margin-right:3px;display:inline-block;" class="form-control" ng-model="userLocation._lat"/>

				 <input style="width:107px;display:inline-block;" class="form-control" ng-model="userLocation._lng"/>
				 -->

			    <div style="margin-bottom:4px;"></div>

				<span style="width:100px;display:inline-block;"></span>

				  <button class="btn btn-primary btn-sm" ng-click="selectLocation()" type="button" style="width:220px;margin-top:1px;margin-bottom:2px;padding-left:0px;padding-right:0px;font-size:13px;"><i class="fa fa-map-marker"></i>&nbsp;&nbsp;{{ 'click_to_place_on_map' | translate }}</button>
			  </div>
	    </div>	

  		<div class="panel panel-default" ng-show="settings">
	 		<div class="panel-heading" style="text-align:left;font-size:16px;font-weight:bold;">{{ 'settings.preferences' | translate }}</div>

			<!--<div class="panel-body settings" style="border-bottom:1px solid #ddd;">
		    	<div class="form-horizontal" role="form">
				  <div class="form-group" name="password">
				    <label class="col-sm-4 control-label">Distance</label>
				    <div class="col-sm-8">
				      
						    <div class="btn-group">
						        <label class="btn btn-default" ng-model="settings.distance" btn-radio="0" uncheckable>Meters</label>
						        <label class="btn btn-default" ng-model="settings.distance" btn-radio="1" uncheckable>Feet</label>
						    </div>

				    </div>
				  </div>
				</div>
			</div>-->

			<div class="panel-body settings" style="border-bottom:1px solid #ddd;">
		    	<div class="form-horizontal" role="form">
				  <div class="form-group" name="password">
				    <label class="col-sm-4 control-label">{{ 'settings.units' | translate }}</label>
				    <div class="col-sm-8">
				      
						    <div class="btn-group">
						        <label class="btn btn-default" ng-model="settings.elevation" btn-radio="0" uncheckable>{{ 'settings.metric' | translate }}</label>
						        <label class="btn btn-default" ng-model="settings.elevation" btn-radio="1" uncheckable>{{ 'settings.imperial' | translate }}</label>
						    </div>

				    </div>
				  </div>
				</div>
			</div>

			<div class="panel-body settings" style="border-bottom:1px solid #ddd;">
		    	<div class="form-horizontal" role="form">
				  <div class="form-group" name="password">
				    <label class="col-sm-4 control-label">{{ 'settings.temperature' | translate }}</label>
				    <div class="col-sm-8">
						    <div class="btn-group">
						        <label class="btn btn-default" ng-model="settings.tempUnits" btn-radio="0" uncheckable>{{ 'settings.celsius' | translate }}</label>
						        <label class="btn btn-default" ng-model="settings.tempUnits" btn-radio="1" uncheckable>{{ 'settings.farenheit' | translate }}</label>
						    </div>

				    </div>
				  </div>
				</div>
			</div>

			<div class="panel-body settings" style="border-bottom:1px solid #ddd;">
		    	<div class="form-horizontal" role="form">
				  <div class="form-group" name="password">
				    <label class="col-sm-4 control-label">{{ 'settings.coordinates' | translate }}</label>
				    <div class="col-sm-8">
						    <div class="btn-group">
						        <label class="btn btn-default" ng-model="settings.coordSystem" btn-radio="'dd'" uncheckable>{{ 'settings.decimalDegrees' | translate }}</label>
						        <label class="btn btn-default" ng-model="settings.coordSystem" btn-radio="'utm'" uncheckable>{{ 'settings.UTM' | translate }}</label>
						    </div>

				    </div>
				  </div>
				</div>
			</div>
			<!--<div class="panel-body settings" style="border-bottom:0px solid #ddd;">
		    	<div class="form-horizontal" role="form">
				  <div class="form-group" name="password">
				    <label class="col-sm-4 control-label">Fracture</label>
				    <div class="col-sm-8">
				      


						    <div class="btn-group">
						        <label class="btn btn-default" ng-model="settings.fracture" btn-radio="0" uncheckable>Shear Quality</label>
						        <label class="btn btn-default" ng-model="settings.fracture" btn-radio="1" uncheckable>Fracture Character</label>
						    </div>

				    </div>
				  </div>
				</div>
			</div>-->
			<!--<div class="panel-body">
		    	<div class="form-horizontal" role="form">
				  <div class="form-group" name="password">
				    <label class="col-sm-4 control-label">Current Password</label>
				    <div class="col-sm-8">
				      <input type="password" class="form-control" ng-model="reg.password" required placeholder="">
				    </div>
				  </div>
				</div>
			</div>-->


		    <!--<div class="panel-footer" style="text-align:right;background:#fff;">


				  <div class="form-group" style="float:left;position:relative;top:1px;">
				      
				  </div>
				  

		      <button type="submit" class="btn btn-primary">Save</button>
		    </div>-->
  		</div>

  		<div class="panel panel-default" ng-show="settings" ng-if="global.user.permissions.bulkDownload">
	 		<div class="panel-heading" style="text-align:left;font-size:16px;font-weight:bold;">{{ 'settings.bulk_download' | translate }}</div>
			<div class="panel-body" style="padding-bottom:11px !important;">
		      	<button ng-disabled="downloading" ng-click="downloadData()" class="btn btn-primary">
		      		<span ng-hide="downloading"><i class="fa fa-download"></i>&nbsp;&nbsp;{{ 'settings.bulk_download_sp1_button' | translate }}</span>
		      		<span ng-show="downloading"><i class="fa fa-circle-o-notch fa-spin"></i>&nbsp;&nbsp;{{ 'downloading' | translate }}...</span>
	      		</button>
			</div>
  		</div>

	</div>
</section>