<div ng-controller="AdminUsersController" ng-init="init()">
	<div class="row">
		<div class="col-xs-9"><h3>Users</h3></div>
	</div>
	<div class="row">
		<div class="col-xs-10">

			<div style="font-size:15px;">
				<div>Total users: <b>{{ totalUsers }}</b> (not incuding internal or test accounts)</div>
				<div>New today: <b>{{ totalUsersToday }}</b></div>
				<div>New this week: <b>{{ totalUsersThisWeek }}</b></div>
				<div>New this month: <b>{{ totalUsersThisMonth }}</b></div>
				<div>Total countries: <b>{{ totalCountries }}</b></div>
				<div>Total organizations: <b>{{ totalOrgs }}</b></div>
			</div>

			<table class="table table-hover">
		        <thead>
		          <tr>
		            <th style="width:40px;"></th>
		            <th>Name</th>
		            <th>Email</th>
		            <th>Country</th>
		            <th style="width:200px">Org</th>
		            <th>Created</th>
		          </tr>
		        </thead>
		        <tbody>
		          <tr ng-repeat="user in users | orderBy: '-created'" ng-class="{ disabled: user.disabled, test: user.test, bold: user.admin }">
		            <td style="vertical-align:middle;white-space:nowrap;">
		            	<div class="btn-group" dropdown>
						  <button type="button" class="btn btn-default btn-settings btn-sm dropdown-toggle" data-toggle="dropdown">
						    <i class="fa fa-cog"></i>
						    <i class="fa fa-caret-down"></i>
						  </button>
						  <ul class="dropdown-menu" role="menu">

						    <li><a ng-click="toggleDisabled(user)" href="#"><i class="fa fa-ban"></i> {{ ( user.disabled ? "Enable user" : "Disable user") }}
						    </a></li>

						    <li><a ng-click="toggleTest(user)" href="#"><i class="fa fa-wrench"></i> {{ ( user.disabled ? "Test account" : "Test account") }}
						    </a></li>

						    <li ng-show="global.user._id == '52e48c646082d09157000002'"><a ng-click="getStats(user)" href="#">
						    	Stats
						    </a></li>

						  </ul>
						</div>
		            </td>
		            <td style="">{{user.fullName}}</td>
		            <td style="">{{user.email}}</td>
		            <td style="">{{user.country}}</td>
		            <td style="">{{user.org}}</td>
		            <td style="">{{user.created | date:'MM/dd/yy&nbsp;&nbsp;hh:mma' }}</td>
		          </tr>
		        </tbody>
		      </table>

	      </div>
      </div>
</div>