<div ng-controller="AdminInviteController" ng-init="init()">
	<div class="row">
		<div class="col-xs-6"><h3>Invites</h3></div>
	</div>
	<div class="row" ng-show="form.error">
		<div class="col-xs-8">
			<div class="alert alert-danger" role="alert">{{ form.error }}</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
			<form name="inviteForm" novalidate>
				<div class="input-group" ng-class="{ 'has-error':form.invalidEmail }">
					<input type="email" class="form-control" ng-model="form.emailToinvite" required>
					<span class="input-group-btn">
					<button class="btn btn-primary" ng-click="ivnite()">Invite</button>
					</span>
		    	</div>
			</form>
		</div>
	</div>
	<div class="row" style="padding-top:10px;">
		<div class="col-xs-8">

			<table class="table table-hover">
		        <thead>
		          <tr>
		            <th style="width:40px;"></th>
		            <th>Email</th>
		            <th>Invited on</th>
		          </tr>
		        </thead>
		        <tbody>
		          <tr ng-repeat="invite in invites | orderBy: '-created'">
		            <td style="vertical-align:middle;">
		            	<div class="btn-group" dropdown>
						  <button type="button" class="btn btn-default btn-settings btn-sm dropdown-toggle" data-toggle="dropdown">
						    <i class="fa fa-cog"></i>
						    <i class="fa fa-caret-down"></i>
						  </button>
						  <ul class="dropdown-menu" role="menu">
						  	<!--<li><a ng-click="" href="#"><i class="fa fa-envelope-o"></i>Re-send invite email</a></li>-->
						    <li><a ng-click="deleteInvite(invite)" href="#"><i class="fa fa-trash-o"></i>Delete Invite</a></li>
						  </ul>
						</div>
		            </td>
		            <td style="vertical-align:middle;">{{invite.email}}</td>
		            <td style="vertical-align:middle;">{{invite.created | date:'MM/dd/yy&nbsp;&nbsp;hh:mma' }}</td>
		          </tr>
		        </tbody>
		      </table>

	      </div>
      </div>
</div>