<style>
.leaflet-control-attribution { opacity: 0 !important; display: none; }
.leaflet-control-zoom.leaflet-control {
  margin-bottom: 10px !important;
}

.mapbox-improve-map { display: none; }
.leaflet-control-zoom-out {
	border-bottom: none;
	height: 25px;
}

#map-container {
	z-index:999; position:absolute; top:90px; bottom:0; left: 280px; right: 0; 
}
#map { position:absolute; top:0; bottom:0; left: 0; right: 0; }
#map-header { 
	position: absolute;
	left:280px; right: 0;
	z-index: 1000; height:44px; 

	background:#fff;
	//border-bottom:1px solid #ddd;
	//box-shadow: 0px 0px 8px rgba(0,0,0,.3); 
	//display: none;
	//border-bottom: 1px solid rgba(0,0,0,.3);
	//background-clip: padding-box;
	/*border-bottom: 1px solid #e3e3e3;
	background-color: #f6f6f6;
	background-image: -moz-linear-gradient(top,#f8f8f8,#f3f3f3);
	background-image: -ms-linear-gradient(top,#f8f8f8,#f3f3f3);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#f8f8f8),to(#f3f3f3));
	background-image: -webkit-linear-gradient(top,#f8f8f8,#f3f3f3);
	background-image: -o-linear-gradient(top,#f8f8f8,#f3f3f3);
	background-image: linear-gradient(top,#f8f8f8,#f3f3f3);
	background-repeat: repeat-x;*/
}

/* map scale control */

.leaflet-control-scale {
	margin-bottom:8px !important;
	margin-left:7px !important;
	font-size: 10px !important;
}
.leaflet-control-scale-line {
  	border: 1px solid rgba(0,0,0,.4) !important;
  	margin-bottom: -1px !important;
  	padding: 1px 5px 0px !important;
  	background-color: rgba(255,255,255,.7) !important;
  	line-height: 13px;
}
.leaflet-control-scale-line:not(:first-child) {
  	margin-top: 0 !important;
}

/* MAP POPUP */

/* popup close button */
.leaflet-popup-close-button, .map-tooltip.closable .close {
	background-position: -4px -56px;
	width: 17px;
	height: 17px;
	//background-color: #fff;
	border-radius: 91px;
	top: 5px;
	right: 5px;
	//display: none;
}

.leaflet-popup-content-wrapper {
	padding: 0px !important;
}
.leaflet-popup-content {
	/*background:#fff;*/
	padding:0px !important;
}

.leaflet-popup-content .popup-title {
	color: #fff;
	font-weight: 100;
	font-size: 14px;
	padding: 3px 6px;
	padding-top: 4px;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}
.leaflet-popup-content .popup-content {
	padding: 6px;
	padding-top: 4px;
}

//.popup-avy .leaflet-popup-content-wrapper { border: 1px solid #ca0612; }	
//.popup-avy .leaflet-popup-tip { border-top: 10px solid #ca0612; }
.popup-avy .popup-title { background: #ca0612; }	

//.popup-test .leaflet-popup-content-wrapper { border: 1px solid #ffcc00; }
//.popup-test .leaflet-popup-tip { border-top: 10px solid #ffcc00; }
.popup-test .popup-title { background: #ffcc00; color: #000; }	

//.popup-profile .leaflet-popup-content-wrapper { border: 1px solid #b644ff; }
//.popup-profile .leaflet-popup-tip { border-top: 10px solid #b644ff; }
.popup-profile .popup-title { background: #b644ff; }	

/* sidebar toggle */

/*.toggle-list-holder {
	height: 44px;
	width:44px;
	transition:width 240ms; 
	//overflow:hidden;
	display:inline-block;
	vertical-align: top;
	float: left;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}*/
.toggle-list {
	background: #999;
	color: #fff;
	height: 100%;
	line-height: 44px;
	height: 44px;
	text-align: left;
	white-space: nowrap;
	width:280px;
	position: relative;
}
.toggle-list .title {
	width:130px;
	height: 100%;
	vertical-align: top;
	display: inline-block;
	float:left;
}
.toggle-list .title i {
	  margin-left: 8px;
	  font-size: 17px;
	  margin-top: 14px;
	  color:#ddd;
	  transition: opacity 150ms;
}
.toggle-list .title span {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 500;
	height: 100%;
	display: inline-block;
	vertical-align: top;
}
.toggle-list .sort {
	float: right !important;
	vertical-align: top;
}
.toggle-list .sort div {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 100;
	height: 30px;
	display: inline-block;
	vertical-align: top;
	background: #bbb;
	line-height: 30px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 4px;
	margin-top: 7px;
	margin-right: 8px;
}

.toggle-list .sort i {
	margin-left: 4px;
	margin-bottom: 1px;
}

/* preview pane */
.preview-pane {
	position:absolute;
	top:46px;
	bottom:0;right:0;
	width:585px;
	background:#fff;
	z-index:2000;
	box-shadow: 0px 0px 10px rgba(0,0,0,.4);
}

/* sidebar */

.side-bar {
	background: #fff;
	box-shadow: 0px 0px 8px rgba(0,0,0,.25);
	z-index: 999;
	transition: left 240ms;
	position: absolute;
	width: 280px;
	left:0;
	top: 46px;
	bottom: 0;
}
.side-bar .list-holder {
	background:#fff;
	overflow:hidden;
	position:absolute;
	left:0;right:0; bottom: 0;
	top: 44px
}
.side-bar .list-holder.marginTop {
	top: 82px;
}
.side-bar .list-holder.marginBottom {
	bottom: 38px;
}
.side-bar .list-subheader {
	height: 38px;
	background: #666;
}
.side-bar .list-bottom {
	position: absolute;
	bottom:0;left:0;right:0;
	height: 38px;
	line-height: 39px;
	background:#666;
	color:#fff;
}

.list-header {
	display:inline-block;
	position: absolute;
	right: 0; left:0; top: 0; bottom: 0;
}
/*.list-header button {
	position: relative;
	bottom:1px;
	border: none;
	background: transparent;
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 100;
	padding: 5px 9px;
	outline: none;
	border-radius: 4px;
	line-height: 14px;
	vertical-align: top;
	margin-top: 0px;
	border:1px solid #ddd;
	transition: background 100ms;
}
.list-header button .caret {
	margin-top: -2px;
	margin-left: 4px;
}
.list-header button:hover,
.list-header button:active,
.list-header button:focus,
.list-header .open button.dropdown-toggle {
	background: rgba(255,255,255,.15) ;
	border-color: #fff !important;
	color: #fff !important;
	box-shadow: none !important;
}*/

/*.list-header button {
	border: none;
	background: transparent;
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 100;
	padding: 5px 9px;
	padding-bottom:4px;
	outline: none;
	border-radius: 5px;
	line-height: 12px;
	vertical-align: top;
	margin-top: 10px;
	border:1px solid #ddd;
	transition: background 100ms;
}
.list-header button:first-child {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	padding-right: 6px;
}
.list-header button:last-child {
	padding-left: 6px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.list-header button.selected {
	background: #ddd !important;
	color: #000;
}
.list-header button:hover {
	background: #aaa;
}*/

.list-header button {
	border: none;
	background: transparent;
	color: #ddd;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 500;
	outline: none;
	vertical-align: top;
	transition: background 100ms;
	height: 44px;
	width: 50%;
	line-height: 40px;
	transition: all 100ms;
}
.list-header button.selected {
	color: #fff;
	background: #666;
	pointer-events:none;
}
.list-header button:hover {
  	color:#fff;
}


.side-bar .list-subheader .btn-group.filter>button {
	height: 38px;
	line-height: 38px;
}

/* search filter buttons */

.btn-group.filter {
	float: left;
}

.btn-group.filter>button {
	outline: none;
}
.btn-group.filter>button:first-child {
	position: relative;
	border-radius: 0;
	border: none;
	border-right: 1px solid #e0e0e0;
	font-weight: 400;
	padding-left: 14px;
	padding-right: 12px;
	text-transform: uppercase;
	font-size: 12px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-top: none;
	border-bottom: none;
	height: 44px;
	background:#fff;
	z-index: 1;
}
.btn-group.filter>button:first-child:hover, .btn-group.open.filter>button:first-child {
	background: #f5f5f5;
	box-shadow: none !important;
}

.btn-group.filter .caret {
	margin-left: 3px;
	margin-right: 0px;
	margin-bottom: 2px;
}


.btn-group.filter.right {
	float: left;
}
.btn-group.filter.right i.fa-caret-down {
	margin-left: 8px !important;
}

.btn-group.filter.right>button {
	border: none;
	border-left: 1px solid #ddd;
	background: transparent;
}

/* HTML/content dropdown */

.btn-group.filter .dropdown-menu  {
	background: #f5f5f5;
	border: none;
	margin-top: 0px;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	padding: 8px;
	z-index: 0;
}
.btn-group.filter .dropdown-menu>li>a  {
	padding: 0 !important;
}

/* search box area */

.btn-group.filter.search button { 
	outline: 0;
	-webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

.btn-group.filter.search i.search {
	position: absolute;
	left: 25px;
	height: 27px;
	line-height: 27px;
	font-size: 13px;
}
.btn-group.filter.search .removeFilter {  
	position: absolute;
	right: 0px;
	right: 20px;
	width: 14px;
	left: initial;
	bottom: 14px;
}
.btn-group.filter.search .searchbox {
	width: 200px;
	border: none;
	height: 27px;
	outline: none;
	border-radius: 99px;
	padding-left: 30px;
	font-size: 14px;
	font-weight: 100;
	box-shadow: 0px 0px 1px rgba(0,0,0,.4);
}


/* list dropdown */
.btn-group.filter .dropdown-menu.list {
	padding: 0 !important;
	min-width: 130px !important;
	overflow: hidden;
}
.btn-group.filter .dropdown-menu.list li {
	color: #444;
	padding-left: 7px;
	font-size: 13px;
	height: 34px;
	line-height: 34px;
	cursor: pointer;
}
.btn-group.filter .dropdown-menu.list li:hover {
	background:#fff;
}

.btn-group.filter .dropdown-menu.listSelect i {
	color: #4285f4;
	padding-left:5px;
	opacity: .7
}
.btn-group.filter .dropdown-menu.listSelect li {
	cursor: pointer !important;
}
.btn-group.filter .dropdown-menu.listSelect li a {
	cursor: pointer !important;
	-webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}
.btn-group.filter .dropdown-menu.listSelect li a:hover i {
	opacity: 1;
}

@-webkit-keyframes glow {
    to { border-color: #fff; box-shadow: 0 0 5px #000; }
}
@keyframes glow {
    to { border-color: #fff; box-shadow: 0 0 5px #000; }
}

.count-icon-profile.selected,
.count-icon-test.selected,
.count-icon-avy.selected {
  //border:2px solid #fff !important;
  //box-shadow: 0px 0px 1px rgba(0,0,0,1) !important;

    -webkit-animation: glow 1.0s infinite alternate;  
     -webkit-transition: border 1.0s linear, box-shadow 1.0s linear;
       -moz-transition: border 1.0s linear, box-shadow 1.0s linear;
            transition: border 1.0s linear, box-shadow 1.0s linear;
}

.count-icon-profile.active,
.count-icon-test.active,
.count-icon-avy.active {
  border:2px solid #fff !important;
  box-shadow: 0px 0px 1px rgba(0,0,0,1) !important;
}

.count-icon-profile,
.count-icon-test,
.count-icon-avy {
  border:2px solid rgba(0,0,0,0.6);
  font-size:11px;
  font-weight:normal;
  text-align:center;
  border-radius:50%;
  //line-height:18px;
  box-shadow: 0px 0px 1px rgba(255,255,255,1);
  transition: all 100ms;
}

.count-icon-profile {
  background:#b644ff; color: #fff;
}
.count-icon-avy {
	background: #ca0612 !important;
}
.count-icon-test {
  background:#ffcc00; color: #000;
}

/*.count-icon.tiny,.count-icon-test.tiny {
	border: none;
	width:40%;
	height:40%;
	box-shadow: none;
}*/

.menu-ui {
  background:#fff;
  position:absolute;
  top:50px;right:10px;
  z-index:2000;
  border-radius:3px;
  width:90px;
  border:1px solid rgba(0,0,0,0.4);
  }
  .menu-ui a {
    font-size:13px;
    color:#404040;
    display:block;
    margin:0;padding:0;
    padding:8px;
    text-decoration:none;
    border-bottom:1px solid rgba(0,0,0,0.25);
    text-align:center;
    }
    .menu-ui a:first-child {
      border-radius:3px 3px 0 0;
      }
    .menu-ui a:last-child {
      border:none;
      border-radius:0 0 3px 3px;
      }
    .menu-ui a:hover {
      background:#f8f8f8;
      color:#404040;
      }
    .menu-ui a.active {
      background:#3887BE;
      color:#FFF;
      }
      .menu-ui a.active:hover {
        background:#3074a4;
        }

    a:hover { text-decoration: none !important; }
    .container { width: 100% !important; }


    /* map layers */

    .mapLayers {
		position: absolute;
		bottom: 20px;
		left: 10px;
		z-index: 1001;
		height: 29px;
	}
    .mapLayers .btn-group  {
		width:100%;
		display:inline-block;
		white-space: nowrap;
	}
    .mapLayers .btn-group >button {
		border: 1px solid #999;
		background: rgba(255,255,255,.8);
		border-radius: 3px;
		box-shadow: none !important;
		position: absolute;
		padding-right:10px;
		left: 0px;
		height: 29px;
		width:auto;
		display:inline-block;
		white-space: nowrap;
		text-shadow:0px 0px 2px #fff;
		transition: background 150ms;
	}
    .mapLayers .btn-group >button:hover {
    	background: #fff;
	}
    .mapLayers .btn-group >button i {
    	margin-left:3px;
		margin-right:4px;
		font-size: 19px;
		position: relative;
		bottom: 1px;
	}
    .mapLayers .btn-group >button span {
    	font-size: 12px;
		position: relative;
		bottom: 4px;
	}

	.mapLayers .layerName {
		font-size:12px;white-space:nowrap;margin-bottom:1px;cursor:pointer;
	}
	.mapLayers .layerName:hover {
		color:#888;
	}
	.mapLayers .layerName.selected {
		font-weight:bold;
	}



    /* map search */

    .mapSearch {
		position: absolute;
		top: 12px;
		right: 10px;
		z-index: 1001;
		height: 29px;
		width:28px;
	}
    .mapSearch .btn-group >button {
		border: 1px solid #999;
		background: #fff;
		border-radius: 3px;
		box-shadow: none !important;
		position: absolute;
		right: 0px;
		z-index: 1;
		height: 29px;
	}
	.mapSearch .btn-group >button:hover {
		background: #f8f8f8;
	}
    .mapSearch .btn-group.open >button {
		border: 1px solid #aaa;
		background: #f8f8f8;
		border-radius: 0px 3px 3px 0px;
		border-left: 0;
		transition: border 150ms;
	}
	.mapSearch .btn-group ul.dropdown-menu {
		position: absolute;
		padding: 0;
		top: 0;
		right: 0;
		margin-top: 0;
		width: 0px;
		min-width: 0px;
		overflow: hidden;
		transition: width 150ms;
		display: block !important;
		z-index: 0;
		background: transparent;
		border-radius: 0;
		border: none;
	}
	.mapSearch .btn-group ul.dropdown-menu >li >a {
		border-radius:3px;
		border:1px solid #aaa;
		background: #fff !important;
		overflow: hidden;
	}
	.mapSearch .btn-group.open >button {
		display: none;
	}
	.mapSearch .btn-group.open ul.dropdown-menu {
		width: 220px;
	}
	.mapSearch input.search {
		box-shadow: none;
		padding-top: 1px;
		padding-bottom: 0px;
		padding-left: 7px;
		font-size:13px;
		height: 27px;
		border: 0;
	}

	.mapSearch .results >div {
		font-size:11px;border-top:1px solid #aaa;padding:3px;cursor:pointer;
	}
	.mapSearch .results >div:hover {
		background:#f8f8f8;
	}




	.toggleAerial {
		border: 1px solid #999;
		background: #fff;
		border-radius: 3px;
		box-shadow: none !important;
		z-index: 1001;
		height: 29px;
		width: 28px;
		text-align: center;
		font-size: 17px;
		line-height: 28px;
		cursor: pointer;

		position: absolute;
		right: 10px;
		bottom:100px;
	}
	.toggleAerial:hover {
		background: #f8f8f8;
	}


	.tooltip-inner {
		font-weight: 100;
		padding: 5px 9px;
		padding-right: 12px;
	}

	.popup {
		position: absolute;
		bottom: 31px;
		right: 80px;
		height: 164px;
		width: 260px;
		z-index: 999999;
		background: #fff;
		padding: 15px 16px;
		border-radius: 4px;
		font-size: 14px;
		box-shadow: 0px 0px 10px rgba(0,0,0,.3);
		font-weight: 100;
	}
	.popup div {

		font-weight:bold;
		margin-bottom:8px;
		font-size:18px;
	}


	.dirButton {
		position: absolute;
		left: 0;
		top: 49px;
		font-size: 10px;
		border: none;
		background: #e9e9e9;
		border-radius: 3px;
		text-align: center;
		width:20px;
		padding:2px 0 2px 0;
		cursor: pointer;
		outline: none;
	}
	.dirButton:hover { background:#ddd;  }


	.removeFilter {
		display: inline-block;
		color: #aaa;
		position: relative;
		left: 4px;
		bottom: 0px;
		font-size: 11px;
		margin-right: 1px;
		transition: color 80ms;
	}
	.removeFilter:hover {	
		color: #000;
	}

	.side-list-item a {
		text-decoration: none;
	}

	.side-list-item {
		white-space:nowrap;padding:4px;border-bottom:1px solid #ddd;height:76px;
		font-size: 12px;
		position:relative;
	}
	.side-list-item:hover {
		background: #f8f8f8;
	}
	.side-list-item canvas,
	.side-list-item .thumb {
		width:58px;
		height:67px;
		float:left;
		margin-right:2px;
		margin-left:4px;
		background:#eee;
	}
	.side-list-item .lineItem {
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 186px;
		overflow: hidden;
	}
	.side-list-item .lineItem i {
		width: 27px;
		text-align: center;
	}

	.circle {
		display: inline-block;
		border-radius: 99px;
		width:11px;
		height:11px;
		margin-right:5px;
		border-width: 2px;
		border-style: solid;
		box-shadow: 0px 0px 0px 1px #fff;
	}
	.circle.empty {
		background: #fff !important;
	}
	.circle.avy { background:#ca0612; border-color: #ca0612; }
	.circle.test { background:#ffcc00; border-color: #ffcc00; }
	.circle.profile { background:#b644ff; border-color: #b644ff; }


	.bar {
		position: absolute;
		top:4px;
		bottom:4px;
		left:0px;
		width:4px;
		margin-left:4px;
	}
	.bar.avy { background:#ca0612; }
	.bar.test { background:#ffcc00; }
	.bar.profile { background:#b644ff; }
	

	/*
	.bar {
		position: absolute;
		top:4px;
		left:6px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 10px 10px 0 0;
		border-color: #007bff transparent transparent transparent;
	}
	.bar:after {
		position: absolute;
		top:4px;
		left:6px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 11px 11px 0 0;
		border-color: #fff transparent transparent transparent;
	}
	.bar.avy { border-color:#ca0612 transparent transparent transparent; }
	.bar.test { border-color:#ffcc00 transparent transparent transparent; }
	.bar.profile { border-color:#b644ff transparent transparent transparent; }
	*/

	.sub-btn {
	  border: none;
	  font-weight: 100;
	  color: #ccc;
	  float: left;
	  margin-top: 6px;
	  line-height: 24px;
	  border-radius: 99px;
	  padding-top:0px; padding-bottom:0px;
	  padding-left: 11px;
	  padding-right: 11px;
	  background:transparent;
	  font-size: 11px;
	  text-transform: uppercase;
	  outline:none;
	  border: 1px solid #444;
	  transition: background color 100ms;
	}
	.sub-btn:first-child {
		margin-left:4px;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	  	padding-right: 7px;
	}
	.sub-btn:last-child {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	  	padding-left: 7px;
	}
	.sub-btn.selected {
		color: #fff;
		background: #444 !important;
		pointer-events:none;
	}
	.sub-btn.selected:last-child {
		padding-right: 4px;
		border-radius: 0;
	}
	.sub-btn:hover {
		background: #777;
	}

	.check {    
		float: left;
		font-size: 18px;
		margin-top: 20px;
		margin-right: 2px;
		margin-left: 2px;
		width: 16px;
		height:48px;
		text-align: left;
	}
	.check i {
		color: #555;
		cursor: pointer;
	}
	.check i:hover {
		color: #4285f4;
	}
	.check i.checked {
		color: #4285f4;
	}

	.action-buttons {
		margin-right:4px;
	}
	.action-buttons .btn {
	  height: 31px;
	  line-height: 19px;
	  margin-bottom: 3px;
	  font-weight: 100;
	}
	.action-buttons .btn i {  
		font-size: 20px;
		vertical-align: top;
		display: inline-block;
	}

	.layers-header {
	  background: #eee;
	  margin-left: -12px;
	  margin-top: -7px;
	  line-height: 29px;
	  padding-left: 12px;
	  margin-bottom: 6px;
	  margin-right: -12px;
	  border-top-left-radius: 4px;
	  border-top-right-radius: 4px;
	  font-size: 12px;
	  text-transform: uppercase;
	  color: #666;
	  font-weight: 100;
	}
	.dropdown-close {
		top:4px;cursor:pointer;position: absolute;right: 10px;color:#aaa;
		transition: color 100ms;
	}
	.dropdown-close:hover {
		color: #555;
	}
</style>

<section ng-controller="MapController"><!--ng-init="find()" ng-controller="TestsController"-->
	<div id="map-header">

			<!--<div style="display:none;background:#fff;float:left;height:100%;line-height:44px;padding-left:12px;padding-right:12px;font-weight:100;font-size:15px;color:#666;">
				Thank you for trying AvaNet. Check in frequently, we're always releasing new features. And <b><a href="mailto:support@avatech.com">let us know what you think</a></b>.
			</div>-->

			<div class="btn-group filter" dropdown style=""
				ng-hide="selectedList == 'my_unpublished'">
			  <button type="button" class="btn btn-default dropdown-toggle">
			  	<span>
			  		<span style="margin-right:10px;">Type</span>
			    	<div ng-repeat="type in ['profile','test','avy']" class="circle {{type}} {{ searchQuery.type[type] ? '' : 'empty' }}" style="position:relative;top:1px;"></div>
			    </span>
			    <span class="caret"></span>
			  </button>
		      	<ul class="dropdown-menu listSelect" role="menu" style="height:auto;width:auto;">
		    			
			    	<li ng-click="type_select('profile')"><a>
			    	<div class="circle profile {{ searchQuery.type.profile ? '' : 'empty' }}"></div> Snowpit</a></li>

			    	<li ng-click="type_select('test')"><a>
			    	<div class="circle test {{ searchQuery.type.test ? '' : 'empty' }}"></div> SP1 Profile</a></li>

			    	<li ng-click="type_select('avy')"><a>
			    	<div class="circle avy {{ searchQuery.type.avy ? '' : 'empty' }}"></div> Avalanche</a></li>
			 	</ul>
			</div>

			<div class="btn-group filter" dropdown style="">
			  <button type="button" class="btn btn-default dropdown-toggle">
			  	<span style="padding-right:3px;">
				    <span ng-show="searchQuery.days == 1">Today</span>
				    <span ng-show="searchQuery.days == 7">Past Week</span>
				    <span ng-show="searchQuery.days == 31">Past Month</span>
				    <span ng-show="searchQuery.days == 91">Past 3 Months</span>
				    <span ng-show="searchQuery.days == 183">Past 6 Months</span>
				    <span ng-show="searchQuery.days == 365">Past Year</span>
			    </span>
			    <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu list" role="menu">
			     <li ng-click="searchQuery.days = 1">Today</li>
			     <li ng-click="searchQuery.days = 7">Past Week</li>
			     <li ng-click="searchQuery.days = 31">Past Month</li>
			     <li ng-click="searchQuery.days = 91">Past 3 Months</li>
			     <li ng-click="searchQuery.days = 183">Past 6 Months</li>
			     <li ng-click="searchQuery.days = 365">Past Year</li>
			  </ul>
			</div>

			<div class="btn-group filter" dropdown 
				ng-show="profile.user.student !== true && selectedList == 'published'">
		      <button type="button" class="dropdown-toggle" ng-click="$broadcast('refreshSlider')">
		        <span style="padding-right:3px;">Publisher</span> 

		        <span class="caret" ng-show="isDefaultPublisher()"></span>
		        <span style="color:#999;" ng-hide="isDefaultPublisher()">...</span>

		        <span class="removeFilter" ng-hide="isDefaultPublisher()"
		        	ng-mousedown="setDefaultPublisher()">
		        	<i class="ion-close-round"></i>
		        </span>
		      </button>
		      	<ul class="dropdown-menu listSelect" role="menu" style="height:auto;width:auto;">

			    	<li ng-click="publisher_selectMe()"
			    		ng-dblclick="publisher_selectMe(true)"><a><i class="fa {{ searchQuery.publisher.me || searchQuery.publisher.me == null? 'fa-check-square' : 'fa-square-o' }}"></i>Me</a></li>

			    	<li ng-show="global.orgs && global.orgs.length > 1"
			    		ng-click="publisher_selectMyOrgs()"
		    			ng-dblclick="publisher_selectMyOrgs(true)"><a><i class="fa {{ searchQuery.publisher.orgs == null || (searchQuery.publisher.orgs && searchQuery.publisher.orgs.length == global.orgs.length) ? 'fa-check-square' : 'fa-square-o' }}"></i>My Organizations</a></li>

			    	<li ng-repeat="org in global.orgs" 
			    		ng-click="publisher_selectOrg(org._id)"
			    		ng-dblclick="publisher_selectOrg(org._id, true)"><a><i ng-style="{ 'padding-left': (global.orgs && global.orgs.length > 1 ? '26px' :''), 'margin-right': (global.orgs && global.orgs.length > 1 ? '20px' :'') }" class="fa {{ publisher_isOrgSelected(org._id) ? 'fa-check-square' : 'fa-square-o' }}"></i>{{ org.name }}</a></li>

		    		<li ng-click="publisher_selectOutsideOrgs()"
		    			ng-dblclick="publisher_selectOutsideOrgs(true)"><a><i class="fa {{ searchQuery.publisher.outsideOrgs || searchQuery.publisher.outsideOrgs == null ? 'fa-check-square' : 'fa-square-o' }}"></i>Outside Organizations</a></li>
		    			
			    	<li ng-click="publisher_selectStudents()"
			    		ng-dblclick="publisher_selectStudents(true)"><a><i class="fa {{ searchQuery.publisher.students || searchQuery.publisher.students == null ? 'fa-check-square' : 'fa-square-o' }}"></i>Students</a></li>
			    </ul>
		    </div>

			<div class="btn-group filter" dropdown style="">
		      <button type="button" class="dropdown-toggle" ng-click="$broadcast('refreshSlider')">
		        <span style="padding-right:3px;">Elevation</span>
		        <span class="caret" ng-show="searchQuery.elev_low == 0 && searchQuery.elev_high == elevationMax"></span>
		        <span style="color:#999;" ng-show="(searchQuery.elev_low != 0 || searchQuery.elev_high != elevationMax) && searchQuery.elev_low != searchQuery.elev_high">
		        	{{ formatTempRange(searchQuery.elev_low, searchQuery.elev_high) }}
		        </span>
		        <span style="color:#999;" ng-show="searchQuery.elev_low == searchQuery.elev_high">
		        	{{ formatTemp(searchQuery.elev_high) }}
		        </span>
		        <span class="removeFilter" ng-hide="searchQuery.elev_low == 0 && searchQuery.elev_high == elevationMax"
		        	ng-mousedown="clearSearchElevation($event)">
		        	<i class="ion-close-round"></i>
		        </span>
		      </button>
		      <ul class="dropdown-menu" role="menu" style="height:auto;width:auto;"><li><a>
		      	<slider-new style="width:340px"
				    ng-model="searchQuery.elev_low"
				    ng-model-range="searchQuery.elev_high"
				    translate-fn="formatTemp"
				    floor="0"
				    ceiling="{{ elevationMax }}"
				    buffer="10"
				    step="10">
				</slider-new>
		        </a></li></ul>
		    </div>

			<div class="btn-group filter" dropdown style="">
		      <button type="button" class="dropdown-toggle" ng-click="$broadcast('refreshSlider')">
		        <span style="padding-right:3px;">Aspect</span> 
		        <span class="caret" ng-show="searchQuery.aspect_low == 0 && searchQuery.aspect_high == 359"></span>
		        <span style="color:#999;" ng-show="(searchQuery.aspect_low != 0 || searchQuery.aspect_high != 359) && searchQuery.aspect_low != searchQuery.aspect_high">
		        	{{ searchQuery.aspect_low }}-{{ searchQuery.aspect_high }}&deg;
		        </span>
		        <span style="color:#999;" ng-show="searchQuery.aspect_low == searchQuery.aspect_high">
		        	{{ searchQuery.aspect_high }}&deg;
		        </span>
		        <span class="removeFilter" ng-hide="searchQuery.aspect_low == 0 && searchQuery.aspect_high == 359"
		        	ng-mousedown="clearSearchAspect($event)">
		        	<i class="ion-close-round"></i>
		        </span>
		      </button>
		      <ul class="dropdown-menu" role="menu" style="height:114px;width:auto;"><li><a>

		  		<input-direction-range input-class="form-control" ng-model="searchQuery.aspect_low" angle-low="searchQuery.aspect_low" angle-high="searchQuery.aspect_high"></input-direction-range>

		  		<input-direction-range input-class="form-control" ng-model="searchQuery.aspect_high" angle-low="searchQuery.aspect_low" angle-high="searchQuery.aspect_high"></input-direction-range>
		      	
		      	<!--<slider-new style="width:300px"
				    ng-model="searchQuery.aspect_low"
				    ng-model-range="searchQuery.aspect_high"
				    translate-fn="formatDegSlider"
				    floor="0"
				    ceiling="359"
				    buffer="0"
				    step="1">
				</slider-new>
				<button class="dirButton" style="left:12px;" ng-click="setAspect(0)">N</button>
				<button class="dirButton" style="left:48px;" ng-click="setAspect(45)">NE</button>
				<button class="dirButton" style="left:83px;" ng-click="setAspect(90)">E</button>
				<button class="dirButton" style="left:118px;" ng-click="setAspect(135)">SE</button>
				<button class="dirButton" style="left:153px;" ng-click="setAspect(180)">S</button>
				<button class="dirButton" style="left:188px;" ng-click="setAspect(225)">SW</button>
				<button class="dirButton" style="left:225px;" ng-click="setAspect(270)">W</button>
				<button class="dirButton" style="left:260px;" ng-click="setAspect(315)">NW</button>-->
		        </a></li></ul>
		    </div>

		    <div class="btn-group filter" dropdown style="">
		      <button type="button" class="dropdown-toggle" ng-click="$broadcast('refreshSlider')">
		        <span style="padding-right:3px;">Slope</span> 
		        <span class="caret" ng-show="searchQuery.slope_low == 0 && searchQuery.slope_high == 70"></span>
		        <span style="color:#999;" ng-show="(searchQuery.slope_low != 0 || searchQuery.slope_high != 70) && searchQuery.slope_low != searchQuery.slope_high">
		        	{{ searchQuery.slope_low }}-{{ searchQuery.slope_high }}&deg;
		        </span>
		        <span style="color:#999;" ng-show="searchQuery.slope_low == searchQuery.slope_high">
		        	{{ searchQuery.slope_high }}&deg;
		        </span>
		        <span class="removeFilter" ng-hide="searchQuery.slope_low == 0 && searchQuery.slope_high == 70"
		        	ng-mousedown="clearSearchSlope($event)">
		        	<i class="ion-close-round"></i>
		        </span>
		      </button>
		      <ul class="dropdown-menu" role="menu" style="height:auto;width:auto;"><li><a>
		      	<slider-new style="width:240px"
				    ng-model="searchQuery.slope_low"
				    ng-model-range="searchQuery.slope_high"
				    translate-fn="formatDegSlider"
				    floor="0"
				    ceiling="70"
				    buffer="0"
				    step="1">
		        </a></li></ul>
		    </div>

			<!--<div class="btn-group filter search">
			  <button type="button">
					<i class="fa fa-search search"></i>
					<input class="searchbox" type="text" style="width:200px;" ng-model="searchQuery.text" ng-model-options="{ debounce: 300 }"/>

			        <span class="removeFilter" ng-show="searchQuery.text != ''"
			        	ng-mousedown="searchQuery.text = ''">
			        	<i class="ion-close-round"></i>
			        </span>

			  </button>
			</div>-->

	</div>
	<!--<nav id='menu-ui' class='menu-ui'></nav>-->

	<div id="map-container" ng-style="{ right: (showPreviewPane() ? 585 : 0) }">
		<div id="map"></div>

		<!--<div ng-show="mapMode == 'aerial'"  class="toggleAerial" ng-click="toggleAerial()" tooltip="Choose map layers" tooltip-trigger="mouseenter" tooltip-placement="left" tooltip-hide-on-click>
			<i class="ion-map"></i>
		</div>-->

		<div class="mapLayers" ng-show="selectedBaseLayer">
		<!-- tooltip="Search for location" tooltip-trigger="mouseenter" tooltip-placement="left" tooltip-hide-on-click -->
		    <div class="btn-group dropup" dropdown>
		      <button type="button" class="dropdown-toggle">
		        <i class="ion-map"></i> <span><b>Map:</b> {{ selectedBaseLayer.name }}</span>
		      </button>
		      <ul class="dropdown-menu" role="menu" style="margin-bottom:-30px;"><li><a style="padding:2px 12px;background:#fff !important;">

		      		<div class="dropdown-close" close-dropdown-on-click><i class="fa fa-times"></i></div>

		      		<div class="layers-header">Select Map Layer</div>
		      		
		      		<div style="font-weight:bold;margin-bottom:2px;">Terrain</div>
					
					<div ng-repeat="layer in mapLayers.baseLayers.terrain" ng-click="setBaseLayer(layer)" class="layerName {{ selectedBaseLayer == layer ? 'selected' : '' }}">{{ layer.name }}</div>

					<div style="font-weight:bold;margin-top:10px;margin-bottom:2px;">Aerial</div>
					
					<div ng-repeat="layer in mapLayers.baseLayers.aerial" ng-click="setBaseLayer(layer)" class="layerName {{ selectedBaseLayer == layer ? 'selected' : '' }}">{{ layer.name }}</div>

		        </a></li></ul>
		    </div>
		</div>

		<!--<div style="position:absolute;top:44px;right:10px;width:150px;background:#fff;z-index:2000;"> 

			<div style="font-weight:bold;">Terrain</div>
				<div ng-repeat="layer in mapLayers.baseLayers.terrain" ng-click="setBaseLayer(layer)" style="font-size:11px;white-space:nowrap;">{{ layer.name }}</div>
			<div style="font-weight:bold;">Aerial</div>
				<div ng-repeat="layer in mapLayers.baseLayers.aerial" ng-click="setBaseLayer(layer)" style="font-size:11px;white-space:nowrap;">{{ layer.name }}</div>
		</div>-->

		<div class="mapSearch">
		<!-- tooltip="Search for location" tooltip-trigger="mouseenter" tooltip-placement="left" tooltip-hide-on-click -->
		    <div class="btn-group pull-right" dropdown>
		      <button type="button" class="dropdown-toggle" ng-click="focusLocationSearchInput()">
		        <i class="fa fa-search"></i>
		      </button>
		      <ul class="dropdown-menu" role="menu"><li><a style="padding:0;background:#fff !important;">
		      	<form>
			      	<input type="text" class="form-control input-sm search location-search-input" ng-model="geo.query" placeholder="search for a location">
			        <input ng-click="geoSearch()" type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
		       	</form>

		        <div class="results">
		        	<div ng-repeat="result in geo.results" ng-click="goTo(result)">	
		        		<div style="font-weight:400;">{{ result.name }}</div>
		        		<div style="font-weight:100;">
		        			<span ng-show="result.adminName2">{{ result.adminName2 }}, </span>{{ result.adminName1 }} {{ result.countryCode }} <span style="float:right;color:#ccc;display:none;">{{ result.fcodeName}}</span>
		        		</div>
		        	</div>
		        </div>

		        </a></li></ul>
		    </div>
		</div>

		<style>
		.powderkeg-legend {
		  position: absolute;
		  left: 7px;
		  bottom: 7px;
		  width: 129px;
		  height: 110px;
		  background: rgba(255,255,255,.9);
		  z-index: 10001;
		  display: block;
		  border: 1px solid rgba(0,0,0,.3);
		  border-radius: 5px;
		  padding-top:6px;
		}
		.powderkeg-legend button {
			background:transparent;
			border:1px solid #999;
			outline:none;
			float:left;
			font-size:12px;
			font-weight:500;
		}
		.powderkeg-legend button:first-child {
			margin-left:6px;
			border-top-left-radius: 99px;
			border-bottom-left-radius: 99px;
			border-right:0;
			padding-left:11px;
		}
		.powderkeg-legend button:nth-child(2) {
			border-top-right-radius: 99px;
			border-bottom-right-radius: 99px;
			border-left:0;
			padding-right:11px;
		}
		.powderkeg-legend button.selected {
			color:#fff;
			background: #999;
		}

		.powderkeg-legend .line {  
			display: inline-block;
			width: 20px;
			height: 4px;
			margin-left: 7px;
			margin-right: 5px;
			position: relative;
			bottom: 1px;
		}
		</style>
		<div ng-show="isPowderKeg()" class="powderkeg-legend">
			<div style="font-size: 13px;font-weight: 500;text-align: center; margin-bottom: 6px;">Wasatch Powder Keg</div>
			<div>
				<button ng-click="showRoute('saturday')" ng-class="{ selected: selectedRoute == 'saturday'}">Saturday</button>
				<button ng-click="showRoute('sunday')" ng-class="{ selected: selectedRoute == 'sunday'}">Sunday</button>
			</div>

			<div style="clear:both"></div>
			
			<div style="font-size:11px;margin-top:5px;">
				<div class="line" style="background:#000080"></div> Climb<br/>
				<div class="line" style="background:#ff0000"></div> Descend<br/>
				<div class="line" style="background:#ffcc00"></div> Booter<br/>
			</div>
		</div>
	</div>

	<div class="side-bar">
		<!--<div class="toggle-list" style="display:none;">
			<div class="title"><i class="fa fa-th-list"></i><span>Profiles <span style="color:#ddd;display:none;" ng-show="filteredProfiles.length">({{ filteredProfiles.length }})</span></span>
			</div>

			<div class="list-header">
				<button ng-mousedown="selectList('published',$event)" ng-class="{ selected: (selectedList == 'published') }">Published</button><button ng-mousedown="selectList('drafts',$event)" ng-class="{ selected: (selectedList == 'drafts') }">Drafts</button>
			</div>

		</div>-->

		<style>
		.toggle-list {
			text-align: center;
		}
		.toggle-list .tab {
			display: inline-block;
			padding-left:9px;
			padding-right:9px;
			font-weight:500;
			text-transform: uppercase;
			font-size:12px;
			opacity: .6;
			height: 44px;
			cursor: pointer;
		}
		.toggle-list .tab.selected {
			opacity: 1;
			/*border-bottom:2px solid #ffcc00;*/
		}
		.toggle-list .tab:hover {
			opacity: 1;
			/*border-bottom:2px solid #ffcc00;*/
		}
		</style>

		<div class="toggle-list">
			<!--<div class="title">
			<span>Observations <i ng-style="{ opacity: (loadingNew ? 1:0) }" class="fa fa-circle-o-notch fa-spin"></i></span>
			</div>-->


			<!--<div class="btn-group filter pull-right" dropdown style="position:absolute;right:0;padding-right:12px;">
			  <button type="button" class="btn btn-default dropdown-toggle" style="background:transparent;border:none;color: #fff;padding:0;">
			  	<span>
			  		<span style="margin-right:10px;font-weight:100;">Type</span>
			    	<div ng-repeat="type in ['profile','test','avy']" class="circle {{type}} {{ searchQuery.type[type] ? '' : 'empty' }}" style="position:relative;top:1px;"></div>
			    </span>
			    <span class="caret"></span>
			  </button>
		      	<ul class="dropdown-menu listSelect" role="menu" style="min-width:120px !important;height:auto;z-index:2000;">
		    			
			    	<li ng-click="type_select('profile')"><a>
			    	<div class="circle profile {{ searchQuery.type.profile ? '' : 'empty' }}"></div> Snowpit</a></li>

			    	<li ng-click="type_select('test')"><a>
			    	<div class="circle test {{ searchQuery.type.test ? '' : 'empty' }}"></div> SP1 Profile</a></li>

			    	<li ng-click="type_select('avy')"><a>
			    	<div class="circle avy {{ searchQuery.type.avy ? '' : 'empty' }}"></div> Avalanche</a></li>
			 	</ul>
			</div>-->

			<!--<div class="list-header">
				<div class="btn-group" dropdown style="">
				  <button type="button" class="btn btn-default dropdown-toggle">
				  	<span>Published</span>
				    <span class="caret"></span>
				  </button>
			      	<ul class="dropdown-menu listSelect" role="menu" style="height:auto;width:auto;">
			    			
				    	<li ng-click="type_select('profile')"><a>Published</a></li>
				    	<li ng-click="type_select('profile')"><a>Unpublished</a></li>
				 	</ul>
				</div>
			</div>-->

			<div class="list-header">
				<button ng-mousedown="selectList('published',$event)" ng-class="{ selected: (selectedList == 'published') }"><i class="ion-map"></i>&nbsp;&nbsp;All Observations</button><button ng-mousedown="selectList('my_published',$event)" ng-class="{ selected: (selectedList == 'my_published' || selectedList == 'my_unpublished') }"><i class="ion-person"></i>&nbsp;&nbsp;My Observations</button>
			</div>

		</div>

		<div class="list-subheader">
			<div style="position:relative;font-weight:100;text-align:center;line-height:38px;color:#ccc;"
				ng-show="selectedList == 'published'">
				<span style="font-style:italic;position:absolute;top:0;left:0;right:0;bottom:0;transition: opacity 100ms;" ng-style="{ opacity: (loadingNew ? 0:1) }">pan & zoom the map to see more observations</span>

				<span style="position:absolute;top:0;left:0;right:0;bottom:0;transition: opacity 100ms;" ng-style="{ opacity: (loadingNew ? 1:0) }" > <i class="fa fa-circle-o-notch fa-spin"></i>&nbsp;&nbsp;Loading</span>
			</div>

			<div ng-show="(selectedList == 'my_published' || selectedList == 'my_unpublished')">
				<div style="display:inline-block;float:left;">
					<button ng-mousedown="selectList('my_published',$event)" class="sub-btn"
						ng-class="{ selected: selectedList == 'my_published' }">Published</button>
					<button ng-mousedown="selectList('my_unpublished',$event)" class="sub-btn"
						ng-class="{ selected: selectedList == 'my_unpublished' }"
						>Unpublished</button>
				</div>

				<div class="btn-group filter" dropdown 
				style="float:left;"
				ng-show="selectedList == 'my_unpublished'">
				  <button type="button" class="btn btn-default dropdown-toggle" style="border: none; color: #fff; padding: 0; font-size: 11px; font-weight: 500; background: #444; height: 26px; margin-top: 6px; line-height: 26px; border-top-right-radius: 99px; border-bottom-right-radius: 99px; padding-right: 10px;">
				  	<span style="padding-left:4px;">

				    	<span ng-show="type_unpublished == 'profile'">
				    	<div style="position:relative;top:1px;" class="circle profile"></div> Snowpits</span>

				    	<span ng-show="type_unpublished == 'test'">
				    	<div style="position:relative;top:1px;" class="circle test"></div> SP1 Profiles</span>

				    	<span ng-show="type_unpublished == 'avy'">
				    	<div style="position:relative;top:1px;" class="circle avy"></div> Avalanches</span>

				    </span>
				    <span class="caret"></span>
				  </button>
			      	<ul class="dropdown-menu listSelect" role="menu" style="min-width:120px !important;height:auto;z-index:2000;">
			    			
				    	<li ng-click="set_type_unpublished('profile')" close-dropdown-on-click><a>
				    	<div class="circle profile"></div> Snowpits</a></li>

				    	<li ng-click="set_type_unpublished('test')" close-dropdown-on-click><a>
				    	<div class="circle test"></div> SP1 Profiles</a></li>

				    	<li ng-click="set_type_unpublished('avy')" close-dropdown-on-click><a>
				    	<div class="circle avy"></div> Avalanches</a></li>
				 	</ul>
				</div>
			</div>
		</div>

		<div class="list-bottom">
			<!--<div style="font-style:italic;font-weight:100;text-align:center;"
				ng-show="selectedList == 'published'">
				Pan & zoom the map to see more observations
			</div>-->
			<div ng-show="selectedList == 'my_unpublished' && type_unpublished == 'test'">
				<div style="float:left;font-weight:100;margin-left:10px;" ng-show="selectedProfiles.length">
				 {{ selectedProfiles.length }} profile{{ selectedProfiles.length == 1 ? '' : 's' }}  selected
				</div>

				<div style="float:right;" class="action-buttons" ng-show="selectedProfiles.length">
					<button ng-click="publishProfiles()" class="btn btn-primary"><i class="ion-upload"></i>&nbsp;&nbsp;Publish</button>
				</div>
			</div>
		</div>

		<div class="list-holder marginTop" scrollable always-visible="true" ng-show="selectedList == 'published'"
			>

			<div ng-show="loadingProfiles" style="text-align:center;padding-top:20px;font-size:18px;color:#aaa;">
			Loading<br/>
			<i class="fa fa-circle-o-notch fa-spin" style="margin-top:20px;font-size:40px;"></i>
			</div>

			<div ng-show="profiles.length == 0" style="text-align:center;font-size:16px;color:#333;padding:14px;padding-top:30px;">
				See how easy it is to record your manual snow profiles with <b>Snowpit Editor</b>
				<br/><br/>
				<a class="btn btn-lg btn-primary" href="/profiles/new">
				Create A Manual Profile
				</a>
			</div>
			<!-- using $parent here because 'scrollable' directive messes with scope. todo: look into this, not ideal -->

			<div ng-repeat="profile in $parent.filteredProfiles = (profiles | filter: doSearch) | orderBy : '-date' track by profile._id" class="side-list-item">

				<a style="padding:0px;color:#666;font-weight:100;" 
				href="/{{ profile.type[0] }}/{{ profile._id }}" 
				ng-mouseover="hoverProfile(profile)"
				ng-mouseout="hoverProfile()"
				old-ng-click="openProfile(profile)">

					<div class="bar {{ profile.type }}"></div>

					<canvas ng-if="profile.type=='profile'" profile="profile" width="120" height="136"></canvas>
					<canvas ng-if="profile.type=='test'" graph="profile.rows_small" width="120" height="136"></canvas>
					<div ng-if="profile.type=='avy'" class="thumb"></div>

					<div class='lineItem'><i class="fa fa-user"></i>{{profile.user.fullName}} 
                  		<span ng-show="profile.user.student" style="color: #888;">&nbsp;&nbsp;<i class="fa fa-graduation-cap"></i>&nbsp;<span style='font-size:8px;position: relative;bottom:1px;'>STUDENT</span></span>

						<!--<span style="padding-left:3px;" ng-show="profile.sharingLevel=='org'">({{ profile.organization.name }})</span>

						<span style="padding-left:3px;" ng-show="profile.sharingLevel=='private'">
						<i class="fa fa-lock"></i></span>

						<span style="padding-left:3px;" ng-show="profile.sharingLevel=='pros'">
						<i class="fa fa-globe"></i></span>-->

					</div>

					<div class='lineItem'><i class="fa fa-group"></i>{{profile.organization.name}}</div>

					<div ng-if="profile.type=='profile' || profile.type=='avy'" class='lineItem'><i class="fa fa-clock-o"></i>{{profile.date | date:'M/d/yy'}} {{profile.time | date:'h:mm a'}}</div>
					<div ng-if="profile.type=='test'" class='lineItem'><i class="fa fa-clock-o"></i>{{profile.date | date:'M/d/yy h:mm a'}}</div>

					<div class='lineItem' ng-hide="profile.type=='test'"><i class="fa fa-map-marker"></i>{{ profile.type == 'avy' ? profile.locationName : profile.metaData.location }}</div>
					<div class="lineItem" ng-show="profile.type=='test'"><i class="fa fa-map-marker"></i>{{ profile.location.length ? 
						profile.location[1] + ', ' + profile.location[0] :
						'NO LOCATION'
						 }}</div>

				</a>

			</div>
			<div ng-show="profiles.length > 0 && filteredProfiles.length == 0 && filteredDrafts.length != 0">
			<div style="text-align:center;padding:30px;font-weight:100;font-size:16px;">No observations found matching<br/>your search criteria and within<br/>your current map view.</div>
			</div>
		</div>

		<div class="list-holder marginTop" scrollable ng-show="selectedList == 'my_published'" always-visible="true">

			<div ng-show="loadingProfiles" style="text-align:center;padding-top:20px;font-size:18px;color:#aaa;">
			Loading<br/>
			<i class="fa fa-circle-o-notch fa-spin" style="margin-top:20px;font-size:40px;"></i>
			</div>

			<div ng-show="profiles.length == 0" style="text-align:center;font-size:16px;color:#333;padding:14px;padding-top:30px;">
				See how easy it is to record your manual snow profiles with <b>Snowpit Editor</b>
				<br/><br/>
				<a class="btn btn-lg btn-primary" href="/profiles/new">
				Create A Manual Profile
				</a>
			</div>
			<!-- using $parent here because 'scrollable' directive messes with scope. todo: look into this, not ideal -->

			<div ng-repeat="profile in $parent.filteredDrafts2 = (myProfiles | filter: my_published) | orderBy : '-date' track by profile._id" class="side-list-item">

				<a style="padding:0px;color:#666;font-weight:100;" 
				href="/{{ profile.type[0] }}/{{ profile._id }}" 
				ng-mouseover="hoverProfile(profile)"
				ng-mouseout="hoverProfile()"
				old-ng-click="openProfile(profile)">

					<div class="bar {{ profile.type }}"></div>

					<canvas ng-if="profile.type=='profile'" profile="profile" width="120" height="136"></canvas>
					<canvas ng-if="profile.type=='test'" graph="profile.rows_small" width="120" height="136"></canvas>
					<div ng-if="profile.type=='avy'" class="thumb"></div>

					<div class='lineItem'><i class="fa fa-user"></i>{{profile.user.fullName}} 
                  		<span ng-show="profile.user.student" style="color: #888;">&nbsp;&nbsp;<i class="fa fa-graduation-cap"></i>&nbsp;<span style='font-size:8px;position: relative;bottom:1px;'>STUDENT</span></span>

						<!--<span style="padding-left:3px;" ng-show="profile.sharingLevel=='org'">({{ profile.organization.name }})</span>

						<span style="padding-left:3px;" ng-show="profile.sharingLevel=='private'">
						<i class="fa fa-lock"></i></span>

						<span style="padding-left:3px;" ng-show="profile.sharingLevel=='pros'">
						<i class="fa fa-globe"></i></span>-->

					</div>

					<div class='lineItem'><i class="fa fa-group"></i>{{profile.organization.name}}</div>

					<div ng-if="profile.type=='profile' || profile.type=='avy'" class='lineItem'><i class="fa fa-clock-o"></i>{{profile.date | date:'M/d/yy'}} {{profile.time | date:'h:mm a'}}</div>
					<div ng-if="profile.type=='test'" class='lineItem'><i class="fa fa-clock-o"></i>{{profile.date | date:'M/d/yy h:mm a'}}</div>

					<div class='lineItem' ng-hide="profile.type=='test'"><i class="fa fa-map-marker"></i>{{ profile.type == 'avy' ? profile.locationName : profile.metaData.location }}</div>
					<div class="lineItem" ng-show="profile.type=='test'"><i class="fa fa-map-marker"></i>{{ profile.location.length ? 
						profile.location[1] + ', ' + profile.location[0] :
						'NO LOCATION'
						 }}</div>

				</a>

			</div>
			<div ng-show="profiles.length > 0 && filteredProfiles.length == 0 && filteredDrafts.length != 0">
			<div style="text-align:center;padding:30px;font-weight:100;font-size:16px;">No observations found matching<br/>your search criteria and within<br/>your current map view.</div>
			</div>
		</div>

		<div class="list-holder marginTop" scrollable 
		ng-class="{ 'marginBottom': selectedProfiles.length > 0 }"
		ng-show="selectedList == 'my_unpublished'" always-visible="true">

			<div ng-show="loadingProfiles" style="text-align:center;padding-top:20px;font-size:18px;color:#aaa;">
			Loading<br/>
			<i class="fa fa-circle-o-notch fa-spin" style="margin-top:20px;font-size:40px;"></i>
			</div>

			<div ng-repeat="profile in $parent.filteredDrafts = (myProfiles | filter: my_unpublished) | orderBy : '-updated' track by profile._id" class="side-list-item">
				<a href="{{ profile.type == 'test' ? '/t/' + profile._id : '/profiles/' + profile._id }}" style="padding:0px;color:#666;font-weight:100;">

					<div class="check" onclick="return false;">
						<i class="fa" 
						ng-class="{ 
						'fa-square-o': !isProfileSelected(profile),
						'fa-check-square-o checked': isProfileSelected(profile) }"
						ng-click="selectProfile(profile);" ></i>
					</div>

					<!--<div class="bar {{ profile.type }}"></div>-->

					<canvas ng-if="profile.type=='profile'" profile="profile" width="120" height="136"></canvas>
					<canvas ng-if="profile.type=='test'" graph="profile.rows_small" width="120" height="136"></canvas>
					<div ng-if="profile.type=='avy'" class="thumb"></div>

					<div>
						<div ng-hide="profile.type=='test'" style="color:#999;font-style:italic;padding-left:88px;margin-bottom:2px;font-size:12px;">Last edited <span am-time-ago="profile.updated"></span></div>
						<div ng-show="profile.type=='test'" style="color:#999;font-style:italic;padding-left:88px;margin-bottom:2px;font-size:12px;">Uploaded <span am-time-ago="profile.created"></span></div>

						<div class="lineItem" ng-hide="profile.type=='test'" ><i class="fa fa-clock-o"></i>{{profile.date | date:'M/d/yy'}} {{profile.time | date:'h:mm a'}}</div>
						<div class="lineItem" ng-show="profile.type=='test'" ><i class="fa fa-clock-o"></i>{{profile.date | date:'M/d/yy h:mm a'}}</div>

						<div class="lineItem" ng-hide="profile.type=='test'"><i class="fa fa-map-marker"></i>{{ profile.metaData.location }}</div>

						<div class="lineItem" ng-show="profile.type=='test'"><i class="fa fa-map-marker"></i>{{ profile.location.length ? 
						profile.location[1] + ', ' + profile.location[0] :
						'NO LOCATION'
						 }}</div>
					</div>

				</a>
			</div>
		</div>
	</div>

	<div ng-show="showPreviewPane()" class="preview-pane" >
		<div ui-view></div>
	</div>

</section>