<section ng-controller="ForgotPasswordController" ng-cloak class="login-page">
	<div class="login-form">
		<img class="logo" src="/img/avanet_logo.png"/>

		<div class="fade in alert alert-block alert-danger" ng-show="validationError">
			{{validationError}}
		</div>
		<div class="fade in alert alert-block alert-success" ng-show="resetSuccess">
			Thanks! We just sent you an email with instructions on how to reset your password.
			<br/><br/>
			<b><a href="/login">Back to login</a></b>
		</div>
		<form class="signin ng-pristine ng-valid panel panel-default" ng-hide="resetSuccess" style="border:none;padding:20px;background-color:rgba(255,255,255,.9);margin-top:10px;">
				<div class="form-group">
				<label for="email" style="text-align: left; float: left; color: #000; font-weight: 500; font-size: 18px;">Enter your email to reset your password</label>
				<div class="controls">
					<input id="email" ng-model="email" class="form-control" type="text" name="email" placeholder="Email" autofocus>
				</div>
			</div>
				<div style="padding-top:10px;text-align:right;">
				<button ng-click="send()" class="btn btn-primary btn-lg">Reset Password</button>
			</div>
		</form>
	</div>
</section>