<section ng-controller="ResetPasswordController" ng-cloak class="login-page">
	<div class="login-form">
		<img class="logo" src="/img/avanet_logo.png"/>

		<div class="fade in alert alert-block alert-danger" ng-show="validToken == false || error == 'invalid token'">
			Oops! You waited too long to reset your password. For security purposes, please <a href="/forgot-password">request a new password reset</a>.
		</div>
		<div class="fade in alert alert-block alert-danger" ng-show="validationError">
			{{validationError}}
		</div>
		<div class="fade in alert alert-block alert-success" ng-show="successfulReset">
			All set! You can now <b><a href="/login">login</a></b> with your new password.
		</div>

		<form class="signin ng-pristine ng-valid panel panel-default" ng-show="validToken" ng-hide="!validToken || successfulReset" style="border:none;padding:20px;background-color:rgba(255,255,255,.9);margin-top:10px;">
				<div class="form-group">
				<label for="password" class="control-label" style="text-align: left; float: left; color: #000; font-weight: 500; font-size: 18px;">New password</label>
				<div class="controls">
					<input id="password" ng-model="password" class="form-control" type="password" name="password" autofocus>
				</div>
			</div>

				<div class="form-group">
				<label for="passwordConfirm" class="control-label" style="text-align: left; float: left; color: #000; font-weight: 500; font-size: 18px;">New password (again, just to make sure)</label>
				<div class="controls">
					<input id="password" ng-model="passwordConfirm" class="form-control" type="password" name="passwordConfirm">
				</div>
			</div>

				<div style="padding-top:10px;text-align:right;">
				<button ng-click="reset()" class="btn btn-primary btn-lg">Reset Password</button>
			</div>
		</form>
	</div>
</section>