<style>
	h3 b {
		color:#fff;
		background:#333;
		width:26px;
		height:26px;
		line-height: 26px;
		border-radius: 20px;
		display:inline-block;
		text-align:center;
		font-size:14px;
		font-weight:100;
		vertical-align: top;
		margin-right:3px;
	}
	h4 { margin-bottom: 8px; font-size:13px; font-style: italic; color: #444; font-weight:300;}
	.deviceTest {
		vertical-align: top;
		width: 95px;
		height: 95px;
		line-height: 95px;
		background:#fff;
		display:inline-block;
		margin-right:10px;
		text-align: center;
		font-weight:100;
		font-size:20px;
		position: relative;
		border:1px solid #fff;
	}
	.deviceTest .loaded {
		position: absolute;
		z-index: 999;
		top: 3px;
		right: 3px;
		font-size:12px;
		line-height:12px;
		text-shadow:0px 0px 2px #fff;
	}

	.manualProfile {
		width:150px;height:150px;background:#fff;display:table;
		border:1px solid #fff;
	}

	.subsection {
		margin-left: 34px;
	}
</style>
<section data-ng-controller="FieldTestsController" ng-init="findOne()" class="layout-normal">

	<div class="container" ng-hide="currentTest">
		<i class="ion-loading-c" style="font-size:50px;margin-top:16px;"/>
	</div>
	<div class="container" ng-show="currentTest">
		<h2>{{ currentTest.profile.metaData.location }}</h2>
		<div ng-show="global.user.admin" style="margin-top:10px;">
			<a class="btn btn-default" ng-click="download()" ng-disabled="downloading"><i class="fa fa-download"></i>&nbsp;&nbsp;<span ng-show="!downloading">Download raw data</span>
			<span ng-show="downloading">Downloading...</span>
			</a>
		</div>

		<h3 ><b>1</b> Manual Profile</h3>
		<div class="subsection" style="width:525px;">
			<a href="/profiles/{{ currentTest.profile._id }}">
				<div class="manualProfile">
					<canvas profile="currentTest.profile" width="400" height="400" style="height:100%;width:100%;background:#fff;"></canvas>
				</div>
			</a>
        </div>

		<h3><b>2</b> Device Tests</h3>
		<div class="subsection" style="">
			<div style="display:inline-block;">
				<b>Vertically into slope</b>
				<h4>Probe at a medium speed into the snowpack</h4>
				<div ng-repeat="num in [1,2,3]" class="deviceTest" >
				<span class="{{ currentTest['test' + num] ? 'loaded' : '' }}">{{num}}</span>
				<a target="_blank" href="/tests/{{ currentTest['test' + num]._id }}">
				<canvas ng-show="currentTest['test' + num]" height="200" width="200" style="width:100%;height:100%;background:#fff;" graph="currentTest['test' + num].rows_small" ></canvas></a>
				</div>

				<h4>Probe at a rapid speed, as fast as you can into the snowpack</h4>
				<div ng-repeat="num in [4,5,6]" class="deviceTest" >
				<span class="{{ currentTest['test' + num] ? 'loaded' : '' }}">{{num}}</span>
				<a target="_blank" href="/tests/{{ currentTest['test' + num]._id }}">
				<canvas ng-show="currentTest['test' + num]" height="200" width="200" style="width:100%;height:100%;background:#fff;" graph="currentTest['test' + num].rows_small" ></canvas></a>
				</div>

				<h4>Probe at a very slow, constant speed, lasting 4-5 seconds</h4>
				<div ng-repeat="num in [7,8,9]" class="deviceTest">
				<span class="{{ currentTest['test' + num] ? 'loaded' : '' }}">{{num}}</span>
				<a target="_blank" href="/tests/{{ currentTest['test' + num]._id }}">
				<canvas ng-show="currentTest['test' + num]" height="200" width="200" style="width:100%;height:100%;background:#fff;" graph="currentTest['test' + num].rows_small" ></canvas></a>
				</div>
			</div>

			<div style="display:inline-block;margin-left:34px;">
				<b>Perpendicular to slope</b>
				<h4>Probe at a medium speed into the snowpack</h4>
				<div ng-repeat="num in [10,11,12]" class="deviceTest">
				<span class="{{ currentTest['test' + num] ? 'loaded' : '' }}">{{num}}</span>
				<a target="_blank" href="/tests/{{ currentTest['test' + num]._id }}">
				<canvas ng-show="currentTest['test' + num]" height="200" width="200" style="width:100%;height:100%;background:#fff;" graph="currentTest['test' + num].rows_small" ></canvas></a>
				</div>

				<h4>Probe at a rapid speed, as fast as you can into the snowpack</h4>
				<div ng-repeat="num in [13,14,15]" class="deviceTest">
				<span class="{{ currentTest['test' + num] ? 'loaded' : '' }}">{{num}}</span>
				<a target="_blank" href="/tests/{{ currentTest['test' + num]._id }}">
				<canvas ng-show="currentTest['test' + num]" height="200" width="200" style="width:100%;height:100%;background:#fff;" graph="currentTest['test' + num].rows_small" ></canvas></a>
				</div>

				<h4>Probe at a very slow, constant speed, lasting 4-5 seconds</h4>
				<div ng-repeat="num in [16,17,18]" class="deviceTest">
				<span class="{{ currentTest['test' + num] ? 'loaded' : '' }}">{{num}}</span>
				<a target="_blank" href="/tests/{{ currentTest['test' + num]._id }}">
				<canvas ng-show="currentTest['test' + num]" height="200" width="200" style="width:100%;height:100%;background:#fff;" graph="currentTest['test' + num].rows_small" ></canvas></a>
				</div>
			</div>


		</div>

		<h3><b>3</b> Feedback</h3>
		<div class="subsection" style="width:525px;">
			<b>What has worked well in using the device so far?</b><br/><br/>
			<div ng-bind-html="lineBreaks(currentTest.feedback1)"></div>
			<br/>

			<b>What hasn't worked well? What do we need to improve?</b><br/><br/>
			<div ng-bind-html="lineBreaks(currentTest.feedback2)"></div>
			<br/>

			<b>Any additional notes/comments/suggestions?</b><br/><br/>
			<div ng-bind-html="lineBreaks(currentTest.feedback3)"></div>
			<br/>
		</div>
		<br/>

	</div>
</section>