<style>
	h3 b {
		color:#fff;
		background:#333;
		width:26px;
		height:26px;
		line-height: 26px;
		border-radius: 20px;
		display:inline-block;
		text-align:center;
		font-size:14px;
		font-weight:100;
		vertical-align: top;
		margin-right:3px;
	}
	h4 { margin-bottom: 8px; font-size:13px; font-style: italic; color: #444; font-weight:300;}
	.deviceTest {
		vertical-align: top;
		width: 70px;
		height: 70px;
		line-height: 70px;
		background:#fff;
		display:inline-block;
		margin-right:10px;
		text-align: center;
		font-weight:100;
		font-size:20px;
		position: relative;
		cursor: pointer;
		border:1px solid #fff;
	}
	.deviceTest:hover {
		border:1px solid #888;
	}
	.deviceTest .loaded {
		position: absolute;
		z-index: 999;
		top: 3px;
		right: 3px;
		font-size:12px;
		line-height:12px;
		text-shadow:0px 0px 2px #fff;
	}

	.manualProfile {
		width:150px;height:150px;background:#fff;display:table;
		cursor: pointer;
		border:1px solid #fff;
	}
	.manualProfile:hover {
		border:1px solid #888;
	}

	.subsection {
		margin-left: 34px;
	}
</style>
<section data-ng-controller="FieldTestsController" class="layout-normal">
	<div class="container" ng-show="submitted" style="text-align:center;">
		<i class="fa fa-check" style="border-radius:99px;background:#1fa67a;color:#fff;font-size:40px;font-size: 100px;padding: 20px;margin-top: 30px;"></i>
		<h2>Thanks! Your report has been submitted.</h2><br/>
		<button class="btn btn-primary btn-lg" ng-click="reload()">Create another field test</button>
	</div>
	<div class="container" ng-show="!submitted">
		<h3 ><b>1</b> Manual Profile</h3>
		<div class="subsection" style="width:525px;">
			<div style="margin-bottom:14px;{{ error.selectManualProfile ? 'color:red' : ''  }}">
				Select the manual profile you recorded for this field test.
			</div>
			<div class="manualProfile" ng-click="selectManualProfile()">
				<div ng-show="!currentTest.profile" style="display:table-cell;text-align:center;vertical-align:middle;font-weight:100;height:100%;width:100%:">
				Click to<br/>select profile
				</div>
				<canvas ng-show="currentTest.profile" profile="currentTest.profile" width="400" height="400" style="height:100%;width:100%;background:#fff;"></canvas>
			</div>
        </div>

		<h3><b>2</b> Device Tests</h3>
		<div class="subsection" style="">
			<div style="margin-bottom:16px">
				Click on a field test number to choose its corresponding device profile, per your field notes.
			</div>
			<div style="display:inline-block;">
				<b>Vertically into slope</b>
				<h4>Probe at a medium speed into the snowpack</h4>
				<div ng-repeat="num in [1,2,3]" class="deviceTest" ng-click="selectDeviceTest(num)">
				<span class="{{ currentTest['test' + num] ? 'loaded' : '' }}">{{num}}</span>
				<canvas ng-show="currentTest['test' + num]" height="150" width="150" style="width:100%;height:100%;background:#fff;" graph="currentTest['test' + num].rows_small" ></canvas>
				</div>

				<h4>Probe at a rapid speed, as fast as you can into the snowpack</h4>
				<div ng-repeat="num in [4,5,6]" class="deviceTest" ng-click="selectDeviceTest(num)">
				<span class="{{ currentTest['test' + num] ? 'loaded' : '' }}">{{num}}</span>
				<canvas ng-show="currentTest['test' + num]" height="150" width="150" style="width:100%;height:100%;background:#fff;" graph="currentTest['test' + num].rows_small" ></canvas>
				</div>

				<h4>Probe at a very slow, constant speed, lasting 4-5 seconds</h4>
				<div ng-repeat="num in [7,8,9]" class="deviceTest" ng-click="selectDeviceTest(num)">
				<span class="{{ currentTest['test' + num] ? 'loaded' : '' }}">{{num}}</span>
				<canvas ng-show="currentTest['test' + num]" height="150" width="150" style="width:100%;height:100%;background:#fff;" graph="currentTest['test' + num].rows_small" ></canvas>
				</div>
			</div>

			<div style="display:inline-block;margin-left:34px;">
				<b>Perpendicular to slope</b>
				<h4>Probe at a medium speed into the snowpack</h4>
				<div ng-repeat="num in [10,11,12]" class="deviceTest" ng-click="selectDeviceTest(num)">
				<span class="{{ currentTest['test' + num] ? 'loaded' : '' }}">{{num}}</span>
				<canvas ng-show="currentTest['test' + num]" height="150" width="150" style="width:100%;height:100%;background:#fff;" graph="currentTest['test' + num].rows_small" ></canvas>
				</div>

				<h4>Probe at a rapid speed, as fast as you can into the snowpack</h4>
				<div ng-repeat="num in [13,14,15]" class="deviceTest" ng-click="selectDeviceTest(num)">
				<span class="{{ currentTest['test' + num] ? 'loaded' : '' }}">{{num}}</span>
				<canvas ng-show="currentTest['test' + num]" height="150" width="150" style="width:100%;height:100%;background:#fff;" graph="currentTest['test' + num].rows_small" ></canvas>
				</div>

				<h4>Probe at a very slow, constant speed, lasting 4-5 seconds</h4>
				<div ng-repeat="num in [16,17,18]" class="deviceTest" ng-click="selectDeviceTest(num)">
				<span class="{{ currentTest['test' + num] ? 'loaded' : '' }}">{{num}}</span>
				<canvas ng-show="currentTest['test' + num]" height="150" width="150" style="width:100%;height:100%;background:#fff;" graph="currentTest['test' + num].rows_small" ></canvas>
				</div>
			</div>


		</div>

		<h3><b>3</b> Feedback</h3>
		<div class="subsection" style="width:525px;">
			What has worked well in using the device so far?
			<textarea ng-model="currentTest.feedback1" class="form-control" rows="3"></textarea><br/>

			What hasn't worked well? What do we need to improve?
			<textarea ng-model="currentTest.feedback2" class="form-control" rows="3"></textarea><br/>

			Any additional notes/comments/suggestions?
			<textarea ng-model="currentTest.feedback3" class="form-control" rows="3"></textarea>
		</div>

		<h3><b>4</b> Submit</h3>
		<div class="subsection" style="width:525px;">
			Before submitting this field test report, please review your data for accuracy. Once you submit, your data will be sent to AvaTech for analysis and you will not be able to edit this field test.
			<br/>
			<div class="form-group">
				<div class="checkbox">
					<label>
				  		<input ng-model="reviewed" type="checkbox"> <b style="{{ error.review ? 'color:red' : ''  }}">I have reviewed this field test report for accuracy.</b>
					</label>
				</div>
			</div>
			<button class="btn btn-primary btn-lg" ng-click="submit()">Submit</button>
		</div>

		<br/>

	</div>
</section>