<section ng-controller="MapController">
	<section ng-class="{ 'hide-main': isFullScreen() }" >
		<div id="map-header" ng-hide="isDemo" ng-style="{ right: (showPreviewPane() ? 585 : (showRoutePane() ? 290 : 0) ), left: (isDemo ? 0 : 280) }">

				<div ob-search="obSearch" style="float:left;"
					orgs="global.orgs"
					show-publisher="(global.user.userType == 'pro' || global.user.userType == 'pro+') && selectedList == 'published'"
				></div>

				<!-- Red Flags Count -->
				<div style="float:right;font-size:24px;margin-top: 5px;margin-right: 10px;"
					ng-hide="!detailMode || !filteredProfiles || filteredProfiles.length == 0 || redFlagCount == 0" >
					<span style="color:#000;font-weight:500;letter-spacing: -.04em;">{{ redFlagCount = ((filteredProfiles | filter: { redFlag: true }).length) }}</span><i class="fa fa-flag" style="color: #db1f26; margin-left: 4px; font-size: .9em; position: relative; bottom: 2px;"></i> 
					<!-- Rose Graph 
					<canvas height="80" width="80" style="width:34px;height:34px;" rose-graph=""></canvas>-->
				</div>

		</div>

		<div id="map-container" ng-style="{ right: (showPreviewPane() ? 585 : (showRoutePane() ? 290 : 0) ), bottom: (showBottomPane() ? 170 : 0), left: (isDemo ? 0 : 280), top: (isDemo ? 46 : 90)  }">
			<div map="map" 
				obs="profiles"
				hover-ob="hoverOb"
				search="obSearch"

				detail-mode="detailMode"
				loading-new="loadingNew"
				loading="loadingProfiles"
				terrain-layer="terrainLayer"
			></div>
		</div>

		<div class="side-bar" ng-hide="isDemo">

			<div class="toggle-list">
				<div class="list-header">
					<button ng-mousedown="selectTab('obs',$event)" ng-class="{ selected: (selectedTab == 'obs') }"><img src="/img/icon_obs.png" style="height: 22px; margin-right: 3px; position: relative; bottom: 2px;"/>&nbsp;&nbsp;{{ 'observations' | translate }}</button><button ng-mousedown="selectTab('routes',$event)" ng-class="{ selected: (selectedTab == 'routes') }"><img src="/img/icon_routes.png" style="height: 24px; margin-right: 3px;position:relative;bottom:1px;"/>&nbsp;&nbsp;{{ 'routes' | translate }}</button><!--button ng-mousedown="selectList('my_published',$event)" ng-class="{ selected: (selectedList == 'my_published' || selectedList == 'my_unpublished') }"><i class="ion-person"></i>&nbsp;&nbsp;Tracks</button>-->
				</div>
			</div>

			<div class="list-subheader">
				<div class="sublist-header" ng-show="selectedTab == 'obs'">
					<button ng-mousedown="selectList('published',$event)" ng-class="{ selected: (selectedList == 'published') }"><i class="ion-map"></i>&nbsp;&nbsp;{{ 'all_observations' | translate }}</button><button ng-mousedown="selectList('my_published',$event)" ng-class="{ selected: (selectedList == 'my_published' || selectedList == 'my_unpublished') }"><i class="ion-person"></i>&nbsp;&nbsp;{{ 'my_observations' | translate }}</button>
				</div>
				<div class="sublist-header" ng-show="selectedTab == 'routes'">
					<span style="font-style:italic;position:absolute;top:0;left:0;right:0;bottom:0;transition: opacity 100ms;">showing my routes</span>
				</div>
			</div>
			<div class="list-sub-subheader" ng-show="selectedTab == 'obs'">
				<div style="position:relative;font-weight:100;text-align:center;line-height:38px;color:#777;"
					ng-show="selectedList == 'published'">
					<span style="font-style:italic;position:absolute;top:0;left:0;right:0;bottom:0;transition: opacity 100ms;" ng-style="{ opacity: (loadingNew ? 0:1) }">{{ 'pan_and_zoom' | translate }} {{ hoverProfile }}</span>

					<span style="position:absolute;top:0;left:0;right:0;bottom:0;transition: opacity 100ms;" ng-style="{ opacity: (loadingNew ? 1:0) }" > <i class="fa fa-circle-o-notch fa-spin"></i></span>
				</div>

				<div ng-show="(selectedList == 'my_published' || selectedList == 'my_unpublished')">
					<div style="display:inline-block;float:left;">
						<button ng-mousedown="selectList('my_published',$event)" class="sub-btn"
							ng-class="{ selected: selectedList == 'my_published' }">{{ 'published' | translate }}</button>
						<button ng-mousedown="selectList('my_unpublished',$event)" class="sub-btn"
							ng-class="{ selected: selectedList == 'my_unpublished' }"
							>{{ 'unpublished' | translate }}</button>
					</div>
				</div>
			</div>

			<div class="list-bottom">
				<div ng-show="selectedList == 'my_unpublished'">
					<div style="float:left;font-weight:100;margin-left:10px;" ng-show="selectedProfiles.length">
					</div>

					<div style="float:right;" class="action-buttons" ng-show="selectedProfiles.length">
						<button ng-click="publishProfiles()" class="btn btn-primary"><i class="ion-upload"></i>&nbsp;&nbsp;Publish</button>
					</div>
				</div>
			</div>

			<!--<div class="loading-overlay" ng-show="loadingNew"></div>-->

			<script type="text/ng-template" id="observationListItemTemplate">
			  	<div bindonce class="side-list-item short"
					ng-mouseover="hoverProfile(profile._id)"
					ng-mouseout="hoverProfile(null)">

					<a style="padding:0px;color:#666;font-weight:100;" 
					href="/obs/{{ profile._id }}">

						<canvas bo-if="profile.type=='snowpit'" profile="profile" width="120" height="150"></canvas>

						<canvas bo-if="profile.type=='sp-profile'" graph="profile.rows_micro" width="120" height="150"></canvas>

						<div bo-if="profile.type!='snowpit' && profile.type!='sp-profile'" class="thumb"
						 ng-class="{ redFlag: profile.redFlag }">
							<img src="/img/markers/{{ profile.type }}-icon.png"/>
						</div>

						<div class='lineItem'><i class="fa fa-user"></i>{{ ::profile.user.fullName}} 
	                  		<span bo-show="profile.user.userType == 'pro' || profile.user.userType == 'pro+'" class='pro-badge'>PRO</span>
						</div>

						<div class='lineItem'><i class="fa fa-group"></i>{{ ::profile.organization.name}}</div>

						<div class='lineItem'><i class="fa fa-clock-o"></i>{{ ::profile.date | date:'M/d/yy h:mm a'}}</div>

						<!--<div class='lineItem' ng-hide="profile.type=='sp-profile'"><i class="fa fa-map-marker"></i>{{ profile.type == 'avy' ? profile.locationName : profile.metaData.location }}</div>
						<div class="lineItem" ng-show="profile.type=='sp-profile'"><i class="fa fa-map-marker"></i>{{ profile.location.length ? 
							profile.location[1] + ', ' + profile.location[0] :
							'NO LOCATION'
							 }}</div>-->

					</a>
				</div>
			</script>

			<!-- Observations -->
			<div ng-show="selectedTab == 'obs'">
				<!-- Map Observations -->
				<div class="list-holder marginTopDouble" scrollable always-visible="true" ng-show="selectedList == 'published' && detailMode"
					>

					<div ng-show="loadingProfiles" style="text-align:center;padding-top:20px;font-size:18px;color:#aaa;">
						<i class="fa fa-circle-o-notch fa-spin" style="margin-top:20px;font-size:40px;"></i>
					</div>

					<div ng-show="filteredProfiles.length == 0" class="no-obs-found">{{ 'no_obs_found' | translate }}</div>

					<!-- using $parent here because 'scrollable' directive messes with scope. todo: look into this, not ideal -->
					<ng-include src="'observationListItemTemplate'" ng-repeat="profile in $parent.filteredProfiles = ($parent.profiles | filter: { filtered: false } ) | orderBy: '-date' track by profile._id" />
				</div>

				<!-- My Observations: Published -->
				<div class="list-holder marginTopDouble" scrollable ng-show="selectedList == 'my_published'" always-visible="true">

					<div ng-show="filteredProfiles2.length == 0" style="no-obs-found">{{ 'no_obs_found' | translate }}</div>

					<!-- using $parent here because 'scrollable' directive messes with scope. todo: look into this, not ideal -->
					<ng-include src="'observationListItemTemplate'" ng-repeat="profile in $parent.filteredDrafts2 = (myProfiles | filter: my_published) | orderBy : '-date' track by profile._id"  />
				</div>

				<!-- My Observations: Unpublished -->
				<div class="list-holder marginTopDouble" scrollable 
				ng-class="{ 'marginBottom': selectedProfiles.length > 0 }"
				ng-show="selectedList == 'my_unpublished'" always-visible="true">

					<div ng-show="filteredDrafts.length == 0" class="no-obs-found">{{ 'no_obs_found' | translate }}</div>

					<div ng-repeat="profile in $parent.filteredDrafts = (myProfiles | filter: my_unpublished) | orderBy : '-updated' track by profile._id" class="side-list-item short">
						<a href="{{ profile.type == 'sp-profile' ? '/t/' + profile._id : '/profiles/' + profile._id }}" style="padding:0px;color:#666;font-weight:100;">

							<div class="check" onclick="return false;">
								<i class="fa" 
								ng-class="{ 
								'fa-square-o': !isProfileSelected(profile),
								'fa-check-square-o checked': isProfileSelected(profile) }"
								ng-click="selectProfile(profile);" ></i>
							</div>

							<canvas ng-if="profile.type=='snowpit'" profile="profile" width="120" height="136"></canvas>
							<canvas ng-if="profile.type=='sp-profile'" graph="profile.rows_micro" width="120" height="136"></canvas>
							<div ng-if="profile.type=='avy'" class="thumb"></div>

							<div>
								<div ng-show="profile.type=='snowpit'" class="last-edit">Last edited <span am-time-ago="profile.updated"></span></div>
								<div ng-show="profile.type=='sp-profile'" class="last-edit">Uploaded <span am-time-ago="profile.created"></span></div>

								<div class="lineItem"><i class="fa fa-clock-o"></i>{{profile.date | date:'M/d/yy h:mm a'}}</div>

								<div class="lineItem" ng-hide="profile.type=='sp-profile'"><i class="fa fa-map-marker"></i>{{ profile.metaData.location }}</div>

								<div class="lineItem" ng-show="profile.type=='sp-profile'"><i class="fa fa-map-marker"></i>{{ profile.location.length ? 
								profile.location[1] + ', ' + profile.location[0] :
								'NO LOCATION'
								 }}</div>
							</div>

						</a>
					</div>
				</div>
			</div>

			<!-- Routes -->
			<div ng-show="selectedTab == 'routes'">
				<!-- My Routes -->
				<div class="list-holder marginTopSingle" scrollable always-visible="true">

					<!-- <div ng-show="loadingProfiles" style="text-align:center;padding-top:20px;font-size:18px;color:#aaa;">
						<i class="fa fa-circle-o-notch fa-spin" style="margin-top:20px;font-size:40px;"></i>
					</div> -->

					<!-- <div ng-show="filteredProfiles.length == 0" class="no-obs-found">{{ 'no_obs_found' | translate }}</div> -->

					<div bindonce ng-repeat="route in $parent.myRoutes | orderBy: '-updated' track by route._id"
					class="side-list-item route"
					style="background-size:cover;background-image:url('{{ ::route.imageURL }}') !important; border-bottom: 1px solid #bbb;"
					>
					<a
					href="/routes/{{ route._id }}" 
					-test-ng-mouseover="hoverProfile = profile._id"
					-test-ng-mouseout="hoverProfile = null"
					>

						<!--<div class='lineItem'><i class="fa fa-group"></i>{{ ::profile.organization.name}}</div>-->
						<!--<img bo-src="route.imageURL" style="width:100%;"/>-->

						<div class='lineItem' style="font-size: 18px; padding-bottom: 4px; margin-left: 7px;font-weight:500;">{{ ::route.name }}</div>

						<div class='lineItem'><i class="fa fa-clock-o"></i>{{ ::route.updated | date:'M/d/yy h:mm a'}}</div>

					</a>
				</div>
				</div>
			</div>
		</div>

		<!-- preview pane on right side of screen -->
		<div ng-show="showPreviewPane()" class="preview-pane" >
			<div ui-view="right-pane"></div>
		</div>

		<!-- bottom pane -->
		<div ng-show="showBottomPane()" class="bottom-pane" style="left:280px;"></div>

		<!-- route pane -->
		<div ng-show="showRoutePane()" class="route-pane" ui-view="route-pane"></div>

	</section>

	<section ng-show="isFullScreen()" ui-view="content"></section>

</section>