<section ng-controller="MapController">
<style>
.flag-icon {
    color: red !important;
    border: 2px solid red;
    background: #fff;
    border-radius: 200px;
    width: 24px !important;
    height: 24px !important;
    text-align: center;
}

.leaflet-marker-icon.prunecluster {
	transition: all 150ms;
	background: transparent !important;
	margin-left: -15px !important;
    margin-top: -15px !important;
    width: 30px !important;
    height: 30px !important;
    text-shadow: 
    -1px -1px 0px #fff,
    -1px 1px 0px #fff,
    1px -1px 0px #fff,
    1px 1px 0px #fff,

    0px 0px 5px #000
    ;
}
.leaflet-marker-icon.prunecluster div {
	background: transparent !important;
	margin: 0 !important;
    height: 30px !important;
    width: 30px !important;
}
.leaflet-marker-icon.prunecluster div span {
    line-height: 30px !important;
}
.leaflet-marker-icon.prunecluster:hover {
	background: rgba(255,255,255,.5) !important;
}

.leaflet-heatmap-layer {
	opacity: 0.8;
}




.leaflet-marker-icon.prunecluster.detailed {
	background: #fff !important;
	border: 2px solid rgba(0,0,0,.5) !important;
	text-shadow: none !important;
}
.leaflet-marker-icon.prunecluster.detailed div {
    height: 26px !important;
    width: 26px !important;
}
.leaflet-marker-icon.prunecluster.detailed div span {
    line-height: 26px !important;
}
</style>
	<section ng-hide="isFullScreen()" >
		<div id="map-header" ng-hide="isDemo">

				<div class="btn-group filter" dropdown style=""
					ng-hide="selectedList == 'my_unpublished'">
				  <button type="button" class="btn btn-default dropdown-toggle">
				  	<span>
				  		<span style="margin-right:10px;">{{ 'type' | translate }}</span>
				    	<div ng-repeat="type in ['snowpit','sp-profile','avy']" class="circle {{type}} {{ searchQuery.type[type] ? '' : 'empty' }}" style="position:relative;top:1px;"></div>
				    </span>
				    <span class="caret"></span>
				  </button>
			      	<ul class="dropdown-menu listSelect" role="menu" style="height:auto;width:auto;">
			    			
				    	<li ng-click="type_select('snowpit')"><a>
				    	<div class="circle profile {{ searchQuery.type.profile ? '' : 'empty' }}"></div> {{ 'snowpit' | translate }}</a></li>

				    	<li ng-click="type_select('sp-profile')"><a>
				    	<div class="circle test {{ searchQuery.type.test ? '' : 'empty' }}"></div> {{ 'sp1_profile' | translate }}</a></li>

				    	<li ng-click="type_select('avy')"><a>
				    	<div class="circle avy {{ searchQuery.type.avy ? '' : 'empty' }}"></div> {{ 'avalanche' | translate }}</a></li>
				 	</ul>
				</div>

				<div class="btn-group filter" dropdown style="">
				  <button type="button" class="btn btn-default dropdown-toggle">
			        <span style="padding-right:3px;">{{ 'time' | translate }}</span>
				  	<span style="padding-right:3px;color:#999;">
					    <span ng-show="searchQuery.days == 1">Today</span>
					    <span ng-show="searchQuery.days == 7">Past Week</span>
					    <span ng-show="searchQuery.days == 31">Past Month</span>
					    <span ng-show="searchQuery.days == 91">Past 3 Months</span>
					    <span ng-show="searchQuery.days == 183">Past 6 Months</span>
					    <span ng-show="searchQuery.days == 365">Past Year</span>
				    </span>
				    <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu list" role="menu">
				     <li ng-click="searchQuery.days = 1">Today</li>
				     <li ng-click="searchQuery.days = 7">Past Week</li>
				     <li ng-click="searchQuery.days = 31">Past Month</li>
				     <li ng-click="searchQuery.days = 91">Past 3 Months</li>
				     <li ng-click="searchQuery.days = 183">Past 6 Months</li>
				     <li ng-click="searchQuery.days = 365">Past Year</li>
				  </ul>
				</div>

				<div class="btn-group filter" dropdown 
					ng-show="profile.user.student !== true && selectedList == 'published'">
			      <button type="button" class="dropdown-toggle" ng-click="$broadcast('refreshSlider')">
			        <span style="padding-right:3px;">{{ 'publisher' | translate }}</span> 

			        <span class="caret" ng-show="isDefaultPublisher()"></span>
			        <span style="color:#999;" ng-hide="isDefaultPublisher()">...</span>

			        <span class="removeFilter" ng-hide="isDefaultPublisher()"
			        	ng-mousedown="setDefaultPublisher()">
			        	<i class="ion-close-round"></i>
			        </span>
			      </button>
			      	<ul class="dropdown-menu listSelect" role="menu" style="height:auto;width:auto;">

				    	<li ng-click="publisher_selectMe()"
				    		ng-dblclick="publisher_selectMe(true)"><a><i class="fa {{ searchQuery.publisher.me || searchQuery.publisher.me == null? 'fa-check-square' : 'fa-square-o' }}"></i>Me</a></li>

				    	<li ng-show="global.orgs && global.orgs.length > 1"
				    		ng-click="publisher_selectMyOrgs()"
			    			ng-dblclick="publisher_selectMyOrgs(true)"><a><i class="fa {{ searchQuery.publisher.orgs == null || (searchQuery.publisher.orgs && searchQuery.publisher.orgs.length == global.orgs.length) ? 'fa-check-square' : 'fa-square-o' }}"></i>My Organizations</a></li>

				    	<li ng-repeat="org in global.orgs" 
				    		ng-click="publisher_selectOrg(org._id)"
				    		ng-dblclick="publisher_selectOrg(org._id, true)"><a><i ng-style="{ 'padding-left': (global.orgs && global.orgs.length > 1 ? '26px' :''), 'margin-right': (global.orgs && global.orgs.length > 1 ? '20px' :'') }" class="fa {{ publisher_isOrgSelected(org._id) ? 'fa-check-square' : 'fa-square-o' }}"></i>{{ org.name }}</a></li>

			    		<li ng-click="publisher_selectOutsideOrgs()"
			    			ng-dblclick="publisher_selectOutsideOrgs(true)"><a><i class="fa {{ searchQuery.publisher.outsideOrgs || searchQuery.publisher.outsideOrgs == null ? 'fa-check-square' : 'fa-square-o' }}"></i>Outside Organizations</a></li>
			    			
				    	<li ng-click="publisher_selectStudents()"
				    		ng-dblclick="publisher_selectStudents(true)"><a><i class="fa {{ searchQuery.publisher.students || searchQuery.publisher.students == null ? 'fa-check-square' : 'fa-square-o' }}"></i>Students</a></li>
				    </ul>
			    </div>

				<div class="btn-group filter" dropdown style="">
			      <button type="button" class="dropdown-toggle" ng-click="$broadcast('refreshSlider')">
			        <span style="padding-right:3px;">{{ 'elevation' | translate }}</span>
			        <span class="caret" ng-show="searchQuery.elev_low == 0 && searchQuery.elev_high == elevationMax"></span>
			        <span style="color:#999;" ng-show="(searchQuery.elev_low != 0 || searchQuery.elev_high != elevationMax) && searchQuery.elev_low != searchQuery.elev_high">
			        	{{ formatTempRange(searchQuery.elev_low, searchQuery.elev_high) }}
			        </span>
			        <span style="color:#999;" ng-show="searchQuery.elev_low == searchQuery.elev_high">
			        	{{ formatElev(searchQuery.elev_high) }}
			        </span>
			        <span class="removeFilter" ng-hide="searchQuery.elev_low == 0 && searchQuery.elev_high == elevationMax"
			        	ng-mousedown="clearSearchElevation($event)">
			        	<i class="ion-close-round"></i>
			        </span>
			      </button>
			      <ul class="dropdown-menu" role="menu" style="height:auto;width:auto;"><li><a>
			      	<slider-new style="width:340px"
					    ng-model="searchQuery.elev_low"
					    ng-model-range="searchQuery.elev_high"
					    translate-fn="formatElev"
					    floor="0"
					    ceiling="{{ elevationMax }}"
					    buffer="10"
					    step="10">
					</slider-new>
			        </a></li></ul>
			    </div>

				<div class="btn-group filter" dropdown style="">
			      <button type="button" class="dropdown-toggle" ng-click="$broadcast('refreshSlider')">
			        <span style="padding-right:3px;">{{ 'slope_aspect' | translate }}</span> 
			        <span class="caret" ng-show="searchQuery.aspect_low == 0 && searchQuery.aspect_high == 359"></span>
			        <span style="color:#999;" ng-show="(searchQuery.aspect_low != 0 || searchQuery.aspect_high != 359) && searchQuery.aspect_low != searchQuery.aspect_high">
			        	{{ searchQuery.aspect_low }}-{{ searchQuery.aspect_high }}&deg;
			        </span>
			        <span style="color:#999;" ng-show="searchQuery.aspect_low == searchQuery.aspect_high">
			        	{{ searchQuery.aspect_high }}&deg;
			        </span>
			        <span class="removeFilter" ng-hide="searchQuery.aspect_low == 0 && searchQuery.aspect_high == 359"
			        	ng-mousedown="clearSearchAspect($event)">
			        	<i class="ion-close-round"></i>
			        </span>
			      </button>
			      <ul class="dropdown-menu" role="menu" style="height:114px;width:auto;"><li><a>

			  		<input-direction-range input-class="form-control" ng-model="searchQuery.aspect_low" angle-low="searchQuery.aspect_low" angle-high="searchQuery.aspect_high"></input-direction-range>

			  		<input-direction-range input-class="form-control" ng-model="searchQuery.aspect_high" angle-low="searchQuery.aspect_low" angle-high="searchQuery.aspect_high"></input-direction-range>
			      	
			        </a></li></ul>
			    </div>

			    <div class="btn-group filter" dropdown style="">
			      <button type="button" class="dropdown-toggle" ng-click="$broadcast('refreshSlider')">
			        <span style="padding-right:3px;">{{ 'slope_angle' | translate }}</span> 
			        <span class="caret" ng-show="searchQuery.slope_low == 0 && searchQuery.slope_high == 70"></span>
			        <span style="color:#999;" ng-show="(searchQuery.slope_low != 0 || searchQuery.slope_high != 70) && searchQuery.slope_low != searchQuery.slope_high">
			        	{{ searchQuery.slope_low }}-{{ searchQuery.slope_high }}&deg;
			        </span>
			        <span style="color:#999;" ng-show="searchQuery.slope_low == searchQuery.slope_high">
			        	{{ searchQuery.slope_high }}&deg;
			        </span>
			        <span class="removeFilter" ng-hide="searchQuery.slope_low == 0 && searchQuery.slope_high == 70"
			        	ng-mousedown="clearSearchSlope($event)">
			        	<i class="ion-close-round"></i>
			        </span>
			      </button>
			      <ul class="dropdown-menu" role="menu" style="height:auto;width:auto;"><li><a>
			      	<slider-new style="width:240px"
					    ng-model="searchQuery.slope_low"
					    ng-model-range="searchQuery.slope_high"
					    translate-fn="formatDegSlider"
					    floor="0"
					    ceiling="70"
					    buffer="0"
					    step="1">
					</slider-new>
			        </a></li></ul>

			        <input ng-model="clustersize" type="number"/>
			        {{ map.getZoom() }}
			    </div>

				<!--<div class="btn-group filter search">
				  <button type="button">
						<i class="fa fa-search search"></i>
						<input class="searchbox" type="text" style="width:200px;" ng-model="searchQuery.text" ng-model-options="{ debounce: 300 }"/>

				        <span class="removeFilter" ng-show="searchQuery.text != ''"
				        	ng-mousedown="searchQuery.text = ''">
				        	<i class="ion-close-round"></i>
				        </span>

				  </button>
				</div>-->

		</div>

		<div id="map-container" ng-style="{ right: (showPreviewPane() ? 585 : (showRoutePane() ? 290 : 0) ), bottom: (showBottomPane() ? 170 : 0), left: (isDemo ? 0 : 280), top: (isDemo ? 46 : 90)  }">
			<div id="map"></div>

			<div class="mapLayers" ng-show="selectedBaseLayer" ng-hide="hideMapButtons">
			    <div class="btn-group dropup" dropdown>
			      <button type="button" class="dropdown-toggle">
			        <i class="ion-map"></i> <span><b>Map</b>&nbsp;&nbsp;{{ selectedBaseLayer.name }}</span>
			      </button>
			      <ul class="dropdown-menu" role="menu" style="margin-bottom:-1px;"><li><a style="padding:2px 12px;background:#fff !important;">

			      		<div class="dropdown-close" close-dropdown-on-click><i class="fa fa-times"></i></div>

			      		<div class="layers-header">{{ 'select_map' | translate }}</div>
			      		
			      		<div style="font-weight:bold;margin-bottom:2px;">{{ 'terrain' | translate}}</div>
						
						<div ng-repeat="layer in mapLayers.baseLayers.terrain" ng-click="setBaseLayer(layer, true)" class="layerName {{ selectedBaseLayer == layer ? 'selected' : '' }}">{{ layer.name }}</div>

						<div style="font-weight:bold;margin-top:10px;margin-bottom:2px;">{{ 'aerial_imagery' | translate}}</div>
						
						<div ng-repeat="layer in mapLayers.baseLayers.aerial" ng-click="setBaseLayer(layer, true)" class="layerName {{ selectedBaseLayer == layer ? 'selected' : '' }}">{{ layer.name }}</div>

			        </a></li></ul>
			    </div>

			    <div class="btn-group dropup" dropdown>
			      <button type="button" class="dropdown-toggle">
			        <i class="ion-paintbucket"></i> <span><b>Visualization</b>&nbsp;&nbsp;{{ capitalizeFirstLetter(terrainOverlay) }}</span>
			      </button>
			      <ul class="dropdown-menu" role="menu" style="margin-bottom:-1px;"><li><a style="background:#fff !important;padding:0px;">

				    	<div style="padding: 12px;" class='clearfix pad0' ng-show="terrainOverlay"><span style="position:relative;bottom:3px;">OPACITY</span> <input type="range" min="0" max="1" step=".01" ng-model="overlayOpacity" style="display: inline-block; width: 200px;"/></div>

				    	<style>

				    		.accordion-item {
				    			max-height: 36px;
				    			overflow: hidden;
				    			border-bottom: 1px solid #ccc;
    							transition: max-height .15s ease-out;
				    		}
				    		.accordion-item:first-child {
				    			border-top: 1px solid #ccc;
				    		}

				    		.accordion-item .header {
				    			line-height: 36px;
				    			padding-left: 10px;
				    			background: #f5f5f5;
				    			font-size: 16px;
				    			cursor: pointer;
				    		}

				    		.accordion-item.open {
				    			max-height: 600px;
    							transition: max-height 0.15s ease-in;
				    		}
				    		.accordion-item .content {
				    			padding: 8px;
				    			margin: 0;
				    		}

				    	</style>

				    	<div ng-show="terrainOverlay == 'custom'">

				    		<accordion-new>
							    <div class="accordion-item">
							    	<div class="header" ng-click="$broadcast('refreshSlider')">
							            Elevation
							        </div>
							        <div class="content">
								      	<slider-new style="width:240px"
										    ng-model="customTerrain.elev_low"
										    ng-model-range="customTerrain.elev_high"
										    translate-fn="formatElev"
										    floor="0"
										    ceiling="{{ elevationMax }}"
										    buffer="10"
										    step="10">
										</slider-new>
									</div>
							    </div>

							  	<div class="accordion-item">
							    	<div class="header" ng-click="$broadcast('refreshSlider')">
							            Slope
							        </div>
							        <div class="content">
								      	<slider-new style="width:240px"
										    ng-model="customTerrain.slope_low"
										    ng-model-range="customTerrain.slope_high"
										    translate-fn="formatDegSlider"
										    floor="0"
										    ceiling="70"
										    buffer="0"
										    step="1">
								        </slider-new>
							        </div>
							    </div>

							  	<div class="accordion-item">
							    	<div class="header">
							            Aspect
							        </div>
							        <div class="content">
							    		<input-direction-range input-class="form-control" ng-model="customTerrain.aspect_low" angle-low="customTerrain.aspect_low" angle-high="customTerrain.aspect_high"></input-direction-range>

						  				<input-direction-range input-class="form-control" ng-model="customTerrain.aspect_high" angle-low="customTerrain.aspect_low" angle-high="customTerrain.aspect_high"></input-direction-range>
					  				</div>
							    </div>

							  	<div class="accordion-item">
							    	<div class="header">
							            Color
							        </div>
							        <div class="content">
						    			<input class="form-control" colorpicker="hex" type="text" ng-model="customTerrain.color" />
					    			</div>
							    </div>

							    <!--<accordion-group is-open="status.open">
							        <accordion-heading>
							            I can have markup, too! <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
							        </accordion-heading>
							        This is just some content to illustrate fancy headings.
							    </accordion-group>-->
						    </accordion-new>

			  				<br/>
				    	</div>
				    	<!--<button class="btn btn-default btn-sm"  ng-click="changeTerrainOverlay()">X</button>
				    	<button class="btn btn-default btn-sm"  ng-click="changeTerrainOverlay('elevation')">Elevation</button>
				    	<button class="btn btn-default btn-sm"  ng-click="changeTerrainOverlay('slope')">Slope</button>
				    	<button class="btn btn-default btn-sm"  ng-click="changeTerrainOverlay('aspect')">Aspect</button>
				    	<button class="btn btn-default btn-sm"  ng-click="changeTerrainOverlay('mks')">MKS</button>
				    	<button class="btn btn-default btn-sm"  ng-click="changeTerrainOverlay('hillshade')">Hillshade</button>
				    	<button class="btn btn-default btn-sm"  ng-click="changeTerrainOverlay('custom')">CUSTOM</button>
				    	<br/>-->

				    	<div class="btn-group" style="margin: 2px 6px;">
					        <label style="float:none;display:inline-block" class="btn btn-default" uncheckable ng-model="terrainOverlay" btn-radio="'elevation'">Elevation</label><label style="float:none;display:inline-block" class="btn btn-default" uncheckable ng-model="terrainOverlay" btn-radio="'slope'">
					        Slope</label><label style="float:none;display:inline-block" class="btn btn-default" uncheckable ng-model="terrainOverlay" btn-radio="'aspect'">
					        Aspect</label><!--<label style="float:none;display:inline-block" class="btn btn-default" uncheckable ng-model="terrainOverlay" btn-radio="'hillshade'">
					        Hillshade</label>--><label style="float:none;display:inline-block" class="btn btn-default" uncheckable ng-model="terrainOverlay" btn-radio="'custom'">
					        Custom</label>
					    </div>

				    	<!--<button class="btn btn-default btn-sm"  ng-click="changeTerrainOverlay('avy-rose')">AVY</button>-->
				    	<!--<button class="btn btn-default btn-sm"  ng-click="changeTerrainOverlay('sun')">SUN</button>-->

				        <!--<div ng-show="terrainOverlay == 'sun'" ><div style="margin-top:12px;" class='clearfix pad0'><input type="range" min="0" max="24" step="0.5" ng-model="sunHours" /></div><br/>
				        {{ sunDate | amDateFormat:'h:mm a' }}</div>-->

				        <!--
				        <div class='clearfix pad0'><label>Azimuth  </label><input type="range" id="azimuth"    min="-120" max="120" value="0" /></div><div class='clearfix pad0'><label>Depth    </label><input type="range" id="zfactor"    min="0.02" max="0.4" value="0.12" step="0.01" /></div>
				        <div class='clearfix pad0'><label>Shadow   </label><input type="range" id="shadows"    min="0"    max="1.0" value="0.45"  step="0.01" /></div>
				        <div class='clearfix pad0'><label>Highlight</label><input type="range" id="highlights" min="0"    max="1.0" value="0.45"  step="0.01" /></div>-->

			        </a></li></ul>
			    </div>

			    <div style="background:rgba(255,255,255,.5);display:inline-block;" ng-show="mapCursorLocation">
			    {{ formatters.formatLatLng(mapCursorLocation) }}
			    {{ formatters.formatLatLngAsUTM(mapCursorLocation) }}
			    </div>
			</div>

			<map-search location-select="mapSearchSelect(location)" ng-hide="hideMapButtons"></map-search>
		</div>

		<div class="side-bar" ng-hide="isDemo">

			<div class="toggle-list">

				<div class="list-header">
					<button ng-mousedown="selectList('published',$event)" ng-class="{ selected: (selectedList == 'published') }"><i class="ion-map"></i>&nbsp;&nbsp;{{ 'all_observations' | translate }}</button><button ng-mousedown="selectList('my_published',$event)" ng-class="{ selected: (selectedList == 'my_published' || selectedList == 'my_unpublished') }"><i class="ion-person"></i>&nbsp;&nbsp;{{ 'my_observations' | translate }}</button>
				</div>

			</div>

			<div class="list-subheader">
				<div style="position:relative;font-weight:100;text-align:center;line-height:38px;color:#ccc;"
					ng-show="selectedList == 'published'">
					<span style="font-style:italic;position:absolute;top:0;left:0;right:0;bottom:0;transition: opacity 100ms;" ng-style="{ opacity: (loadingNew ? 0:1) }">{{ 'pan_and_zoom' | translate }}</span>

					<span style="position:absolute;top:0;left:0;right:0;bottom:0;transition: opacity 100ms;" ng-style="{ opacity: (loadingNew ? 1:0) }" > <i class="fa fa-circle-o-notch fa-spin"></i></span>
				</div>

				<div ng-show="(selectedList == 'my_published' || selectedList == 'my_unpublished')">
					<div style="display:inline-block;float:left;">
						<button ng-mousedown="selectList('my_published',$event)" class="sub-btn"
							ng-class="{ selected: selectedList == 'my_published' }">{{ 'published' | translate }}</button>
						<button ng-mousedown="selectList('my_unpublished',$event)" class="sub-btn"
							ng-class="{ selected: selectedList == 'my_unpublished' }"
							>{{ 'unpublished' | translate }}</button>
					</div>

					<div class="btn-group filter" dropdown 
					style="float:left;"
					ng-show="selectedList == 'my_unpublished'">
					  <button type="button" class="btn btn-default dropdown-toggle" style="border: none; color: #fff; padding: 0; font-size: 11px; font-weight: 500; background: #444; height: 26px; margin-top: 6px; line-height: 26px; border-top-right-radius: 99px; border-bottom-right-radius: 99px; padding-right: 10px;">
					  	<span style="padding-left:4px;">

					    	<span ng-show="type_unpublished == 'snowpit'">
					    	<div style="position:relative;top:1px;" class="circle profile"></div> Snowpits</span>

					    	<span ng-show="type_unpublished == 'sp-profile'">
					    	<div style="position:relative;top:1px;" class="circle test"></div> SP1 Profiles</span>

					    	<span ng-show="type_unpublished == 'avy'">
					    	<div style="position:relative;top:1px;" class="circle avy"></div> Avalanches</span>

					    </span>
					    <span class="caret"></span>
					  </button>
				      	<ul class="dropdown-menu listSelect" role="menu" style="min-width:120px !important;height:auto;z-index:2000;">
				    			
					    	<li ng-click="set_type_unpublished('snowpit')" close-dropdown-on-click><a>
					    	<div class="circle profile"></div> Snowpits</a></li>

					    	<li ng-click="set_type_unpublished('sp-profile')" close-dropdown-on-click><a>
					    	<div class="circle test"></div> SP1 Profiles</a></li>

					    	<li ng-click="set_type_unpublished('avy')" close-dropdown-on-click><a>
					    	<div class="circle avy"></div> Avalanches</a></li>
					 	</ul>
					</div>
				</div>
			</div>

			<div class="list-bottom">
				<!--<div style="font-style:italic;font-weight:100;text-align:center;"
					ng-show="selectedList == 'published'">
					Pan & zoom the map to see more observations
				</div>-->
				<div ng-show="selectedList == 'my_unpublished' && type_unpublished == 'sp-profile'">
					<div style="float:left;font-weight:100;margin-left:10px;" ng-show="selectedProfiles.length">
					<!-- {{ selectedProfiles.length }} profile{{ selectedProfiles.length == 1 ? '' : 's' }}  selected-->
					</div>

					<div style="float:right;" class="action-buttons" ng-show="selectedProfiles.length">
						<button ng-click="publishProfiles()" class="btn btn-primary"><i class="ion-upload"></i>&nbsp;&nbsp;Publish</button>
					</div>
				</div>
			</div>

			<div class="loading-overlay" ng-show="loadingNew"></div>

			<div class="list-holder marginTop" scrollable always-visible="true" ng-show="selectedList == 'published'"
				>

				<div ng-show="loadingProfiles" style="text-align:center;padding-top:20px;font-size:18px;color:#aaa;">
				<i class="fa fa-circle-o-notch fa-spin" style="margin-top:20px;font-size:40px;"></i>
				</div>

				<div ng-show="profiles.length == 0" style="text-align:center;font-size:16px;color:#333;padding:14px;padding-top:30px;">
					See how easy it is to record your manual snow profiles with <b>Snowpit Editor</b>
					<br/><br/>
					<a class="btn btn-lg btn-primary" href="/profiles/new">
					Create A Manual Profile
					</a>
				</div>
				<!-- using $parent here because 'scrollable' directive messes with scope. todo: look into this, not ideal -->

				<div bindonce ng-repeat="profile in $parent.filteredProfiles | orderBy: '-date' track by profile._id" 

					class="side-list-item short"

					ng-click="href('/obs/' + profile._id)" 

					ng-mouseover="hoverProfile(profile)"
					ng-mouseout="hoverProfile()"

					ng-if="map.getZoom() >= detailedZoomMin"
					>

						<div class="bar" bo-class="profile.type"></div>

						<canvas bo-if="profile.type=='snowpit'" profile="profile" width="120" height="150"></canvas>
						<canvas bo-if="profile.type=='sp-profile'" graph="profile.rows_micro" width="120" height="150"></canvas>

						<div bo-if="profile.type=='avy'" class="thumb"></div>

						<div class='lineItem'><i class="fa fa-user"></i>{{ ::profile.user.fullName}} 
	                  		<span bo-show="profile.user.student" style="color: #888;">&nbsp;&nbsp;<i class="fa fa-graduation-cap"></i>&nbsp;<span style='font-size:8px;position: relative;bottom:1px;'>{{ 'student' | translate }}</span></span>

							<!--<span style="padding-left:3px;" ng-show="profile.sharingLevel=='org'">({{ profile.organization.name }})</span>

							<span style="padding-left:3px;" ng-show="profile.sharingLevel=='private'">
							<i class="fa fa-lock"></i></span>

							<span style="padding-left:3px;" ng-show="profile.sharingLevel=='pros'">
							<i class="fa fa-globe"></i></span>-->

						</div>

						<div class='lineItem'><i class="fa fa-group"></i>{{ ::profile.organization.name}}</div>

						<div bo-if="profile.type=='snowpit' || profile.type=='avy'" class='lineItem'><i class="fa fa-clock-o"></i>{{ ::profile.date | date:'M/d/yy'}} {{ ::profile.time | date:'h:mm a'}}</div>
						<div bo-if="profile.type=='sp-profile'" class='lineItem'><i class="fa fa-clock-o"></i>{{ ::profile.date | date:'M/d/yy h:mm a'}}</div>

						<!--<div class='lineItem' bo-hide="profile.type=='sp-profile'"><i class="fa fa-map-marker"></i>
							{{ ::profile.locationName }}
						</div>
						<div class="lineItem" bo-show="profile.type=='sp-profile'"><i class="fa fa-map-marker"></i>
							<span bo-if="profile.location.length">{{ ::profile.location[1] }}, {{ ::profile.location[0] }}</span>
							<span bo-if="!profile.location || profile.location.length == 0">{{ 'no_location' | translate }}</span>
						</div>-->

				</div>

				<div ng-show="profiles.length > 0 && filteredProfiles.length == 0 && filteredDrafts.length != 0">
				<div style="text-align:center;padding:30px;font-weight:100;font-size:16px;">No observations found matching<br/>your search criteria and within<br/>your current map view.</div>
				</div>
			</div>

			<div class="list-holder marginTop" scrollable ng-show="selectedList == 'my_published'" always-visible="true">

				<div ng-show="loadingProfiles" style="text-align:center;padding-top:20px;font-size:18px;color:#aaa;">
				<i class="fa fa-circle-o-notch fa-spin" style="margin-top:20px;font-size:40px;"></i>
				</div>

				<div ng-show="profiles.length == 0" style="text-align:center;font-size:16px;color:#333;padding:14px;padding-top:30px;">
					See how easy it is to record your manual snow profiles with <b>Snowpit Editor</b>
					<br/><br/>
					<a class="btn btn-lg btn-primary" href="/profiles/new">
					Create A Manual Profile
					</a>
				</div>
				<!-- using $parent here because 'scrollable' directive messes with scope. todo: look into this, not ideal -->

				<div ng-repeat="profile in $parent.filteredDrafts2 = (myProfiles | filter: my_published) | orderBy : '-date' track by profile._id" class="side-list-item">

					<a style="padding:0px;color:#666;font-weight:100;" 
					href="/ob/{{ profile._id }}" 
					ng-mouseover="hoverProfile(profile)"
					ng-mouseout="hoverProfile()"
					old-ng-click="openProfile(profile)">

						<div class="bar {{ profile.type }}"></div>

						<canvas ng-if="profile.type=='snowpit'" profile="profile" width="120" height="150"></canvas>
						<canvas ng-if="profile.type=='sp-profile'" graph="profile.rows_micro" width="120" height="150"></canvas>
						<div ng-if="profile.type=='avy'" class="thumb"></div>

						<div class='lineItem'><i class="fa fa-user"></i>{{profile.user.fullName}} 
	                  		<span ng-show="profile.user.student" style="color: #888;">&nbsp;&nbsp;<i class="fa fa-graduation-cap"></i>&nbsp;<span style='font-size:8px;position: relative;bottom:1px;'>{{ 'student' | translate }}</span></span>

							<!--<span style="padding-left:3px;" ng-show="profile.sharingLevel=='org'">({{ profile.organization.name }})</span>

							<span style="padding-left:3px;" ng-show="profile.sharingLevel=='private'">
							<i class="fa fa-lock"></i></span>

							<span style="padding-left:3px;" ng-show="profile.sharingLevel=='pros'">
							<i class="fa fa-globe"></i></span>-->

						</div>

						<div class='lineItem'><i class="fa fa-group"></i>{{profile.organization.name}}</div>

						<div ng-if="profile.type=='snowpit' || profile.type=='avy'" class='lineItem'><i class="fa fa-clock-o"></i>{{profile.date | date:'M/d/yy'}} {{profile.time | date:'h:mm a'}}</div>
						<div ng-if="profile.type=='sp-profile'" class='lineItem'><i class="fa fa-clock-o"></i>{{profile.date | date:'M/d/yy h:mm a'}}</div>

						<div class='lineItem' ng-hide="profile.type=='sp-profile'"><i class="fa fa-map-marker"></i>{{ profile.type == 'avy' ? profile.locationName : profile.metaData.location }}</div>
						<div class="lineItem" ng-show="profile.type=='sp-profile'"><i class="fa fa-map-marker"></i>{{ profile.location.length ? 
							profile.location[1] + ', ' + profile.location[0] :
							'NO LOCATION'
							 }}</div>

					</a>

				</div>
				<div ng-show="profiles.length > 0 && filteredProfiles.length == 0 && filteredDrafts.length != 0">
				<div style="text-align:center;padding:30px;font-weight:100;font-size:16px;">No observations found matching<br/>your search criteria and within<br/>your current map view.</div>
				</div>
			</div>

			<div class="list-holder marginTop" scrollable 
			ng-class="{ 'marginBottom': selectedProfiles.length > 0 }"
			ng-show="selectedList == 'my_unpublished'" always-visible="true">

				<div ng-show="loadingProfiles" style="text-align:center;padding-top:20px;font-size:18px;color:#aaa;">
				<i class="fa fa-circle-o-notch fa-spin" style="margin-top:20px;font-size:40px;"></i>
				</div>

				<div ng-repeat="profile in $parent.filteredDrafts = (myProfiles | filter: my_unpublished) | orderBy : '-updated' track by profile._id" class="side-list-item">
					<a href="{{ profile.type == 'sp-profile' ? '/t/' + profile._id : '/profiles/' + profile._id }}" style="padding:0px;color:#666;font-weight:100;">

						<div class="check" onclick="return false;">
							<i class="fa" 
							ng-class="{ 
							'fa-square-o': !isProfileSelected(profile),
							'fa-check-square-o checked': isProfileSelected(profile) }"
							ng-click="selectProfile(profile);" ></i>
						</div>

						<!--<div class="bar {{ profile.type }}"></div>-->

						<canvas ng-if="profile.type=='snowpit'" profile="profile" width="120" height="136"></canvas>
						<canvas ng-if="profile.type=='sp-profile'" graph="profile.rows_micro" width="120" height="136"></canvas>
						<div ng-if="profile.type=='avy'" class="thumb"></div>

						<div>
							<div ng-hide="profile.type=='sp-profile'" style="color:#999;font-style:italic;padding-left:88px;margin-bottom:2px;font-size:12px;">Last edited <span am-time-ago="profile.updated"></span></div>
							<div ng-show="profile.type=='sp-profile'" style="color:#999;font-style:italic;padding-left:88px;margin-bottom:2px;font-size:12px;">Uploaded <span am-time-ago="profile.created"></span></div>

							<div class="lineItem" ng-hide="profile.type=='sp-profile'" ><i class="fa fa-clock-o"></i>{{profile.date | date:'M/d/yy'}} {{profile.time | date:'h:mm a'}}</div>
							<div class="lineItem" ng-show="profile.type=='sp-profile'" ><i class="fa fa-clock-o"></i>{{profile.date | date:'M/d/yy h:mm a'}}</div>

							<div class="lineItem" ng-hide="profile.type=='sp-profile'"><i class="fa fa-map-marker"></i>{{ profile.metaData.location }}</div>

							<div class="lineItem" ng-show="profile.type=='sp-profile'"><i class="fa fa-map-marker"></i>{{ profile.location.length ? 
							profile.location[1] + ', ' + profile.location[0] :
							'NO LOCATION'
							 }}</div>
						</div>

					</a>
				</div>
			</div>
		</div>

		<div ng-show="showPreviewPane()" class="preview-pane" >
			<div ui-view="right-pane"></div>
		</div>
		<div ng-show="showBottomPane()" class="bottom-pane" ng-style="{ left: isDemo ? 0 : 280 }">

		</div>
		<div ng-show="showRoutePane()" class="route-pane">


			<route-planning terrain-layer="terrainLayer" map="map" route="route" 
				hover-on-leg-map="hoverOnLegMap"
				hover-on-leg="hoverOnLeg"
				hover-on-point-map="hoverOnPointMap"
				hover-on-point="hoverOnPoint"

				test-munter-rate-up="munterRate.up"
				test-munter-rate-down="munterRate.down"

				munter-rate-up="munterRate.up"
				munter-rate-down="munterRate.down"

				control="routeControl"
				></route-planning>

			<style>
				.route-box {
					width:290px; 
					position:absolute;
					left:0px;top:0px;bottom:0px;right:0px;
					overflow:scroll; 
				}
				.route-box label {
					font-weight: 700;
					margin-bottom: 6px;
					margin-left: 6px;
					margin-right: 5px;
					text-transform: uppercase;
				}
				.route-list {
					border-top: 1px solid #ddd;
				}
				.route-item {
					border-bottom: 1px solid #ddd;
					padding: 6px 8px;
					position: relative;
					//background: rgba(255,255,255,.9);
					transition: background 150ms;
				}
				.route-item.highlight,
				.route-item:hover {
					background:rgba(0,0,255,.05);
				}

				.route-waypoint-icon {
					background: yellow;
					border: 3px solid #6664bd;
					border-radius: 999px;
					display:inline-block;
					width: 20px;
					height: 20px;
					z-index: 101;
					position: relative;
					vertical-align: top;
					margin-right: 4px;
				}
				.side-line {
					content: '';
					width: 4px;
					background: #6664bd;
					position: absolute;
					left: 16px;
					top: -1px;
					bottom: -1px;
					z-index: 100;
				}
				.side-line.start { top: 10px; }
				.side-line.end { bottom: 10px; }

				.route-waypoint-icon.start {
					background: #76FF7A;
				}
				.route-waypoint-icon.end {
					background: #FF91A4;
				}

				.instruct {
					font-size: 20px;
				    padding: 20px;
				    text-align: center;
				    font-style: italic;
				    font-weight: 100;
				}
			</style>

			<div class="route-box">
				<div style="padding:10px;font-weight:700;font-size:16px; background:#eee;line-height:24px;">ROUTE

					<div style="float:right;font-weight:500" ng-if="route && route.points.length > 1">
						{{ formatters.formatKmOrMiles(route.terrain.distance) }} / 
						{{ formatTime(route.terrain.timeEstimateMinutes) }}
					</div>
				</div>
				<div ng-if="!route" class="instruct">
					Click anywhere<br/>on the map to<br/>start your route
				</div>
				<div ng-if="route.points.length == 1" class="instruct">
					Click on the map<br/>to place the next<br/>point on your route
				</div>
				<div ng-if="route && route.points.length > 1">
					<div style="padding:10px;padding-left: 4px;padding-bottom: 5px;">
						<a href="#" ng-click="routeControl.downloadGPX()">Download GPX</a>
						<div style="font-size:13px;">
							<label>NET ELEV</label> {{ route.terrain.elevationChange > 0 ? '+':'' }}{{ formatters.formatElevation(route.terrain.elevationChange) }}
							<label>VERTICAL</label> 
								<span style="color:green;">+{{ formatters.formatElevation(route.terrain.verticalUp) }}</span> / 
								<span style="color:red;">-{{ formatters.formatElevation(route.terrain.verticalDown) }}</span>
							<br/>
							<label>SLOPE</label>
							MIN: {{ route.terrain.slopeMin.toFixed(0) }}&deg; /
							AVG: {{ route.terrain.slopeAverage.toFixed(0) }}&deg; /
							MAX: {{ route.terrain.slopeMax.toFixed(0) }}&deg;
							<br/>
							<label style="margin-bottom:3px;">ASPECT AVG</label>{{ formatters.formatDirection(route.terrain.aspectAverage) }}<br/>
							
							<label>Munter rate up/down</label> <input type="number" ng-model="munterRate.up" style="width:34px;"/>
							<input type="number" ng-model="munterRate.down" style="width:34px;"/>
						</div>
					</div>

					<div class="route-list">
						<div ng-repeat="routePoint in route.points">

							<div class="route-item" style="padding-left:34px;font-size:12px;" 
							ng-if="$index != 0"
							ng-class="{ 'highlight': hoverOnLegMap == routePoint.leg.index }" 
							ng-mouseover="_hoverOnLeg(routePoint.leg.index)" ng-mouseout="_hoverOnLeg(null)">
								<div class="side-line"></div>
								DISTANCE: {{ formatters.formatKmOrMiles(routePoint.leg.distance) }}<br/>
								TIME: {{ formatTime(routePoint.leg.timeEstimateMinutes) }}<br/>
								BEARING: {{ formatters.formatDirection(routePoint.leg.bearing) }}<br/>
								NET ELEV: {{ routePoint.leg.elevationChange > 0 ? '+':'' }}{{ formatters.formatElevation(routePoint.leg.elevationChange) }}<br/>
								VERTICAL: +{{ formatters.formatElevation(routePoint.leg.verticalUp) }} / -{{ formatters.formatElevation(routePoint.leg.verticalDown) }}<br/>
								SLOPE: 
								MIN: {{ routePoint.leg.slopeMin.toFixed(0) }}&deg; /
								AVG: {{ routePoint.leg.slopeAverage.toFixed(0) }}&deg; /
								MAX: {{ routePoint.leg.slopeMax.toFixed(0) }}&deg;
								<br/>
								ASPECT AVG: {{ formatters.formatDirection(routePoint.leg.aspectAverage) }}
							</div>
							<div class="route-item" style="font-weight:bold"
								ng-class="{ 'highlight': hoverOnPointMap == routePoint.pointIndex }" 
								ng-mouseover="_hoverOnPoint(routePoint.pointIndex)" ng-mouseout="_hoverOnPoint(null)">
								<div class="side-line" ng-class="{ 'end': $index == route.points.length - 1, 'start': $index == 0 }"></div>
								<div class="route-waypoint-icon" ng-class="{ 'end': $index == route.points.length - 1, 'start': $index == 0 }"></div>
								<span ng-hide="$index > 0 && $index == route.points.length - 1">{{ routePoint.waypoint.name }}</span>
								<span ng-show="$index == route.points.length - 1">END</span>
								<span ng-show="$index == 0">START</span>

								({{ formatters.formatElevation(routePoint.terrain.elevation) }}) 

								<div style="float:right;" ng-hide="$index == 0">
									{{ formatters.formatKmOrMiles(routePoint.terrain.totalDistance) }} /
									{{ formatTime(routePoint.terrain.totalTimeEstimateMinutes) }}
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>

	</section>

	<section ng-show="isFullScreen()" ui-view="content"></section>

</section>