
/* elevation profile */

.elevation-widget .background {
    background-color: transparent;
    font-size: 12px;
}
.elevation-widget .axis line,
.elevation-widget .axis path {
    fill: none;
    stroke: #0d1821;
    stroke-width: 2
}
.elevation-widget .area {
    fill: #777
}
.elevation-widget .mouse-focus-line {
    pointer-events: none;
    stroke-width: 1;
    stroke: #0d1821
}
.elevation-widget .elevation-toggle {
    cursor: pointer;
    box-shadow: 0 1px 7px rgba(0, 0, 0, .4);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 36px;
    height: 36px;
    background: url(images/elevation.png) no-repeat center center #f8f8f9
}
.elevation-widget-collapsed .background {
    display: none
}
.elevation-widget-collapsed .elevation-toggle {
    display: block
}
.elevation-widget .mouse-drag {
    fill: rgba(23, 74, 117, .4)
}