
/* elevation profile */

.elevation-widget .background {
    background-color: transparent;
    font-size: 12px;
}
.elevation-widget .axis line,
.elevation-widget .axis path {
    fill: none;
    stroke: #0d1821;
    stroke-width: 2
}
.elevation-widget .area {
    fill: #777
}
.elevation-widget .mouse-focus-line {
    pointer-events: none;
    stroke-width: 1;
    stroke: #0d1821
}
.elevation-widget .elevation-toggle {
    cursor: pointer;
    box-shadow: 0 1px 7px rgba(0, 0, 0, .4);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 36px;
    height: 36px;
    background: url(images/elevation.png) no-repeat center center #f8f8f9
}
.elevation-widget-collapsed .background {
    display: none
}
.elevation-widget-collapsed .elevation-toggle {
    display: block
}
.elevation-widget .mouse-drag {
    fill: rgba(23, 74, 117, .4)
}


        /* drawing */

.leaflet-draw-tooltip {
    display: none;
}

.leaflet-editing-icon {
    border-radius: 999px !important;
    width: 10px !important;
    height: 10px !important;
    margin-left: -5px !important;
    margin-top: -5px !important;
    border-color: rgba(0,0,255,.6) !important;
    opacity: 1;
    background: #c9d6e1 !important;

    transition: width opacity 100ms;

    &:hover {
        opacity: 1;
        border-color: rgba(0,0,255,1) !important;
        //background: #eee !important;
    }
}

.leaflet-editing-icon[style*="opacity: 0.6"] {
    display: none !important;
    pointer-events: none !important;
    
    // opacity: .3 !important;
    // &:hover {
    //  opacity: .6 !important;
    // }
}

.leaflet-editing-icon.highlight {
    box-shadow: 0px 0px 0px 4px rgba(0,0,255,.3);
}
.leaflet-editing-icon.hide {
    opacity: 0 !important;
    pointer-events: none !important;
}

.waypoint-icon {
    width: 14px !important;
    height: 14px !important;
    border-radius: 999px !important;
    margin-top: -7px !important;
    margin-left: -7px !important;
    background: yellow  !important;
    border-width: 2px !important;
    opacity: 1 !important;
}
.start-icon {
    width: 16px !important;
    height: 16px !important;
    border-radius: 999px !important;
    margin-top: -8px !important;
    margin-left: -8px !important;
    background: #76FF7A  !important;
    border-width: 2px !important;
}
.end-icon {
    width: 16px !important;
    height: 16px !important;
    border-radius: 999px !important;
    margin-top: -8px !important;
    margin-left: -8px !important;
    background: #FF91A4  !important;
    border-width: 2px !important;
}
