<style>
.error-message {
	color: #a94442;
	float: right;
}
label {
	font-weight: 500;
	//text-transform: uppercase;
	font-size: 12px;
	color: #666;
}


/* add member */

.userSelect .message {
	margin-top:10px;font-weight: 400;color: #555;font-size: 14px;
}
.userSelect .no-results {
	margin-top: 18px;
	font-weight: 400;
	color: #777;
	font-size: 15px;
	text-align: center;
}
ul.results {
	list-style-type: none;
	margin: 0; padding: 0;
	margin-top: 3px;
}
ul.results li {
	cursor: pointer;
	padding: 3px 12px;
	font-size: 11px;
	font-weight: 500;
}
ul.results li.isMember {
	pointer-events: none;
	cursor: pointer;
	opacity: .5;
}
ul.results li.isMember:hover {
	background: transparent !important;
}
ul.results li:hover {
	list-style-type: none;
	background: #f5f5f5;
}

ul.results li .arrow { 
	transition: opacity 150ms;
	opacity: 0;
	float: right;
}
ul.results li:hover .arrow{
	opacity: 1;
}
.subheader {
	font-weight: bold;
	font-size: 12px;
	padding-left: 11px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 3px 11px;
	margin-top: 9px;
}
.subheader.first {
	border-top: none;
	padding-top 0px;
	margin-top: -3px;
}

.body { padding: 12px; }
</style>

<section ng-controller="ObservationsController">
	<div class="container topPadding">

		<form ng-submit="submit()" validate>

		<div class="row" ng-show="loaded">

			<div style="max-width:380px;margin:auto;background:#fff;border-radius:5px;margin-bottom:15px;">
			    <h2 style="font-size:14px;font-weight:700;margin:0;padding:12px;border-bottom:1px solid #eee;">Observation</h2>
			    <div class="body">

					<span style="width:100px;text-align:right;padding-right:10px;display:inline-block;">Date</span>
					   <input style="width:90px;padding-right:1px;display:inline-block;" class="form-control" ng-model="obs.date" id="datepicker" mo-date-input maxlength="10" />

					<span style="width:44px;text-align:right;padding-right:10px;display:inline-block;">Time</span>
					  <input style="width:80px;padding-right:1px;display:inline-block;" class="form-control form-inline" time="obs.time" maxlength="11" />

				    <div style="margin-bottom:4px;"></div>
				    <div ng-show="global.orgs && global.orgs.length > 0">
					<span style="width:100px;text-align:right;padding-right:10px;display:inline-block;">Organization</span>
					<select class="form-control" ng-model="obs.organization" style="width:220px;display:inline-block;" ng-options="org._id as org.name for org in global.orgs">
					</select>
					</div>

				    <div style="margin-bottom:4px;"></div>

					<span style="width:100px;text-align:right;padding-right:10px;display:inline-block;">Location</span>
					 <input style="width:220px;padding-right:1px;display:inline-block;" class="form-control" ng-model="obs.locationName"/>

				    <div style="margin-bottom:4px;"></div>

					<span style="width:100px;text-align:right;padding-right:10px;display:inline-block;">Lat/Lng</span>
					 <input style="width:107px;margin-right:3px;display:inline-block;" class="form-control" ng-model="obs._lat"/>

					 <input style="width:107px;display:inline-block;" class="form-control" ng-model="obs._lng"/>

				    <div style="margin-bottom:4px;"></div>

					<span style="width:100px;display:inline-block;"></span>

					  <button class="btn btn-primary btn-sm" ng-click="selectLocation()" type="button" style="width:220px;margin-top:1px;margin-bottom:2px;padding-left:0px;padding-right:0px;font-size:13px;"><i class="fa fa-map-marker"></i>&nbsp;&nbsp;Click to place on map</button>

			    </div>
		    </div>

			<div style="max-width:380px;margin:auto;background:#fff;border-radius:5px;margin-bottom:15px;">
			    <h2 style="font-size:14px;font-weight:700;margin:0;padding:12px;border-bottom:1px solid #eee;">Path Characteristics</h2>
			    <div class="body">

					<span style="width:100px;text-align:right;padding-right:10px;display:inline-block;">Elevation</span>
					<input class="form-control form-inline" ng-model="obs.elevation" style="width:80px;display: inline-block;" max-num="9000" meters-or-feet="{{ global.user.settings.elevation }}"/>
					<span style="padding-left:4px;display:inline-block;color:#aaa;">
						{{ global.user.settings.elevation == 0 ? 'm' : 'ft' }}
					</span>

				    <div style="margin-bottom:4px;"></div>

					<span style="width:100px;text-align:right;padding-right:10px;display:inline-block;">Slope Angle</span>
					<input class="form-control form-inline" ng-model="obs.slope" style="width:50px;display: inline-block;" number-only allow-decimal="true" allow-negative="false" max-num="70"/>
					<span style="padding-left:4px;display:inline-block;color:#aaa;">&deg;</span>

				    <div style="margin-bottom:4px;"></div>

					<span style="width:100px;text-align:right;padding-right:10px;display:inline-block;">Aspect</span>
					<input-direction input-class="form-control" ng-model="obs.aspect"></input-direction>
					
				</div>
			</div>


			<div style="max-width:380px;margin:auto;background:#fff;border-radius:5px;margin-bottom:15px;">
			    <h2 style="font-size:14px;font-weight:700;margin:0;padding:12px;border-bottom:1px solid #eee;">Avalanche Type</h2>
			    <div class="body">

			  	<!--<form role="form" style="padding:12px;" ng-submit="create(this.$valid)" name="newOrgForm" validate>-->
					<!--<div class="form-group" name="type">-->
						<span class="error-message"></span>
						<select class="form-control" ng-model="obs.avalancheType" required>
							<option value=""></option>
							<option value="U">Unknown</option>
					      	<option value="L">Loose-snow avalanche</option>
							<option value="WL">Wet loose-snow avalanche</option>
							<option value="SS">Soft slab avalanche</option>
							<option value="HS">Hard slab avalanche</option>
							<option value="WS">Wet slab avalanche</option>
					      	<option value="G">Glide avalanche</option>
							<option value="I">Ice fall</option>
					      	<option value="SF">Slush flow</option>
					      	<option value="C">Cornice fall</option>
					      	<option value="R">Roof avalanche</option>
						</select>
					<!--</div>-->
				</div>
			</div>

			<div style="max-width:380px;margin:auto;background:#fff;border-radius:5px;margin-bottom:15px;">
			    <h2 style="font-size:14px;font-weight:700;margin:0;padding:12px;border-bottom:1px solid #eee;">Avalanche Trigger</h2>
			    <div class="body">

				    <div class="btn-group">
				        <label class="btn btn-default" ng-model="obs.trigger" btn-radio="'N'" uncheckable>Natural or Spontaneous</label>
				        <label class="btn btn-default" ng-model="obs.trigger" btn-radio="'A'" uncheckable>Artificial</label>
				        <label class="btn btn-default" ng-model="obs.trigger" btn-radio="'U'" uncheckable>Unknown</label>
				    </div>	

					<div class="btn-group userSelect" uib-dropdown ng-show="obs.trigger == 'N'" style="margin-top:4px;">
				      <button  type="button" uib-dropdown-toggle class="btn btn-default">
				        <i class="fa fa-plus"></i> Add Secondary Natural Trigger
				      </button>
				      <ul class="dropdown-menu" ng-click="$event.stopPropagation()" role="menu" style="width:300px;min-height:100px;"><li><a style="white-space:normal !important;background:transparent !important;padding:0 !important;">
				        <ul class="results">
				        	<li ng-repeat="type in naturalTriggers" ng-click="addTrigger(type)" ng-class="{ isMember: hasTrigger(type) }" close-dropdown-on-click>
				        		{{ type.name }}
				        		<span class="arrow"><i class="fa fa-plus"></i></span>
			        		</li>
				        </ul>

				        </a></li></ul>
	    			</div>

					<div class="btn-group userSelect" uib-dropdown ng-show="obs.trigger == 'A'" style="margin-top:4px;">
				      <button  type="button" uib-dropdown-toggle class="btn btn-default">
				        <i class="fa fa-plus"></i> Add Secondary Artificial Trigger
				      </button>
				      <ul class="dropdown-menu" ng-click="$event.stopPropagation()" role="menu" style="width:300px;min-height:100px;"><li><a style="white-space:normal !important;background:transparent !important;padding:0 !important;">
				    	
				        <div ng-repeat="cat in ['Explosive','Vehicle','Human','Miscellaneous']">
					        <div class="subheader" ng-class="{ 'first': $index == 0 }">{{ cat }}</div>
					        <ul class="results">
					        	<li ng-repeat="type in artificialTriggers[cat]" ng-click="addTrigger(type)" ng-class="{ isMember: hasTrigger(type) }" close-dropdown-on-click>
					        		{{ type.name }}
					        		<span class="arrow"><i class="fa fa-plus"></i></span>
				        		</li>
					        </ul>
				        </div>

				        </a></li></ul>
	    			</div>

	    			<!-- list secondary observations -->
	    			<ul style="margin-bottom:0px;margin-top:8px;padding-left:22px;" ng-show="obs.secondaryTriggers && obs.secondaryTriggers.length">
	    				<li ng-repeat="trigger in obs.secondaryTriggers">{{ getTriggerName(trigger) }}</li>
	    			</ul>

				</div>

			</div>

			<div style="max-width:380px;margin:auto;background:#fff;border-radius:5px;margin-bottom:15px;">
			    <h2 style="font-size:14px;font-weight:700;margin:0;padding:12px;border-bottom:1px solid #eee;">Avalanche Size</h2>
			    <div class="body">

				<span style="width:70px;text-align:right;padding-right:10px;display:inline-block;">Relative</span>
					    <div class="btn-group">
					        <label class="btn btn-default" ng-model="obs.sizeRelative" btn-radio="'R1'" uncheckable>R1</label>
					        <label class="btn btn-default" ng-model="obs.sizeRelative" btn-radio="'R2'" uncheckable>R2</label>
					        <label class="btn btn-default" ng-model="obs.sizeRelative" btn-radio="'R3'" uncheckable>R3</label>
					        <label class="btn btn-default" ng-model="obs.sizeRelative" btn-radio="'R4'" uncheckable>R4</label>
					        <label class="btn btn-default" ng-model="obs.sizeRelative" btn-radio="'R5'" uncheckable>R5</label>
					    </div>	

					    <div style="margin-bottom:4px;"></div>
				
				<span style="width:70px;text-align:right;padding-right:10px;display:inline-block;">Destructive</span>
					    <div class="btn-group">
					        <label class="btn btn-default" ng-model="obs.sizeDestructive" btn-radio="'D1'" uncheckable>D1</label>
					        <label class="btn btn-default" ng-model="obs.sizeDestructive" btn-radio="'D2'" uncheckable>D2</label>
					        <label class="btn btn-default" ng-model="obs.sizeDestructive" btn-radio="'D3'" uncheckable>D3</label>
					        <label class="btn btn-default" ng-model="obs.sizeDestructive" btn-radio="'D4'" uncheckable>D4</label>
					        <label class="btn btn-default" ng-model="obs.sizeDestructive" btn-radio="'D5'" uncheckable>D5</label>
					    </div>	

				<!--</form>-->
				</div>
			</div>

			<div style="max-width:380px;margin:auto;background:#fff;border-radius:5px;margin-bottom:15px;">
			    <h2 style="font-size:14px;font-weight:700;margin:0;padding:12px;border-bottom:1px solid #eee;">Avalanche Dimensions</h2>
			    <div class="body">

					<span style="width:100px;text-align:right;padding-right:10px;display:inline-block;">Slab Thickness</span>
					<input class="form-control form-inline" ng-model="obs.slabThickness" style="width:80px;display: inline-block;" cm-or-in="{{ global.user.settings.elevation }}"/>
					<span style="padding-left:4px;display:inline-block;color:#aaa;">
						{{ global.user.settings.elevation == 0 ? 'cm' : 'in' }}</span>

				    <div style="margin-bottom:4px;"></div>

					<span style="width:100px;text-align:right;padding-right:10px;display:inline-block;">Slab Width</span>
					<input class="form-control form-inline" ng-model="obs.slabWidth" style="width:80px;display: inline-block;" meters-or-feet="{{ global.user.settings.elevation }}"/>
					<span style="padding-left:4px;display:inline-block;color:#aaa;">
						{{ global.user.settings.elevation == 0 ? 'm' : 'ft' }}</span>

				    <div style="margin-bottom:4px;"></div>

					<span style="width:100px;text-align:right;padding-right:10px;display:inline-block;">Vertical Fall</span>
					<input class="form-control form-inline" ng-model="obs.slabVertical" style="width:80px;display: inline-block;" meters-or-feet="{{ global.user.settings.elevation }}"/>
					<span style="padding-left:4px;display:inline-block;color:#aaa;">
						{{ global.user.settings.elevation == 0 ? 'm' : 'ft' }}</span>

					
				</div>
			</div>

			<div style="max-width:380px;margin:auto;background:#fff;border-radius:5px;margin-bottom:15px;">
			    <h2 style="font-size:14px;font-weight:700;margin:0;padding:12px;border-bottom:1px solid #eee;">People Involved</h2>
			    <div class="body">

			    <div style="width:48%;display:inline-block;">
					<span style="width:104px;text-align:right;padding-right:10px;display:inline-block;">Caught</span>
						<select class="form-control" ng-model="obs.peopleCaught" required style="width:55px;display:inline-block;">
							<option value=""></option>
							<option value="0">0</option><option value="1">1</option><option value="2">2</option>
							<option value="3">3</option><option value="4">4</option><option value="5">5</option>
							<option value="6">6</option><option value="7">7</option><option value="8">8</option>
							<option value="9">9</option><option value="10">10</option><option value="11">11</option>
							<option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option>
						</select>


				    <div style="margin-bottom:4px;"></div>

					<span style="width:104px;text-align:right;padding-right:10px;display:inline-block;">Buried - Partially</span>
						<select class="form-control" ng-model="obs.peopleBuriedPartially" required style="width:55px;display:inline-block;">
							<option value=""></option>
							<option value="0">0</option><option value="1">1</option><option value="2">2</option>
							<option value="3">3</option><option value="4">4</option><option value="5">5</option>
							<option value="6">6</option><option value="7">7</option><option value="8">8</option>
							<option value="9">9</option><option value="10">10</option><option value="11">11</option>
							<option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option>
						</select>

				    <div style="margin-bottom:4px;"></div>

					<span style="width:104px;text-align:right;padding-right:10px;display:inline-block;">Injured</span>
						<select class="form-control" ng-model="obs.peopleInjured" required style="width:55px;display:inline-block;">
							<option value=""></option>
							<option value="0">0</option><option value="1">1</option><option value="2">2</option>
							<option value="3">3</option><option value="4">4</option><option value="5">5</option>
							<option value="6">6</option><option value="7">7</option><option value="8">8</option>
							<option value="9">9</option><option value="10">10</option><option value="11">11</option>
							<option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option>
						</select>
				</div>

			    <div style="width:48%;display:inline-block;">


					<span style="width:90px;text-align:right;padding-right:10px;display:inline-block;">Carried</span>
						<select class="form-control" ng-model="obs.peopleCarried" required style="width:55px;display:inline-block;">
							<option value=""></option>
							<option value="0">0</option><option value="1">1</option><option value="2">2</option>
							<option value="3">3</option><option value="4">4</option><option value="5">5</option>
							<option value="6">6</option><option value="7">7</option><option value="8">8</option>
							<option value="9">9</option><option value="10">10</option><option value="11">11</option>
							<option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option>
						</select>

				    <div style="margin-bottom:4px;"></div>

					<span style="width:90px;text-align:right;padding-right:10px;display:inline-block;">Buried - Fully</span>
						<select class="form-control" ng-model="obs.peopleBurriedFully" required style="width:55px;display:inline-block;">
							<option value=""></option>
							<option value="0">0</option><option value="1">1</option><option value="2">2</option>
							<option value="3">3</option><option value="4">4</option><option value="5">5</option>
							<option value="6">6</option><option value="7">7</option><option value="8">8</option>
							<option value="9">9</option><option value="10">10</option><option value="11">11</option>
							<option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option>
						</select>


				    <div style="margin-bottom:4px;"></div>

					<span style="width:90px;text-align:right;padding-right:10px;display:inline-block;">Killed</span>
						<select class="form-control" ng-model="obs.peopleKilled" required style="width:55px;display:inline-block;">
							<option value=""></option>
							<option value="0">0</option><option value="1">1</option><option value="2">2</option>
							<option value="3">3</option><option value="4">4</option><option value="5">5</option>
							<option value="6">6</option><option value="7">7</option><option value="8">8</option>
							<option value="9">9</option><option value="10">10</option><option value="11">11</option>
							<option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option>
						</select>
					
				</div>
			</div>
		</div>


		<div style="max-width:380px;margin:auto;background:#fff;border-radius:5px;margin-bottom:15px;">
		    <h2 style="font-size:14px;font-weight:700;margin:0;padding:12px;border-bottom:1px solid #eee;">Photos</h2>
		    <div class="body" style="padding:3px;">

				<style>
				.upload-area {
					position: relative;
					width: 96%;
					height: 70px;
					border: 2px dashed #aaa;
					border-radius: 5px;
					margin: 7px;
					text-align: center;
					color: #777;
					padding-top: 6px;
					font-size: 20px;
				}
				.upload-area.over {
					border-color:#ffcc00;
				}
				.upoad-area .big { margin-top: 1px; }
				.upload-area .small {
					font-size: 13px;
					margin-top: 4px;
					font-weight: 100;
				}
				.upload-area input {
					opacity: 0;
					top: 0;
					width: 100%;
					left: 0;
					bottom: 0;
					position: absolute;
					cursor: pointer;
				}
			    </style>
					
				<uploader onadd="onFileAdd(file)" onprogress="onFileProgress(file)" onupload="onFileUpload(file)"></uploader>

				<div ng-repeat="upload in uploading" ng-show="upload.uploading" style="vertical-align:top;height:20px;display:inline-block;width:306px;padding:3px;border-radius:3px;background:#eee;margin-left:6px;margin-bottom:6px;text-align:left;font-size:11px;line-height:15px;color:#666;">

					<div class="progress" style="height:12px;width:50px;display:inline-block;background:#fff;margin-right:3px;margin-top:1px;border:1px solid #bbb;border-radius:99px;overflow:hidden;">
						<div class="progress-bar progress-bar-striped active" style="transition:width 1500ms;height:100%;display:inline-block;background-size:10px 10px;vertical-align: top;" ng-style="{ width: upload.progress + '%' }"></div>
					</div>
					{{ upload.name }}
				</div>

				<div ng-repeat="photo in obs.photos" style="vertical-align:top;height:145px;display:inline-block;width:156px;padding:5px;border-radius:3px;background:#eee;margin-left:6px;margin-bottom:6px;text-align:center;">
					<div ng-style="{ 'background-image': 'url(' + photo.url + ')' }" style="cursor:pointer;margin-bottom:5px;height: 100px;background-size:contain;background-position: center;background-repeat: no-repeat;" ng-click="showPhoto($index)">

						<!--<div ng-show="photo.uploading" style="padding-top:22px;font-size:40px;"><i class="fa fa-circle-o-notch fa-spin"></i></div>-->

					</div>

					<button ng-click="deletePhoto($index)" class="btn btn-sm btn-default" style="float:left;"><i class="fa fa-trash-o"></i></button>
					<input ng-model="photo.caption" class="form-control input-sm" style="width:105px;float:right;" />
				</div>
					
			</div>
		</div>

		<div style="max-width:380px;margin:auto;background:#fff;border-radius:5px;margin-bottom:15px;">
		    <h2 style="font-size:14px;font-weight:700;margin:0;padding:12px;border-bottom:1px solid #eee;">Notes</h2>
		    <div class="body">

				<textarea ng-model="obs.notes" class="form-control" style="height:114px"></textarea>
				
			</div>
		</div>

		<div style="max-width:380px;margin:auto;border-radius:5px;margin-bottom:15px;margin-bottom:40px;">
			<button ng-show="observationId == 'new'" type="submit" class="btn btn-lg btn-primary" style="width:100%;">Submit Observation</button>

			<button ng-hide="observationId == 'new'" type="submit" class="btn btn-lg btn-primary" style="width:100%;">Save Observation</button>

			<br/><br/>
			<button ng-hide="observationId == 'new'" type="button" ng-click="remove()" class="btn btn-link"><i class="fa fa-trash-o"></i>&nbsp;&nbsp;Delete Observation</button>

		</div>

		</div>

		</form>
	</div>
</section>