
<style>

.commentsSection {
	right: 0px;
	background: #fff;
	width: 276px;
	position: absolute;
	height: 600px;
	top: 0px;
	padding-right: 4px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.subheader { 
	font-weight:bold;
	margin-bottom:8px;
	color:#777;
}
.popupHeader {
	height: 48px;
	border-bottom: 1px solid #ddd;
	font-size: 23px;
	line-height: 49px;
	padding-left: 14px;
}
</style>
<div class="modal-body" style="height:600px;padding:0;">
	<div style="font-size:14px;line-height:20px;" ng-show="observation">
	<div class="popupHeader">Avalanche Observation</div>
	<div style="position: absolute; top: 8px;right:284px;">

	    <div class="btn-group" style="margin-left:2px;" ng-if="global.user._id == observation.user._id">
	      <a href="/observations/{{ observation._id }}" class="btn btn-default btn-settings btn-sm" style="font-size: 13px;height: 32px;line-height:21px;"><i class="fa fa-pencil"></i>&nbsp;&nbsp;Edit</span></a>
	    </div>
    </div>
	<div style="padding:12px;">
		Observer: <b>{{observation.user.fullName}}</b><br/>
		Organization: <b>{{observation.organization.name}}</b><br/>

		Observation Date: <b>{{observation.date | date:'M/d/yy'}} {{observation.time | date:'h:mm a'}}</b><br/>
		Location: <b>{{ observation.locationName }}</b> ({{ observation.location[1].toFixed(6) }}, {{ observation.location[0].toFixed(6) }})<br/>
		Elevation: <b>{{ formatters.formatElevation(observation.elevation) }}</b>&nbsp;&nbsp;&nbsp;
		Slope: <b>{{ formatters.formatSlope(observation.slope) }}</b>&nbsp;&nbsp;&nbsp;
		Aspect: <b>{{ formatters.formatDirection(observation.aspect) }}</b><br/><br/>

		Avalanche Type: <b>{{ avalancheTypes[observation.avalancheType] }}</b><br/>
		Trigger: <b>{{ avalancheTriggers[observation.trigger] }}</b><br/>
		<b>{{ getTriggerNames(observation.secondaryTriggers) }}</b><br/><br/>

		<div class="subheader">Avalanche Size</div>

		Relative: <b>{{ observation.sizeRelative }}</b><br/>
		Destructive: <b>{{ observation.sizeDestructive }}</b><br/><br/>

		<div class="subheader">Avalanche Dimensions</div>

		Slab Thickness: <b>{{ formatters.formatCmOrIn(observation.slabThickness) }}</b><br/>
		Slab Width: <b>{{ formatters.formatMetersOrFeet(observation.slabWidth) }}</b><br/>
		Vertical Fall: <b>{{ formatters.formatMetersOrFeet(observation.slabVertical) }}</b><br/><br/>

		<div style="position:absolute;right: 470px;top: 261px;">
		<div class="subheader">People Involved</div>

		Caught: <b>{{ observation.peopleCaught }}</b><br/>
		Carried: <b>{{ observation.peopleCarried }}</b><br/>
		Buried - Partially: <b>{{ observation.peopleBuriedPartially }}</b><br/>
		Buried - Fully: <b>{{ observation.peopleBurriedFully }}</b><br/>
		Injured: <b>{{ observation.peopleInjured }}</b><br/>
		Killed: <b>{{ observation.peopleKilled }}</b><br/>
		</div>

		<div style="position:absolute;right: 290px;top: 261px;width:160px;height:336px;" scrollable>
		<div class="subheader">&nbsp;Photos</div>

			<div ng-repeat="photo in observation.photos" style="vertical-align:top;height:145px;display:inline-block;width:156px;padding:5px;border-radius:3px;background:#eee;margin-left:6px;margin-bottom:6px;text-align:center;">
				<div style="cursor:pointer;margin-bottom:5px;background-image:url({{ photo.url }});height: 100px;background-size:contain;background-position: center;background-repeat: no-repeat;" ng-click="showPhoto($index)">
				</div>

				<span style='font-size:11px;'>{{ photo.caption }}</span>
			</div>
		</div>


		<div class="subheader">Notes</div>
		<div scrollable style="font-size: 12px; width: 250px;height: 113px;line-height: 14px;;">{{ observation.notes }}</div>

		<!--Aspect: {{ profile.metaData.aspect }}<br/>
		Slope: {{ profile.metaData.slope }}<br/>-->
	</div>
	</div>

	<div class="commentsSection">
		<comments ng-show="observation" owner-type="'observation'" owner-id="observationId"></comments>
	</div>


</div>

<!--<div class="modal-footer" style="margin-top:0px;">

    <span class="btn btn-default" ng-click="no()">No</span>
    <span class="btn btn-warning" ng-click="yes()">Yes</span>
</div>-->